<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Principal component of the application.
  Consist in displaying the appbar and the main component -->
<template>
  <v-app>
    <!-- App bar to go in the different menus -->
    <v-app-bar app color="white" v-if="loggedIn">
      <div class="d-flex align-center">
        <v-toolbar-title>
          <router-link to="/">
            <v-img
              class="custom-logo"
              :alt="'Logo ' + config.name"
              contain
              src="../src/assets/logo.png"
              height=50px
            />
          </router-link>
        </v-toolbar-title>
      </div>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn
          text
          v-for="item in menuItems"
          :key="item.title"
          :to="item.path">
          {{ item.title }}
        </v-btn>
        <v-btn
          text
          to="/compte"
          style="margin-left: 100px;">
          Mon compte
          <font-awesome-icon id="icon" class="ml-2" :icon="['fas', 'user-alt']"/>
        </v-btn>
        <v-btn
          text
          @click="logout">
          Se déconnecter
          <font-awesome-icon id="icon" class="ml-2" :icon="['fas', 'sign-out-alt']"/>
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <!-- App bar when not logged in -->
    <v-app-bar color="white" app v-else>
      <div class="d-flex align-center">
        <v-toolbar-title>
          <router-link to="/">
            <v-img
              class="custom-logo"
              :alt="'Logo ' + config.name"
              contain
              src="../src/assets/logo.png"
              height=50px
            />
          </router-link>
        </v-toolbar-title>
      </div>
    </v-app-bar>
    <!-- Main component with which the user can interact -->
    <v-main>
      <div align="center" v-if="loggedIn" class="mb-4">
        <!-- Display user's information -->
        <h3 class="no-margin" display="flex">
          {{ this.prenom }} &nbsp; {{ this.nom }} &nbsp;
          <label class="font-lighter"> ({{ this.typeCompte }}) </label>
        </h3>
      </div>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
// Access to functions to use the users related database
import bddUser from '@/services/BddUser';
// Import the global data from the configuration file
import configGlobal from '../config.global';

export default {
  name: 'App', // Component's name
  data() {
    return {
      // Configuration object
      config: configGlobal,
      // Boolean to know if the user is logged in
      loggedIn: false,
      // User's lastname
      nom: '',
      // User's firstname
      prenom: '',
      // User's account type
      typeCompte: '',
      // Menu's items to display in the appbar
      menuItems: [],
    };
  },
  async mounted() {
    // Check the user's data and rights
    if (this.$session.exists()) {
      // Set variables
      this.loggedIn = true;
      this.typeCompte = this.$session.get('role');
      this.nom = this.$session.get('nom');
      this.prenom = this.$session.get('prenom');
      // Determine the actual user's role
      const roleUtil = await bddUser.findRole({ nomRole: this.typeCompte, token: this.$session.get('token') });
      // Get the list of permissions according to the role
      const droits = roleUtil.data[0].listePermission;
      // Determine if the actual user can access to the database management
      const verif = await droits.filter(element => element.nomPermission === 'gestion des rues/par/pro');
      // Adjust menu's items according to the user's rights
      if (verif.length > 0) {
        this.menuItems = [
          { title: 'Rechercher', path: '/' },
          { title: 'Ajouter', path: '/ajouter' },
          { title: 'Proposition', path: '/proposition' },
          { title: 'Matériaux', path: '/materiaux' },
          { title: 'Documents', path: '/documents' },
        ];
      } else {
        this.menuItems = [
          { title: 'Rechercher', path: '/' },
          { title: 'Proposition', path: '/proposition' },
          { title: 'Documents', path: '/documents' },
        ];
      }
    }
  },
  methods: {
    /**
     * Allow the user to log out from the app
     */
    logout() {
      this.$session.destroy();
      this.$router.go();
    },
  },
};
</script>

<style>
/* Main CSS */
#app {
  font-family: 'Ruda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  color: #1c3054;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin: 40px 0 0;
}

.no-margin {
  margin: 0px !important;
}

#icon {
  color: #1c3054;
}

.flex {
    display: flex;
    margin: 5px;
    padding: 5px;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.compte-bloc .center {
  display: grid;
}

.rechercher-bloc {
  width: 35%;
}

.semi-ajouter-bloc {
  width: 35%;
  padding-top: 25px;
  align-content: center;
}

.semi-ajouter-bloc[materiau], [article] {
  width: 50%;
  padding-top: 25px;
  align-content: center;
}

.ajouter-bloc {
  width: 70%;
  margin: auto;
}

.compte-bloc {
  width: 70%;
  margin: auto;
  padding-top: 25px;
}

.modifier-bloc {
  width: 50%;
}

.map-bloc {
  width: 55%;
  position: sticky;
}

#map {
  /* align: center; */
  position: relative;
  width: 100%;
  height: 60vh;
  border:1px solid #1c3054;
  top: 0;
  bottom: 0;
  border-radius:7px;
}

#mapClick {
  position: relative;
  width: 35vw;
  height: 60vh;
  border:1px solid #1c3054;
  border-radius:7px;
}

.legend {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 158px;
  padding: 10px;
  overflow: auto;
  border-radius: 3px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#nav {
  padding: 30px;
  text-align: center;
}

#nav a {
  font-weight: bold;
  color: #1c3054;
}

#nav a.router-link-exact-active {
  color: #1c3054;
}

.v-autocomplete.custom-input {
  max-width: 370px;
}

.v-select.custom-input {
  max-width: 370px;
}

.custom-list {
  margin: auto;
}

.custom-list-group {
  margin-bottom: 10px;
}

/* WARNING : Change the default Vuetify CSS to delete the hover */
.custom-list .v-list-group__header {
  border: 1px solid #1c3054;
  border-radius: 26px;
  max-width: 400px;
}

/* WARNING : Change the default Vuetify CSS to delete the hover */
.v-application--is-ltr .custom-list-group[add-article]
  > .v-list-group__items > .v-list-item {
  padding-left: 16px;
}
.v-application--is-rtl .custom-list-group[add-article]
  > .v-list-group__items > .v-list-item {
  padding-right: 16px;
}

/* WARNING : Change the default Vuetify CSS to delete the hover */
.custom-list-group .v-list-item--link::before {
  content: none;
}

.custom-input {
  border: none;
  display:flex;
  width: 370px;
  margin-left: 15px;
  color: #1c3054;
}

.custom-text-field {
  border: none;
  color: #1c3054;
}

.custom-autocomplete {
  max-width: 600px !important;
}

.custom-bloc .custom-text-field {
  max-width: 400px;
}

.custom-form#disabled {
  display: flex;
  border:1px solid #777777;
  color: #777777;
  background-color: #eeeeee;
}

.custom-form {
  display: flex;
  border:1px solid #1c3054;
  height:39px;
  width:400px;
  border-radius:24px;
  z-index:3;
  margin-left: 10px;
  margin-right: 60px;
}

.custom-select {
  flex: 1;
  align-items: center;
  padding: 4px;
  max-width:130px;
  border:1px solid #1c3054;
  border-radius:24px;
  z-index:3;
}

.custom-bloc .custom-select {
  margin-left: 10px;
  min-width: 195px;
}

.custom-bloc {
  display: flex;
  justify-content: center;
}

.custom-cadre {
  border: 1px solid #1c3054;
  border-radius: 14px;
  background-color: #ffffff;
}

.custom-h3 {
  display: flex;
  justify-content: center;
}

.custom-divider {
  margin: 0 30px 0 30px;
}

.custom-panonceau {
  font-family: 'CaracteresL1';
  color: #000000;
  font-size: 24px;
}

.custom-cadre[panonceau] {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  align-content: center;
}

.custom-cadre[icone] {
  border: 1px solid #000000;
  border-radius: 10px;
}

@font-face {
  font-family: 'CaracteresL1';
  src: url('./assets/fonts/Caracteres_L1.ttf');
}

.custom-table {
  width: 80%;
  margin: 15px 75px 0px 75px;
  color: inherit;
}

#custom-card {
  border:1px solid #1c3054;
  border-radius:15px;
  margin-bottom: 10px;
  color: inherit;
}

/* WARNING : Change the default Vuetify CSS to enable the checkbox */
#custom-card .enable {
  pointer-events: initial;
}

/* WARNING : Change the default Vuetify CSS to enable the checkbox */
.pointer.v-card--link::before {
  background: none;
}

.custom-snackbar {
  margin-bottom: 30px;
  max-width: 50;
}

/* WARNING : Change the default Vuetify CSS to enable the checkbox */
@media only screen and (min-width:600px) {
 .custom-snackbar[reduce-size] .v-snack__wrapper {
   min-width: 50px;
   max-height: 40px;
 }
}

.pre-formatted {
  white-space: pre;
}

.italic {
  font-style: italic;
}

.pointer {
  cursor: pointer;
}

.custom-form:hover {
  box-shadow:15px 15px 15px 15px rgba(0, 0, 0, 0);
}

.custom-label {
  display: flex;
  color: #1c3054;
  margin-top: 9px;
}

.custom-button {
  display: flex;
  color: #1c3054;
  margin-right: 10px;
}

.compte-bloc .custom-button {
  margin: auto;
}

.custom-row {
  padding-left: 50px;
}

.custom-button2 {
  margin-right: 20px;
}

.custom-button3 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.font-lighter {
  font-weight: lighter;
}

.card-subtitle {
  font-weight: lighter;
  margin-top: 7px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1c3054;
  opacity: 0.75; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #1c3054;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #1c3054;
}

.mapboxgl-popup-content {
  pointer-events: auto;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mapboxgl-map {
  font: 7px/14px Helvetica Neue,Arial,Helvetica,sans-serif;
}
</style>
