<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to add a user -->
<template>
    <div app>
        <h1 align="center">Ajout d'un nouvel utilisateur</h1>
        <br/>
        <!-- Form -->
        <div class="flex">
          <v-form class="ajouter-bloc" ref="formUtilisateur" v-model="validUtil">
            <!-- Firstname -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" label="Prénom (*)" type="text"
              id="prenom" v-model="prenom" :rules="requiredRules"
              outlined rounded dense required/>
            </div>
            <!-- Lastname -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Nom (*)"
              id="nom" v-model="nom" :rules="requiredRules"
              outlined rounded dense required/>
            </div>
            <!-- Id -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Identifiant (*)"
              id="identifiant" v-model="identifiant"
              :rules="requiredRules.concat(idUtilRequiredRules)"
              outlined rounded dense required/>
            </div>
            <!-- Password -->
            <div class="custom-bloc">
              <!-- The click on icon allows to show or hide the password changing
              type of text field -->
              <v-text-field class="custom-text-field" label="Mot de passe (*)"
              id="mdp" v-model="mdp" :rules="requiredRules"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              @click:append="show = !show"
              outlined rounded dense required/>
            </div>
            <!-- Confirmed password -->
            <div class="custom-bloc">
              <!-- The click on icon allows to show or hide the password changing
              type of text field -->
              <v-text-field class="custom-text-field"
              label="Confirmation mot de passe (*)"
              id="confMdp" v-model="confMdp" :rules="confirmedMdpRules"
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              @click:append="show2 = !show2"
              outlined rounded dense required/>
            </div>
            <!-- Account's type -->
            <div class="custom-bloc">
              <v-select
                class="custom-text-field"
                label="Type de compte (*)"
                v-model="type"
                :items="options"
                :rules="requiredRules"
                outlined
                rounded
                dense
                required
              />
            </div>
            <div class="mt-4" align="center">
              <label class="font-lighter">Les champs (*) sont requis.</label>
            </div>
          </v-form>
        </div>
        <br/>
        <div class="center">
          <!-- Button to save the user -->
          <div class="custom-button mr-5">
              <v-btn color="primary" depressed rounded :disabled="!validUtil"
              @click="addUtilisateur">Enregistrer</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined to="/gestionUtilisateurs">Quitter</v-btn>
          </div>
        </div>
    </div>
</template>

<script>
// Access to functions to find, modify or delete database elements
import bddUser from '@/services/BddUser';

export default {
  data() {
    return {
      // Form rules to force a field to be required
      requiredRules: [
        v => !!v || 'Ce champ est requis',
      ],
      // Form rules to force a field to be required and to be the same as the password chosen
      confirmedMdpRules: [
        v => !!v || 'Ce champ est requis',
        v => (v === this.mdp && v !== '') || 'Ne correspond pas au mot de passe choisi',
      ],
      // Form rules to force a field to be required
      // and not to be the same as an id that already exits
      idUtilRequiredRules: [
        v => this.listeAllUtil.indexOf(v.toString().trim()) < 0 || 'Un utilisateur avec le même identifiant existe déjà',
      ],

      show: false, // Boolean to know if the password has to be hidden
      show2: false, // Boolean to know if the confirmed password has to be hidden

      // Boolean to know if the user's form is correctly completed
      validUtil: false,
      // Firstname
      prenom: '',
      // Lastname
      nom: '',
      // Id
      identifiant: '',
      // Password
      mdp: '',
      // Confirmed password
      confMdp: '',
      // Account's type
      type: 'Responsable technique',
      // List of possible account types
      options: [
        'Administrateur',
        'Responsable technique',
        'Consultant',
      ],
      // Array to store all the users from the database
      listeAllUtil: [],
    };
  },
  async mounted() {
    // Fill the array with all the users
    await this.fillAllUtil();
  },
  methods: {
    /**
     * Asynchronous function to add a user
     */
    async addUtilisateur() {
      // Add the user in the database
      await bddUser.addUser({
        prenom: this.prenom.toString().trim(),
        nom: this.nom.toString().trim(),
        identifiant: this.identifiant.toString().trim(),
        motDePasse: this.mdp,
        role: this.type,
        token: this.$session.get('token'),
      });
      // Return to the previous page
      this.$router.push('/compte');
    },
    /**
     * Asynchronous function to get all the users from the database
     */
    async fillAllUtil() {
      // Search the users
      const response = await bddUser.findUtil({ token: this.$session.get('token') });
      const res = response.data;
      // Save these users in an array
      res.forEach((element) => {
        this.listeAllUtil.push(element.identifiant);
      });
    },
  },
};
</script>
