<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to add :
    - Rue : a street
    - Propriétaire : an owner
    - Parcelle : a land lot
  through a form.

  Forms are composed of different elements mostly classic text fields,
  autocomplete fields or selection fields.
-->
<template>
    <div app>
      <!-- Button to change the element's category to add -->
      <div align="center">
        <div class="custom-select" align="center">
          <select
            v-model="type" style="min-width: 95px;" @blur="setIconDown"
            @mouseup="mouseup" id="selectButton" @change="checkArticle = false"
          >
            <option v-for="option in options" v-bind:key="option.id">
              {{ option.value }}
            </option>
          </select>
          <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
        </div>
      </div>
      <br/>
      <!-- Rue (street)-->
      <div v-if="this.type === 'Rue'">
        <h1 align="center">Ajout d'une nouvelle rue</h1>
        <v-form ref="formRue" v-model="validRue">
          <div class="flex">
            <!-- Form -->
            <div class="semi-ajouter-bloc">
              <!-- Street's name -->
              <div class="custom-bloc">
                <v-text-field class="custom-text-field" dense
                  label="Nom (*)" type="text"
                  append-icon="mdi-content-copy"
                  @click:append="copyText"
                  :rules="nameRequiredRules.concat(nomRueRequiredRules)"
                  :value="nom = nom.toString().replace(/ +(?= )/g,'')"
                  id="nomRue" v-model="nom" outlined rounded required
                />
              </div>
              <!-- Street's said location -->
              <div class="custom-bloc">
                <v-autocomplete
                  class="custom-text-field"
                  label="Lieu-dit"
                  v-model="lieuDit"
                  :items="listeLieu"
                  no-data-text="Le lieu-dit indiqué n'existe pas."
                  hide-details
                  :search-input.sync="searchLieu"
                  outlined
                  rounded
                  dense
                />
              </div>
              <!-- Street's starting point coordinates -->
              <h3 style="margin-left: 15%;">
                Coordonnées du point de départ de la rue :
              </h3>
              <br/>
              <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="latitudeD"
                  id="latitudeD" v-model="latitudeD" :rules="latitudeRules" clearable
                  @input="latitudeD = $event?$event:''"
                  @keydown.delete="latitudeD =
                    replaceCoordinate(latitudeD, false, true, config.latitudePrefix + '.')"
                  @keydown="latitudeD =
                    replaceCoordinate(latitudeD, false, false, config.latitudePrefix + '.')"
                  @focus="latitudeD =
                    replaceCoordinate(latitudeD, true, false, config.latitudePrefix + '.')"
                  outlined dense rounded label="Latitude" suffix="°"/>
              </div>
              <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="longitudeD"
                  id="longitudeD" v-model="longitudeD" :rules="longitudeRules" clearable
                  @input="longitudeD = $event?$event:''"
                  @keydown.delete="longitudeD =
                    replaceCoordinate(longitudeD, false, true, config.longitudePrefix + '.')"
                  @keydown="longitudeD =
                    replaceCoordinate(longitudeD, false, false, config.longitudePrefix + '.')"
                  @focus="longitudeD =
                    replaceCoordinate(longitudeD, true, false, config.longitudePrefix + '.')"
                  outlined dense rounded label="Longitude" suffix="°"/>
              </div>
              <!-- Street's middle point coordinates -->
              <h3 style="margin-left: 15%;">
                Ajout / Supression de coordonnées intermédiaires
              </h3>
              <div align="center" class="mt-1 mb-9">
                <v-btn fab x-small dark color="#1c3054"
                  outlined @click="addMidCoord">
                  <v-icon dark>mdi-plus</v-icon>
                </v-btn>
                <v-btn v-if="this.nbCoordInt > 0" class="ml-1" fab x-small dark
                  outlined color="#1c3054" @click="removeMidCoord">
                  <v-icon dark>mdi-minus</v-icon>
                </v-btn>
              </div>
              <!-- Street's ending point coordinates -->
              <h3 style="margin-left: 15%; margin-top: -1%;">
                Coordonnées du point de fin de la rue :
              </h3>
              <br/>
              <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="latitudeF"
                  id="latitudeF" v-model="latitudeF" :rules="latitudeRules" clearable
                  @input="latitudeF = $event?$event:''"
                  @keydown.delete="latitudeF =
                    replaceCoordinate(latitudeF, false, true, config.latitudePrefix + '.')"
                  @keydown="latitudeF =
                    replaceCoordinate(latitudeF, false, false, config.latitudePrefix + '.')"
                  @focus="latitudeF =
                    replaceCoordinate(latitudeF, true, false, config.latitudePrefix + '.')"
                  outlined dense rounded label="Latitude" suffix="°"/>
              </div>
              <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="longitudeF"
                  id="longitudeF" v-model="longitudeF" :rules="longitudeRules" clearable
                  @input="longitudeF = $event?$event:''"
                  @keydown.delete="longitudeF =
                    replaceCoordinate(longitudeF, false, true, config.longitudePrefix + '.')"
                  @keydown="longitudeF =
                    replaceCoordinate(longitudeF, false, false, config.longitudePrefix + '.')"
                  @focus="longitudeF =
                    replaceCoordinate(longitudeF, true, false, config.longitudePrefix + '.')"
                  outlined dense rounded label="Longitude" suffix="°"/>
              </div>
              <div style="margin-top: 50px;" align="center">
                <label class="font-lighter">Les champs (*) sont requis.</label>
              </div>
              <br/>
              <!-- Add an article to the order -->
              <div class="custom-h3">
                <v-checkbox style="width: 400px; margin-top: 20px !important;"
                  color="primary" v-model="checkArticle"
                  label="Ajouter un (ou des) article(s) à la commande"/>
              </div>
            </div>
            <v-divider class="custom-divider" inset vertical></v-divider>
            <!-- MapClick component used to automatically -->
            <!-- fill coordinates fields by clicking on it -->
            <div class="map-bloc" align="center">
              <MapClick :typeMap="this.type" :nbCoordInt="this.nbCoordInt"
                @resetCoordInt="this.resetCoordInt" @updateCoord="updateCoordRue"/>
            </div>
          </div>
          <br/>
          <!-- Adding article form -->
          <div v-if="checkArticle">
            <v-list
              class="custom-list"
              align="center"
            >
              <v-list-group
                v-for="(item, i) in articles"
                :key="i"
                add-article
                no-action
                value="true"
                class="custom-list-group"
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>
                      Article {{ i+1 }}
                      <v-btn
                        v-if="i > 0"
                        icon class="primary" color="#ffffff" depressed rounded
                        style="margin-left: 60%;"
                        @click="removeArticles(i)">
                        <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                      </v-btn>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item :class="i === articles.length-1 ? '' : 'mb-10'">
                  <v-list-item-content>
                    <AjoutArticle
                      ref="artForm" v-if="!item.status"
                      @added="item.status = true" :index="i"
                      @formValidation="validArt"
                    />
                    <h3 v-else class="custom-bloc mt-3">
                      L'article a bien été ajouté à la commande !
                    </h3>
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
              <v-btn icon color="primary" class="mt-4" depressed rounded
                style="border: 2px solid #1c3054;"
                @click="addArticles">
                <font-awesome-icon :icon="['fas', 'plus']"/>
              </v-btn>
            </v-list>
          </div>
        </v-form>
        <br/>
        <br/>
        <div class="center">
          <!-- Button to save the new street -->
          <div class="custom-button mr-5">
              <v-btn color="primary" depressed rounded
                :disabled="Boolean(isDisabled(validRue))"
                @click="addRue">Enregistrer</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Propriétaire (owner) -->
      <div v-else-if="this.type === 'Propriétaire'">
        <h1 align="center">Ajout d'un nouveau propriétaire</h1>
        <br/>
        <!-- Form -->
        <v-form class="ajouter-bloc" ref="formPro" v-model="validPro">
          <!-- Owner's civility -->
          <div class="custom-bloc">
            <v-select class="custom-text-field" label="Civilité (*)" v-model="civilite"
              :items="civiliteItems" :rules="requiredRules" outlined rounded dense required
              @change="resetValidationFormPro"/>
          </div>
          <div v-if="civilite !== 'Entreprise'">
            <!-- Civility of the owner's spouse -->
            <div class="custom-bloc">
              <v-select class="custom-text-field" label="Civilité conjoint" clearable
                v-model="civiliteConjoint" :items="civiliteItems" outlined rounded dense/>
            </div>
            <!-- Owner's lastname -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Nom (*)"
              id="nomPro" v-model="nomPro" :rules="nameRequiredRules"
              outlined rounded dense required/>
            </div>
            <!-- Owner's firstname -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Prénom (*)"
              id="prenomPro" v-model="prenomPro" :rules="nameRequiredRules"
              outlined rounded dense required/>
            </div>
            <!-- Lastname of the owner's spouse -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Nom conjoint"
              id="nomConjoint" v-model="nomConjoint" :rules="nameRules"
              outlined rounded dense/>
            </div>
            <!-- Firstname of the owner's spouse -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Prénom conjoint"
              id="prenomConjoint" v-model="prenomConjoint" :rules="nameRules"
              outlined rounded dense/>
            </div>
          </div>
          <!-- Enterprise -->
          <div v-else>
            <!-- Enterprise's name -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" type="text" label="Nom de l'entreprise (*)"
              v-model="nomEntreprise" :rules="nameRequiredRules"
              outlined rounded dense required/>
            </div>
          </div>
          <!-- Street number -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field mr-5"  type="text" label="Numéro de rue"
            id="numeroRuePro" v-model="numeroRuePro" :rules="numberRules" style="max-width: 200px;"
            outlined rounded dense/>
            <v-text-field class="custom-text-field ml-5" type="text" label="Bis/Ter"
            id="bisTer" v-model="bisTerPro" :rules="bisTerRules" style="max-width: 160px;"
            outlined rounded dense/>
          </div>
          <!-- Street's name -->
          <div class="custom-bloc">
            <v-combobox
              class="custom-text-field"
              label="Rue (*)"
              :items="listeRue"
              :search-input.sync="searchRuePro"
              v-model="ruePro"
              :rules="requiredRules"
              dense
              outlined
              rounded
              required
            />
          </div>
          <!-- Address suplement -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field" type="text" label="Complément"
            id="complement" v-model="complementPro" :rules="nameRules"
            outlined rounded dense/>
          </div>
          <!-- Said location -->
          <div class="custom-bloc">
            <v-combobox
              class="custom-text-field"
              label="Lieu-dit"
              :items="listeLieu"
              :search-input.sync="searchLieuDitPro"
              v-model="lieuDitPro"
              :rules="nameRules"
              dense
              outlined
              rounded
            />
          </div>
          <!-- Postal code -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field" type="text" label="Code postal (*)"
            id="codePostal" v-model="codePostal" :rules="requiredRules"
            outlined rounded dense required @change="ville = ''"/>
          </div>
          <!-- City : Choose a city in a list corresponding to the postal code or enter a city -->
          <div class="custom-bloc">
            <v-combobox
              class="custom-text-field"
              label="Ville (*)"
              :items="listeVille"
              v-model="ville"
              :rules="requiredRules"
              dense
              outlined
              rounded
              required
            >
              <!-- Display a message when the text entered returns no data -->
              <template v-slot:no-data>
                <v-list-item>
                  Aucune ville ne correspond au code postal indiqué.
                </v-list-item>
              </template>
            </v-combobox>
          </div>
          <!-- Country -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field" type="text" label="Pays (*)"
            id="pays" v-model="pays" :rules="nameRequiredRules"
            outlined rounded dense required/>
          </div>
          <br/>
          <div align="center">
            <label class="font-lighter">Les champs (*) sont requis.</label>
          </div>
          <br/>
          <br/>
          <!-- Add an article to the order -->
          <div class="custom-h3">
            <v-checkbox style="width: 400px; margin-top: 20px !important;"
              color="primary" v-model="checkArticle"
              label="Ajouter un (ou des) article(s) à la commande"/>
          </div>
          <br/>
          <div v-if="checkArticle">
            <v-list
              class="custom-list"
              align="center"
            >
              <v-list-group
                v-for="(item, i) in articles"
                :key="i"
                add-article
                no-action
                value="true"
                class="custom-list-group"
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>
                      Article {{ i+1 }}
                      <v-btn
                        v-if="i > 0"
                        icon class="primary" color="#ffffff" depressed rounded
                        style="margin-left: 60%;"
                        @click="removeArticles(i)">
                        <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                      </v-btn>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item :class="i === articles.length-1 ? '' : 'mb-10'">
                  <v-list-item-content>
                    <AjoutArticle
                      ref="artForm" v-if="!item.status" @added="item.status = true" :index="i"
                      @formValidation="validArt"
                    />
                    <h3 v-else class="custom-bloc mt-3">
                      L'article a bien été ajouté à la commande !
                    </h3>
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
              <v-btn icon color="primary" class="mt-4" depressed rounded
                style="border: 2px solid #1c3054;"
                @click="addArticles">
                <font-awesome-icon :icon="['fas', 'plus']"/>
              </v-btn>
            </v-list>
          </div>
        </v-form>
        <div class="center">
          <!-- Button to save the new owner -->
          <div class="custom-button mr-5">
              <v-btn color="primary" depressed rounded :disabled="Boolean(isDisabled(validPro))"
              @click="addPro">Enregistrer</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Parcelle (land lot) -->
      <div v-else-if="this.type === 'Parcelle'">
        <h1 align="center">Ajout d'une nouvelle parcelle</h1>
        <br/>
        <!-- Form -->
        <v-form ref="formPar" v-model="validPar">
          <div class="flex">
            <div class="semi-ajouter-bloc">
              <!-- Owner -->
              <div class="custom-bloc">
                <v-autocomplete
                  v-model="modelPro"
                  class="custom-text-field"
                  label="Propriétaire (*)"
                  :items="itemsPro"
                  item-text="value"
                  item-value="id"
                  :hide-no-data="awaitingSearchPro"
                  :filter="(item) => this.itemsPro.some(res => res.id === item.id)"
                  cache-items
                  no-data-text="Le propriétaire indiqué n'existe pas, veuillez d'abord le créer."
                  return-object
                  :search-input.sync="searchPro"
                  :rules="requiredRules"
                  dense
                  rounded
                  outlined
                  required
                >
                  <template v-slot:item="{ parent, item, on, attrs }">
                    <v-list-item v-on="on" v-bind="attrs">
                      <v-list-item-title>
                        {{ item.value }}
                      </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </div>
              <!-- Land lot's number -->
              <div class="custom-bloc">
                <v-text-field class="custom-text-field"  type="text" label="Numéro de parcelle (*)"
                :rules="requiredRules.concat(numParRequiredRules)"
                id="numeroPar" v-model="numeroPar" outlined rounded dense required/>
              </div>
              <!-- Geographical coordinates -->
              <div class="custom-bloc">
                <v-text-field class="custom-text-field"  type="text" label="Latitude (*)"
                id="latitudeP" v-model="latitudeP" :rules="latitudeRequiredRules" clearable
                @input="latitudeP=$event?$event:''"
                @keydown.delete="latitudeP =
                  replaceCoordinate(latitudeP, false, true, config.latitudePrefix + '.')"
                @keydown="latitudeP =
                  replaceCoordinate(latitudeP, false, false, config.latitudePrefix + '.')"
                @focus="latitudeP =
                  replaceCoordinate(latitudeP, true, false, config.latitudePrefix + '.')"
                outlined rounded dense required suffix="°"/>
              </div>
              <div class="custom-bloc">
                <v-text-field class="custom-text-field"  type="text" label="Longitude (*)"
                id="longitudeP" v-model="longitudeP" :rules="longitudeRequiredRules" clearable
                @input="longitudeP=$event?$event:''"
                @keydown.delete="longitudeP =
                  replaceCoordinate(longitudeP, false, true, config.longitudePrefix + '.')"
                @keydown="longitudeP =
                  replaceCoordinate(longitudeP, false, false, config.longitudePrefix + '.')"
                @focus="longitudeP =
                  replaceCoordinate(longitudeP, true, false, config.longitudePrefix + '.')"
                outlined rounded dense required/>
              </div>
              <br/>
              <br/>
              <!-- Street's name -->
              <div class="custom-bloc">
                <v-autocomplete
                  class="custom-text-field"
                  label="Rue (*)"
                  :items="listeRue"
                  no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                  :search-input.sync="searchRue"
                  v-model="selected"
                  :rules="requiredRules"
                  dense
                  outlined
                  rounded
                  required
                />
              </div>
              <!-- Said location -->
              <div class="custom-bloc">
                <v-text-field class="custom-text-field"  type="text" label="Lieu-dit"
                v-model="searchLieuDit" disabled
                outlined rounded dense/>
              </div>
              <h3 class="custom-bloc" style="margin-left: -25% !important; margin-top: 0px;">
                Numéros de maison associés :
              </h3>
              <br/>
              <v-list
                max-width="400"
                class="custom-list"
              >
                <v-list-group
                  v-for="(item, i) in numAssocies"
                  :key="i"
                  no-action
                  value="true"
                  class="custom-list-group"
                >
                  <template v-slot:activator>
                    <v-list-item-content>
                      <v-list-item-title>
                        Numéro {{ i+1 }}
                        <v-btn
                          v-if="i > 0"
                          icon class="primary" color="#ffffff" depressed rounded
                          style="margin-left: 60%;"
                          @click="removeNumAssocies(i)">
                          <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                        </v-btn>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>

                  <v-list-item>
                    <v-list-item-content>
                      <!-- Street number -->
                      <div class="custom-bloc">
                        <v-text-field class="custom-text-field" type="text" label="Numéro de rue"
                        id="numeroRue" v-model="item.numeroRue"
                        :rules="requiredRules.concat(numberRules)"
                        @blur="item.numeroRue = item.numeroRue.toString().trim()"
                        style="min-width: 175px; margin-right: 14px;"
                        outlined rounded dense required/>
                        <v-text-field class="custom-text-field" type="text" label="Bis/Ter"
                        id="bisTer" v-model="item.bisTer"
                        @blur="item.bisTer = item.bisTer.toString().trim()"
                        style="max-width: 140px; margin-left: 14px;"
                        outlined rounded dense/>
                      </div>
                      <!-- Address suplement -->
                      <div class="custom-bloc">
                        <v-text-field class="custom-text-field"  type="text" label="Complément"
                        id="complement" v-model="item.complement"
                        @blur="item.complement = item.complement.toString().trim()"
                        outlined rounded dense/>
                      </div>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-group>
                <v-btn icon color="primary" depressed rounded
                  style="border: 2px solid #1c3054; margin-left: 45%;"
                  @click="addNumAssocies">
                  <font-awesome-icon :icon="['fas', 'plus']"/>
                </v-btn>
              </v-list>
              <br/>
              <br/>
              <!-- Add an article to the order -->
              <div class="custom-h3">
                <v-checkbox style="width: 400px; margin-top: 20px !important;"
                  color="primary" v-model="checkArticle"
                  label="Ajouter un (ou des) article(s) à la commande"/>
              </div>
              <div style="margin-top: 50px;" align="center">
                <label class="font-lighter">Les champs (*) sont requis.</label>
              </div>
              <br/>
            </div>
            <v-divider class="custom-divider" inset vertical></v-divider>
            <!-- MapClick component used to automatically -->
            <!-- fill coordinates fields by clicking on it -->
            <div class="map-bloc" align="center">
              <MapClick :typeMap="this.type" @updateCoord="updateCoordPar"/>
            </div>
          </div>
          <br/>
          <!-- Adding article form -->
          <div v-if="checkArticle">
            <v-list
              class="custom-list"
              align="center"
            >
              <v-list-group
                v-for="(item, i) in articles"
                :key="i"
                add-article
                no-action
                value="true"
                class="custom-list-group"
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>
                      Article {{ i+1 }}
                      <v-btn
                        v-if="i > 0"
                        icon class="primary" color="#ffffff" depressed rounded
                        style="margin-left: 60%;"
                        @click="removeArticles(i)">
                        <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                      </v-btn>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item :class="i === articles.length-1 ? '' : 'mb-10'">
                  <v-list-item-content>
                    <AjoutArticle
                      ref="artForm" v-if="!item.status" @added="item.status = true" :index="i"
                      @formValidation="validArt"
                    />
                    <h3 v-else class="custom-bloc mt-3">
                      L'article a bien été ajouté à la commande !
                    </h3>
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
              <v-btn icon color="primary" class="mt-4" depressed rounded
                style="border: 2px solid #1c3054;"
                @click="addArticles">
                <font-awesome-icon :icon="['fas', 'plus']"/>
              </v-btn>
            </v-list>
          </div>
        </v-form>
        <br/>
        <br/>
        <div class="center">
          <!-- Button to save the new land lot -->
          <div class="custom-button mr-5">
              <v-btn color="primary" depressed rounded :disabled="Boolean(isDisabled(validPar))"
              @click="addPar">Enregistrer</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Display an error snackbar when a same owner is tried to be added -->
      <v-snackbar
        color="red"
        class="custom-snackbar"
        v-model="snackbar"
        :timeout="timeout"
      >Un propriétaire identique existe déjà...</v-snackbar>
      <!-- Display a snackbar when the street name has been copied to the clipboard -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        reduce-size
        v-model="snackbarCopy"
        :timeout="timeout"
      >Copié !</v-snackbar>
      <!-- Display an error snackbar when the copy function is not available -->
      <v-snackbar
        color="red"
        class="custom-snackbar"
        v-model="snackbarCopyFail"
        :timeout="timeout"
      >Cette fonctionnalité n'est pas disponible dans votre navigateur...</v-snackbar>
    </div>
</template>

<script>
// Access to functions to find, modify or delete database elements
import bdd from '@/services/Bdd';
// Import the MapClick component
import MapClick from '@/components/mapClick.vue';
// Import the AjoutArticle component
import AjoutArticle from '@/components/ajoutArticle.vue';
// Access to functions to find cities corresponding to a postal code
import codePostal from '@/services/CodePostal';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  name: 'RechercherRue', // Component's name
  data() {
    return {
      // Configuration object
      config: configGlobal,
      iconSelect: 'angle-down', // String to set the icon's arrow's direction
      focus: false, // Boolean to know if the button is on focus

      snackbar: false, // Boolean to display the snackbar if it is set to true
      snackbarCopy: false, // Boolean to display the copy snackbar if it is set to true
      snackbarCopyFail: false, // Boolean to display the copy failed snackbar if it is set to true
      timeout: 3000, // Time of the snackbar's duration

      // Form rules to force a field to be required
      requiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
      ],
      // Form rules to force a field to have only numbers
      numberRules: [
        v => (/^\d+$/.test(v.toString().trim()) || v.toString() === '') || 'Seuls les chiffres sont autorisés',
        v => !(/^0+$/.test(v.toString().trim())) || 'Le chiffre doit être supérieur à 0',
      ],
      // Form rules to force a field to have a street name shape
      nameRules: [
        // eslint-disable-next-line
        v => (v === null || /^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || v.toString() === '') || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(v !== null && /^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],
      // Form rules to force a field to have a street name shape and to be required
      nameRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => /^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],
      // Form rules to force a field not to have a street name which already exists
      nomRueRequiredRules: [
        v => this.listeAllRue.indexOf(v.toString().trim().toLowerCase()) < 0 || 'Une rue portant le même nom existe déjà',
      ],
      // Form rules to force a field not to have a land lot number which already exists
      numParRequiredRules: [
        v => this.listeAllPar.indexOf(v.toString().trim().toLowerCase()) < 0 || 'Une parcelle portant le même numéro existe déjà',
      ],
      // Form rules to force a field to have a latitude coordinate shape
      latitudeRules: [
        // eslint-disable-next-line
        v => (new RegExp(`/^${this.config.latitudePrefix}\.\d{6}$/`).test(v.toString()) || v.toString() === '') || `Le format n\'est pas correct (ex: ${this.config.latitudePrefix}.163825)`,
        v => v <= 90 || 'La latitude ne doit pas être supérieure à 90',
        v => v >= -90 || 'La latitude ne doit pas être inférieure à -90',
      ],
      // Form rules to force a field to have a longitude coordinate shape
      longitudeRules: [
        // eslint-disable-next-line
        v => (new RegExp(`/^${this.config.longitudePrefix}\.\d{6}$/`).test(v.toString()) || v.toString() === '') || `Le format n\'est pas correct (ex: ${this.config.longitudePrefix}.163825)`,
        v => v <= 180 || 'La longitude ne doit pas être supérieure à 180',
        v => v >= -180 || 'La longitude ne doit pas être inférieure à -180',
      ],
      // Form rules to force a field to have a latitude coordinate shape and to be required
      latitudeRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => new RegExp(`/^${this.config.latitudePrefix}\.\d{6}$/`).test(v.toString()) || `Le format n\'est pas correct (ex: ${this.config.latitudePrefix}.163825)`,
        v => v <= 90 || 'La latitude ne doit pas être supérieure à 90',
        v => v >= -90 || 'La latitude ne doit pas être inférieure à -90',
      ],
      // Form rules to force a field to have a longitude coordinate shape and to be required
      longitudeRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => new RegExp(`/^${this.config.longitudePrefix}\.\d{6}$/`).test(v.toString()) || `Le format n\'est pas correct (ex: ${this.config.longitudePrefix}.163825)`,
        v => v <= 180 || 'La longitude ne doit pas être supérieure à 180',
        v => v >= -180 || 'La longitude ne doit pas être inférieure à -180',
      ],
      // Form rules to force a field to be like bis, ter, ...
      bisTerRules: [
        v => (/^[a-z]+$/.test(v.toString().trim()) || v.toString() === '') || 'Le format n\'est pas correct (ex: bis)',
      ],
      // Form rules to force a field to be required and to represent a quantity
      quantiteRules: [
        v => !!v || 'Ce champ est requis',
        v => v > 0 || 'La quantité doit être au minimum de 1',
      ],

      // Rue (street)
      // Boolean to know if the street's form is correctly completed
      validRue: false,
      // Street's name
      nom: '',
      // Street's said location
      lieuDit: '',
      // Street's start latitude coordinate
      latitudeD: '',
      // Street's start longitude coordinate
      longitudeD: '',
      // Array of street's middle coordinates
      coordInt: [],
      // Number of street's middle coordinates
      nbCoordInt: 0,
      // Street's end latitude coordinate
      latitudeF: '',
      // Street's end longitude coordinate
      longitudeF: '',
      // String of the street's said location search input
      searchLieu: '',

      // Boolean to know if the user want to add an article or not
      checkArticle: false,
      // Array which save the articles
      articles: [{ status: false, valid: false }],

      // Propriétaire (owner)
      validPro: false, // Boolean to know if the owner's form is correctly completed
      existsPro: false, // Boolean to know if the owner already exists
      civilite: '', // Owner's civility
      civiliteConjoint: '', // Civility of the owner's spouse
      nomPro: '', // Owner's lastname
      prenomPro: '', // Owner's firstname
      nomConjoint: '', // Lastname of the owner's spouse
      prenomConjoint: '', // Firstname of the owner's spouse
      nomEntreprise: '', // Enterprise's name
      numeroRuePro: '', // Street number
      bisTerPro: '', // Bis, ter, ...
      ruePro: '', // Street's name
      searchRuePro: '', // String of the owner's street name
      complementPro: '', // Address suplement
      lieuDitPro: '', // Said location
      searchLieuDitPro: '', // String of the owner's said location
      codePostal: '', // Postal code
      ville: '', // City
      pays: 'FRANCE', // Country

      // Array to store the cities corresponding to the postal code entered
      listeVille: [],

      // Parcelle (land lot)
      validPar: false, // Boolean to know if the land lot's form is correctly completed
      searchPro: '', // String of the owner's search input
      awaitingSearchPro: false,
      modelPro: '', // The owner's object related to the actual search input
      // Array to display the temporary owner's name which match with the actual search input
      itemsPro: [],
      proprietaire: '', // String of the land lot's owner
      numeroPar: '', // Land lot number
      latitudeP: '', // Land lot's latitude coordinate
      longitudeP: '', // Land lot's longitude coordinate
      searchRue: '', // String of the land lot's street name
      searchLieuDit: '', // String of the land lot's said location
      numAssocies: [{ numeroRue: '', bisTer: '', complement: '' }],

      // Array to store all the roads which already exist
      listeAllRue: [],
      // Array to store all the land lots which already exist
      listeAllPar: [],
      // Array to display the temporary street's name which match with the actual search input
      listeRue: [],
      // Array to display the temporary said location's name which match
      // with the actual search input
      listeLieu: [],
      civiliteItems: ['Monsieur', 'Madame', 'Entreprise'], // Civility items
      type: (this.$route.params.type || 'Rue'), // Form's category
      // Array of the form's categories
      options: [
        {
          id: 1,
          value: 'Rue',
        },
        {
          id: 2,
          value: 'Propriétaire',
        },
        {
          id: 3,
          value: 'Parcelle',
        },
      ],
      selected: null,
    };
  },
  components: {
    MapClick, // The MapClick component
    AjoutArticle, // The AjoutArticle component
  },
  watch: {
    /**
     * Search in real time owner names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPro(val) {
      this.textePro(val);
    },
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRuePro(val) {
      this.texteRue(val);
    },
    /**
     * Search in real time said location names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchLieu(val) {
      this.texteLieu(val);
    },
    /**
     * Search in real time said location names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchLieuDitPro(val) {
      this.texteLieu(val);
    },
    /**
     * Search in real time the said location's name of the street specified.
     * It allows to automatically fill the said location's field in the land lot's form
     * when the street is specified.
     */
    selected(val) {
      this.searchLD(val);
    },
    /**
     * Search in real time the cities linked to a specific postal code.
     * It allows, in the owner's form, to choose a city in a list
     * when the postal code has been specified.
     */
    codePostal(val) {
      this.searchVille(val);
    },
  },
  /**
   * Code executed during the component's rendering
   */
  async mounted() {
    // this.remplirChamps(); // Fill materials categories to add a material in the order
    await this.fillRue(); // Fill the array containing all the street names of the database
    await this.fillPar(); // Fill the array containing all the land lot numbers of the database
    await this.fillFieldsPar();
  },
  methods: {
    /**
     * Function executed to know if the element could be added
     */
    isDisabled(validForm) {
      // Check if add article box is checked
      if (this.checkArticle) {
        let validation = true;
        // Verify that all articles are valid
        this.articles.forEach((element) => {
          validation = validation && element.valid;
        });
        // Return a boolean to allows save element or not
        return !validForm || !validation;
      }
      // Return a boolean to allows save element or not
      return !validForm;
    },
    /**
    * Function executed to know if the articles are valid
    */
    validArt(val) {
      this.articles[val.index].valid = val.value;
    },
    /**
     * Function executed to add a middle coordinates
     */
    addMidCoord() {
      this.nbCoordInt += 1;
    },
    /**
     * Function executed to remove a middle coordinates
     */
    removeMidCoord() {
      if (this.nbCoordInt >= 1) {
        this.nbCoordInt -= 1;
      }
    },
    /**
     * Function executed to reset a middle coordinates
     */
    resetCoordInt(val) {
      this.nbCoordInt = val;
    },
    /**
     * Reset the form to add an owner
     */
    resetValidationFormPro() {
      if (this.$refs.formPro !== undefined) {
        this.$refs.formPro.resetValidation();
      }
    },
    /**
     * Constraint the input of geographical coordinates.
     * Forbid the user to enter non-desired information.
     * @param {The variable to change} value
     * @param {Boolean to know if the field is on focus} onFocus
     * @param {Boolean to know if the delete key has been pressed} deleteKey
     * @param {The coordinate to write at the string's beginning} coordinate
     * @return {The correct value to display}
     */
    replaceCoordinate(value, onFocus, deleteKey, coordinate) {
      // If the key 'Delete' has been entered and the event of the key has been triggered
      if (!onFocus && deleteKey) {
        if (value.toString().length <= 3) {
          // If the beginning of the coordinate has been deleted, rewrite it
          // The space is only used because one character will be deleted with the 'Delete' key
          return coordinate.toString().concat(' ');
        }
        return value.toString();
      }
      // If a key different from the 'Delete' one has been triggered
      if (!onFocus && !deleteKey) {
        if (value.toString().length <= 3) {
          // If the beginning of the coordinate has been deleted, rewrite it
          return coordinate.toString();
        }
        return value.toString();
      }
      // If the focus event has been triggered
      if (value.toString() === '') {
        // Return the beginning of the coordinate
        return coordinate.toString();
      }
      // Else return the actual value
      return value.toString();
    },
    /**
     * Function to add articles
     */
    addArticles() {
      this.articles.push({
        status: false,
        valid: false,
      });
    },
    /**
     * Function to remove articles
     */
    removeArticles(index) {
      if (index > 0) {
        this.articles.splice(index, 1);
      }
    },
    /**
     * Function to add more number for a land lot
     * (number in street, bis/ter, more)
     */
    addNumAssocies() {
      this.numAssocies.push({
        numeroRue: '',
        bisTer: '',
        complement: '',
      });
    },
    /**
     * Function to remove ore number for a land lot
     * (number in street, bis/ter, more)
     */
    removeNumAssocies(index) {
      if (index > 0) {
        this.numAssocies.splice(index, 1);
      }
    },
    /**
     * Function to copy a text in a textfields
     */
    copyText() {
      const elem = document.getElementById('nomRue');
      // Select the element before copying
      elem.select();
      // Copy
      const bool = document.execCommand('copy');
      const lengthString = elem.value.length;
      // Unset the selection
      elem.setSelectionRange(lengthString, lengthString);
      if (bool) {
        this.snackbarCopy = true;
      } else {
        this.snackbarCopyFail = true;
      }
    },
    /**
     * Set icon up
     */
    setIconUp() {
      this.iconSelect = 'angle-up';
      this.focus = true;
    },
    /**
     * Set icon down
     */
    setIconDown() {
      this.focus = false;
      this.iconSelect = 'angle-down';
    },
    /**
     * Change icon according to user interaction
     */
    mouseup() {
      if (this.focus) {
        document.getElementById('selectButton').blur();
        this.setIconDown();
      } else {
        document.getElementById('selectButton').focus();
        this.setIconUp();
      }
    },
    /**
     * Function to add the new street to the database
     */
    addRue() {
      const results = [];
      // Add, in a Promise.all, all the 'addArticle' functions of the recursively articles
      // Used to insert all the other articles before adding the one in the whole page
      if (this.$refs.artForm !== undefined) {
        // eslint-disable-next-line
        this.$refs.artForm.map((article) => {
          results.push(article.addArticle());
        });
      }
      Promise.all(results)
        .then(async () => {
          // Set the said location a value if it was not specified
          if (this.searchLieu === null) {
            this.searchLieu = '';
          }
          // Add the street to the database
          await bdd.add({
            nom: this.nom.toString().trim(),
            latitudeD: this.latitudeD.toString().trim(),
            longitudeD: this.longitudeD.toString().trim(),
            coordInt: this.coordInt,
            latitudeF: this.latitudeF.toString().trim(),
            longitudeF: this.longitudeF.toString().trim(),
            lieuDit: this.lieuDit.toString().trim(),
            token: this.$session.get('token'),
          });
          this.$router.push('/'); // Return to the home page
        });
    },
    /**
     * Asynchronous function to add the new owner to the database
     */
    async addPro() {
      // Used to insert all the other articles before adding the one in the whole page
      if (this.$refs.artForm !== undefined) {
        this.$refs.artForm.forEach(async (art) => {
          await art.addArticle();
        });
      }
      // Set a variable with the owner to add
      let futurePro = {};
      if (this.lieuDitPro === null || this.lieuDitPro === undefined) {
        this.lieuDitPro = '';
      }
      if (this.civilite.toString().trim() !== 'Entreprise') {
        futurePro = {
          civilite: this.civilite.toString().trim(),
          civiliteConjoint: this.civiliteConjoint.toString().trim(),
          nom: this.nomPro.toString().trim(),
          prenom: this.prenomPro.toString().trim(),
          nomConjoint: this.nomConjoint.toString().trim(),
          prenomConjoint: this.prenomConjoint.toString().trim(),
          numero: this.numeroRuePro.toString().trim(),
          bisTer: this.bisTerPro.toString().trim(),
          rue: this.ruePro.toString().trim(),
          complement: this.complementPro.toString().trim(),
          lieuDit: this.lieuDitPro.toString().trim(),
          codePostal: this.codePostal.toString().trim(),
          ville: this.ville.toString().trim(),
          pays: this.pays.toString().trim(),
        };
      } else {
        futurePro = {
          civilite: this.civilite.toString().trim(),
          nomEntreprise: this.nomEntreprise.toString().trim(),
          numero: this.numeroRuePro.toString().trim(),
          bisTer: this.bisTerPro.toString().trim(),
          rue: this.ruePro.toString().trim(),
          complement: this.complementPro.toString().trim(),
          lieuDit: this.lieuDitPro.toString().trim(),
          codePostal: this.codePostal.toString().trim(),
          ville: this.ville.toString().trim(),
          pays: this.pays.toString().trim(),
        };
      }
      // If the owner to add does not already exists, add it to the database
      if (!this.existsPro) {
        if (futurePro.civilite !== 'Entreprise') {
          await bdd.addPro({
            civilite: this.civilite.toString().trim(),
            civiliteConjoint: this.civiliteConjoint.toString().trim(),
            nom: this.nomPro.toString().trim(),
            prenom: this.prenomPro.toString().trim(),
            nomConjoint: this.nomConjoint.toString().trim(),
            prenomConjoint: this.prenomConjoint.toString().trim(),
            nomEntreprise: '',
            numero: this.numeroRuePro.toString().trim(),
            bisTer: this.bisTerPro.toString().trim(),
            rue: this.ruePro.toString().trim(),
            complement: this.complementPro.toString().trim(),
            lieuDit: this.lieuDitPro.toString().trim(),
            codePostal: this.codePostal.toString().trim(),
            ville: this.ville.toString().trim(),
            pays: this.pays.toString().trim(),
            token: this.$session.get('token'),
          });
        } else {
          await bdd.addPro({
            civilite: this.civilite.toString().trim(),
            civiliteConjoint: '',
            nom: '',
            prenom: '',
            nomConjoint: '',
            prenomConjoint: '',
            nomEntreprise: this.nomEntreprise.toString().trim(),
            numero: this.numeroRuePro.toString().trim(),
            bisTer: this.bisTerPro.toString().trim(),
            rue: this.ruePro.toString().trim(),
            complement: this.complementPro.toString().trim(),
            lieuDit: this.lieuDitPro.toString().trim(),
            codePostal: this.codePostal.toString().trim(),
            ville: this.ville.toString().trim(),
            pays: this.pays.toString().trim(),
            token: this.$session.get('token'),
          });
        }
        // Return to the home page
        this.$router.push('/');
      } else {
        // If the owner already exists, display the snackbar with the error message
        this.snackbar = true;
      }
    },
    /**
     * Asynchronous function to add the new land lot to the database
     */
    async addPar() {
      // Used to insert all the other articles before adding the one in the whole page
      if (this.$refs.artForm !== undefined) {
        this.$refs.artForm.forEach(async (art) => {
          await art.addArticle();
        });
      }
      // Add the land lot to the database
      await bdd.addPar({
        numeroPar: this.numeroPar.toString().trim(),
        latitudeP: this.latitudeP.toString().trim(),
        longitudeP: this.longitudeP.toString().trim(),
        rue: this.searchRue.toString().trim(),
        numAssocies: this.numAssocies,
        proprietaire: this.modelPro.id,
        token: this.$session.get('token'),
      });
      this.$router.push('/'); // Return to the home page
    },
    /**
     * Search owner names, similar to the one given in parameter
     */
    async textePro(val) {
      let v = val;
      if (val === null || val === undefined) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        this.itemsPro = []; // Reset the array
        // Search in the database the corresponding owners
        const response = await bdd.findPro({ words: val.toString().trim().split(' '), token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding owner name to the array
        res.forEach((element) => {
          if (element.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: `${element.nom} ${element.prenom}` });
          } else {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: element.nomEntreprise });
          }
        });
      } else {
        this.itemsPro = [];
      }
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (v === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding roads
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding street name to the array
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        this.listeRue = [];
      }
    },
    /**
     * Search said location names, similar to the one given in parameter
     */
    async texteLieu(val) {
      let v = val;
      if (v === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding said location
        const response = await bdd.findLieuDit({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding said location name to the array
        res.forEach((element) => {
          this.listeLieu.push(element.nom);
        });
      } else {
        this.listeLieu = [];
      }
    },
    /**
     * Fill the array containing all the street names of the database
     */
    async fillRue() {
      // Get all the streets
      const response = await bdd.findRue({ token: this.$session.get('token') });
      const res = response.data; // Get the results
      // For each result, add it to the corresponding array
      res.forEach((element) => {
        this.listeAllRue.push(element.nom.toString().toLowerCase());
      });
    },
    /**
     * Fill the array containing all the land lot numbers of the database
     */
    async fillPar() {
      // Get all the land lots
      const response = await bdd.findParcellesNumero({ token: this.$session.get('token') });
      const res = response.data; // Get the results
      // For each result, add it to the temporary array
      res.forEach((element) => {
        this.listeAllPar.push(element.numero.toString().toLowerCase());
      });
    },
    async fillFieldsPar() {
      // eslint-disable-next-line
      const idPro = this.$route.params.idPro;
      if (idPro !== null && idPro !== undefined) {
        const response = await bdd.findPro({ id: idPro, token: this.$session.get('token') });
        if (response.data !== null && response.data !== undefined) {
          const pro = response.data[0];
          if (pro.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.modelPro = { id: pro._id, value: `${pro.nom} ${pro.prenom}` };
            this.itemsPro.push(this.modelPro);
          } else {
            // eslint-disable-next-line
            this.modelPro = { id: pro._id, value: pro.nomEntreprise };
            this.itemsPro.push(this.modelPro);
          }
        }
      }
    },
    /**
     * Update the coordinate fields of the street's add form when the user clicks on the map
     * (see MapClick component)
     */
    updateCoordRue(val) {
      // Extract the coordinates
      const latD = val[0];
      const longD = val[1];
      const latF = val[2];
      const longF = val[3];
      this.coordInt = [];
      for (let i = 0; i < val[4].length; i += 1) {
        // val[4][i][0] is latitude
        // val[4][i][1] is longitude
        this.coordInt.push([val[4][i][0], val[4][i][1]]);
      }
      // Update the coordinates when the marker change in the map
      this.latitudeD = latD;
      this.longitudeD = longD;
      this.latitudeF = latF;
      this.longitudeF = longF;
    },
    /**
     * Update the coordinate fields of the land lot's add form when the user clicks on the map
     * (see MapClick component)
     */
    updateCoordPar(val) {
      // Extract the coordinates
      const v0 = val[0];
      const v1 = val[1];
      // Update the coordinates
      this.latitudeP = v0;
      this.longitudeP = v1;
    },
    /**
     * Asynchronous function to determine the said location linked to a specific street
     * @param {The street's name to check} val
     */
    async searchLD(val) {
      // Search the street in the database
      const response = await bdd.findRue({ nom: val, token: this.$session.get('token') });
      // Look if the street desired has a said location
      if ((response.data[0].lieuDit !== undefined) && (response.data[0].lieuDit !== null)) {
        this.searchLieuDit = response.data[0].lieuDit.nom;
      } else {
        this.searchLieuDit = '';
      }
    },
    /**
     * Asynchronous function to find the cities linked to the postal code given in parameter
     * @param {The postal code to check} val
     */
    async searchVille(val) {
      this.listeVille = []; // Reset the array
      // If the postal code's length is 5, check the cities
      if (val.length === 5) {
        // Get the list of cities corresponding to the postal code given
        const response = await codePostal.findCity(val);
        // For each result, add it to the corresponding array
        response.data.forEach((element) => {
          this.listeVille.push(element.nom);
        });
      }
    },
  },
};
</script>
