<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to add an article into the order.
  An article depends on a material which has general characteristics.

  WARNING : This component is used recursively.
-->
<template>
    <div app>
      <h1 v-if="this.isWholePage" align="center">
        Ajout d'un nouvel article<br/><br/>
      </h1>
      <!-- Form -->
      <v-form ref="formAddArticle" v-model="validAddArticle" class="flex"
        @input="updateFormValidation">
        <div :class="showImageEditor ? 'semi-ajouter-bloc' : 'ajouter-bloc'" article>
          <!-- Quantity -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field" type="text" label="Quantité (*)"
            id="quantite" v-model="quantite" :rules="quantiteRules"
            outlined rounded dense required/>
          </div>
          <!-- Material's category -->
          <div class="custom-bloc" v-if="!isRecursive">
            <v-select
              class="custom-text-field"
              label="Catégorie (*)"
              v-model="category"
              item-text="value"
              item-value="value"
              :items="listeAllCategories.filter(cat => cat.listed && !cat.panonceau)"
              :rules="requiredRules"
              @change="ref = ''; resetFormValidation(); validAddArticle = false"
              no-data-text="Aucune catégorie n'existe, veuillez d'abord en créer une."
              outlined
              rounded
              dense
              required
            />
          </div>
          <!-- Material's reference -->
          <div class="custom-bloc" v-if="!isRecursive || isPanonceau">
            <v-autocomplete
              class="custom-text-field"
              id="ref"
              :disabled="listeMateriaux.length <= 0 || isPanonceau"
              :hint="listeMateriaux.length <= 0 && category !== '' ?
                'Aucun matériau n\'existe pour cette catégorie, veuillez d\'abord en créer un' : ''"
              :persistent-hint="listeMateriaux.length <= 0"
              v-model="ref"
              @change="validAddArticle = false"
              :rules="requiredRules"
              label="Référence (*)"
              :items="listeMateriaux"
              no-data-text="Le matériau indiqué n'existe pas, veuillez d'abord en créer un."
              outlined rounded dense required
              item-text="reference"
              item-value="reference"
            >
              <!-- Customize the list to add the material's pictures -->
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-avatar>
                    <v-img v-if="data.item.urlImage !== undefined"
                        icone
                        :src="data.item.urlImage"
                        contain
                        alt="Image du panneau"
                        width="50"
                        aspect-ratio="1"
                      >
                        <template v-slot:placeholder>
                          <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                          >
                            <v-progress-circular width="3" indeterminate color="primary"/>
                          </v-row>
                        </template>
                      </v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="data.item.reference"></v-list-item-title>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </div>
          <!-- Article characteristics -->
          <div v-if="ref !== ''">
            <h3 class="custom-bloc" v-if="!isPanonceau"
              style="margin-left: -25% !important; margin-top: 0px;">
              Caractéristiques de l'article :
            </h3>
            <br/>
            <!-- Create the form fields according to the material's characteristics -->
            <div v-for="(caract, index) in caractAssocies" v-bind:key="caract._id"
              class="custom-bloc">
              <v-text-field v-if="caract.type === 'Texte'"
                class="custom-text-field"
                type="text"
                :clearable="!caract.requis"
                @click:clear="valeurs[index] = ''"
                :label="caract.requis ? caract.nom.concat(' (*)') : caract.nom"
                v-model="valeurs[index]"
                :rules="caract.requis ? requiredRules : []"
                outlined rounded dense
              />
              <v-select v-else-if="caract.type === 'Select'"
                class="custom-text-field"
                :clearable="!caract.requis"
                @click:clear="valeurs[index] = ''"
                :label="caract.requis ? caract.nom.concat(' (*)') : caract.nom"
                v-model="valeurs[index]"
                :items="caract.contenu"
                :rules="caract.requis ? requiredRules : []"
                outlined rounded dense
              />
              <v-autocomplete v-else-if="caract.type === 'Autocomplete'"
                class="custom-text-field"
                :clearable="!caract.requis"
                @click:clear="valeurs[index] = ''"
                :label="caract.requis ? caract.nom.concat(' (*)') : caract.nom"
                v-model="valeurs[index]"
                :items="caract.contenu"
                :rules="caract.requis ? requiredRules : []"
                hide-details
                no-data-text="Le lieu-dit indiqué n'existe pas."
                outlined rounded dense
              />
              <v-combobox v-else-if="caract.type === 'Combobox'"
                class="custom-text-field"
                :clearable="!caract.requis"
                @click:clear="valeurs[index] = ''"
                :label="caract.requis ? caract.nom.concat(' (*)') : caract.nom"
                v-model="valeurs[index]"
                :items="listeVille"
                :rules="caract.requis ? requiredRules : []"
                dense
                outlined
                rounded
              />
            </div>
            <br/>
            <!-- Display a form to add a small sign -->
            <div v-if="panonceauStatus !== 'Ne pas afficher le champ' && panonceauStatus !== ''
              && panonceauRef !== undefined && panonceauRef !== ''">
              <br/>
              <br/>
              <h3 class="custom-bloc" style="margin-left: -40% !important; margin-top: 0px;">
                Panonceau :
              </h3>
              <!-- WARNING : Recursive component -->
              <AjoutArticle recursive panonceau ref="addRecursivePanonceau"
                :categoryRecursive="listeAllCategories
                  .find(cat => cat.panonceau)"
                @formValidation="checkValidationPanonceau"
                @added="setPanonceauAdded"
                :referenceIdRecursive="panonceauRef"/>
            </div>
          </div>
          <div class="mt-3 mb-3" align="center" v-if="!isPanonceau">
            <label class="font-lighter">Les champs (*) sont requis.</label>
          </div>
        </div>
        <v-divider v-if="showImageEditor" class="custom-divider" inset vertical></v-divider>
        <!-- Show an editor to create a small sign -->
        <div v-if="showImageEditor" class="semi-ajouter-bloc" article align="center">
          <br/>
          <h3 class="custom-bloc mt-0" style="margin-left: -50%;">
            Image du panneau :
          </h3>
          <br/>
          <!-- Area which will be captured to an image -->
          <div id="toCapture"
            :style="widthPanonceau > 180 ? 'max-width:'+widthPanonceau+'px' : 'max-width: 180px'">
            <!-- Sign image -->
            <div class="custom-bloc" style="max-width: 180px">
              <!-- Key prop is used to reset the redisplay the placeholder when the image
                provided has been deleted -->
              <v-img
                :class="isImageLoaded ? '' : 'custom-cadre'"
                :src="this.imageSrc"
                :key="this.imageSrc"
                lazy-src=""
                contain
                alt="Image du panneau"
                max-width="180px"
                aspect-ratio="1"
                @load="isImageLoaded = true"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular width="3" indeterminate color="primary"/>
                  </v-row>
                </template>
              </v-img>
            </div>
            <!-- Small sign visualization -->
            <div v-if="panonceauStatus !== 'Ne pas afficher le champ'"
              :style="'width:'+widthPanonceau+'px'">
              <v-img v-if="displayIcon"
                class="custom-cadre"
                icone
                :src="this.iconSrc"
                contain
                alt="Image du panneau"
                :width="widthPanonceau"
                :height="heightPanonceau"
                @load="isIconLoaded = true"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular width="3" indeterminate color="primary"/>
                  </v-row>
                </template>
              </v-img>
              <label v-else-if="isImageLoaded"
                class="custom-cadre custom-panonceau" panonceau
                :style="'height:'+heightPanonceau+'px; width:'
                  +widthPanonceau+'px; font-size:'+fontSizePanonceau+'px;'">
                {{ this.panonceauString }}
              </label>
            </div>
          </div>
          <!-- Small sign editor -->
          <div v-if="panonceauStatus !== 'Ne pas afficher le champ'">
            <br/>
            <h3 class="custom-bloc mt-10" style="margin-left: -50%;">
              Panonceau :
            </h3>
            <br/>
            <div class="custom-bloc">
              <v-text-field v-if="!displayIcon"
                class="custom-text-field mr-5"
                type="text"
                :label="panonceauStatus === 'Requis' ? 'Texte du panonceau (*)'
                  : 'Texte du panonceau'"
                v-model="panonceauString"
                hint="Cliquez sur le bouton pour plus d'informations"
                :rules="panonceauStatus === 'Requis' ? requiredRules : []"
                outlined rounded dense
                style="max-width: 320px;"
              />
              <h3 v-if="!displayIcon" class="custom-bloc mt-2">
                ou
              </h3>
              <div :class="isIconLoaded ? 'custom-button mr-5' : 'ml-5'">
                <v-btn color="primary" depressed rounded @click="uploadIcon"
                  :disabled="!isImageLoaded">
                  <v-icon left small>mdi-cloud-upload</v-icon>
                  Ajouter une icône
                </v-btn>
                <input type="file" id="fileInput"
                  accept=".jpg, .jpeg, .png, .svg"
                  style="display:none" @change="onFileInput($event)">
              </div>
              <div v-if="isIconLoaded" class="custom-button ml-5">
                <v-btn
                  color="primary"
                  outlined depressed rounded
                  @click="deleteIcon"
                >
                  Supprimer l'icône
                </v-btn>
              </div>
            </div>
            <!-- Sliders -->
            <div :class="displayIcon ? 'mt-7' : ''">
              <v-slider
                v-model="widthPanonceau"
                :rules="requiredRules"
                color="primary"
                label="Largeur (*)"
                min="100"
                max="300"
                thumb-label
                :thumb-size="45"
                style="max-width: 320px;"
              >
                <template v-slot:thumb-label="{ value }">
                  {{ value }}px
                </template>
              </v-slider>
              <v-slider
                v-model="heightPanonceau"
                :rules="requiredRules"
                color="primary"
                label="Hauteur (*)"
                min="30"
                max="100"
                thumb-label
                :thumb-size="45"
                style="max-width: 320px;"
              >
                <template v-slot:thumb-label="{ value }">
                  {{ value }}px
                </template>
              </v-slider>
              <v-slider
                v-model="fontSizePanonceau"
                :rules="requiredRules"
                :disabled="displayIcon"
                color="primary"
                label="Taille de la fonte (*)"
                min="15"
                max="35"
                thumb-label
                :thumb-size="45"
                style="max-width: 320px;"
              >
                <template v-slot:thumb-label="{ value }">
                  {{ value }}px
                </template>
              </v-slider>
            </div>
            <!-- Display font specificities -->
            <div v-if="!displayIcon">
              <v-btn icon class="primary custom-button mb-3" depressed rounded
                @click="expand = !expand"
                color="#ffffff">
                <font-awesome-icon :icon="expand ? ['fas', 'times'] : ['fas', 'info']"/>
              </v-btn>
              <v-expand-transition>
                <v-container>
                  <v-card
                    v-show="expand"
                    class="pa-4"
                    max-width="400"
                    style="height: 100%;"
                  >
                    Spécificités de la police de caractères :
                    <v-data-table
                      class="mt-4"
                      :headers="headersChars"
                      :items="itemsChars"
                      hide-default-footer
                      disable-pagination
                    >
                      <template v-slot:item.end="{ item }">
                        <label
                          style="font-family: 'CaracteresL1'; font-size: 17px;"
                        >
                          {{ item.start }}
                        </label>
                      </template>
                      <template v-slot:item.add="{ item }">
                        <v-btn icon small class="primary custom-button" depressed rounded
                          @click="panonceauString =
                            panonceauString.toString().trim().concat(item.start);"
                          color="#ffffff">
                          <font-awesome-icon :icon="['fas', 'plus']"/>
                        </v-btn>
                      </template>
                    </v-data-table>
                  </v-card>
                </v-container>
              </v-expand-transition>
            </div>
          </div>
        </div>
      </v-form>
      <!-- Display a list of forms to add other articles, such as flanges, brackets, ... -->
      <div v-if="!isRecursive && listeMateriauxTmp.length > 0" align="center">
        <div v-for="(materiau, index) in listeMateriauxTmp"
          v-bind:key="materiau.content._id">
          <div class="custom-h3">
            <v-checkbox style="width: 400px; margin-top: 10px !important;"
              color="primary" v-model="materiau.checked" :label="materiau.content.reference"/>
          </div>
          <!-- WARNING : Recursive component -->
          <AjoutArticle recursive :index="index" v-if="materiau.checked"
            @formValidation="validArt" ref="addRecursive"
            :categoryRecursive="listeAllCategories
              .find(cat => cat.dbId === materiau.content.categorie)"
            :referenceRecursive="materiau.content.reference"/>
        </div>
      </div>
      <div v-if="this.isWholePage" class="center">
        <!-- Button to save the new article -->
        <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded
              :disabled="Boolean(isDisabled(validAddArticle)) || snackbar || !isPanonceauValid"
              @click="addArticle"
            >
              Enregistrer
            </v-btn>
        </div>
        <!-- Button to exit the form -->
        <div class="custom-button ml-5">
          <v-btn color="primary" rounded outlined :disabled="snackbar"
          v-bind:to="{ name:'Materiaux', params: { type: 'Commande' } }">
          Quitter</v-btn>
        </div>
      </div>
      <!-- Display a snackbar to inform the user that the article will be saved -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        v-model="snackbar"
        :timeout="timeout"
      >L'article va être enregistré...</v-snackbar>
    </div>
</template>

<script>
// Import 'html-to-image' module to capture the HTML tags into a picture
import htmlToImage from 'html-to-image';
// Import deep-equal module to see if two objects are exactly equal
/* eslint no-underscore-dangle: 0 */
import deepEqual from 'deep-equal';
// Access to functions to find, modify or delete materials elements in the database
import bddMateriaux from '@/services/BddMateriaux';
// Access to functions to find, modify or delete articles elements in the database
import bddCommande from '@/services/BddCommande';

export default {
  name: 'AjoutArticle', // Component's name
  data() {
    return {
      timeout: 2500, // Time of the snackbar's duration
      snackbar: false, // Boolean to display the snackbar if it is set to true

      // Form rules to force a field to be required
      requiredRules: [
        v => !!v || 'Ce champ est requis',
      ],
      // Form rules to force a field to be required and to represent a quantity
      quantiteRules: [
        v => !!v || 'Ce champ est requis',
        v => v > 0 || 'La quantité doit être au minimum de 1',
      ],

      // Boolean to know if the article's form is correctly completed
      validAddArticle: false,
      // Quantity
      quantite: '',
      // Material's category
      category: this.categoryRecursive !== undefined ? this.categoryRecursive.value : '',
      // Material's reference
      ref: '',
      // Material's characteristics
      caractAssocies: [{
        nom: '',
        type: '',
        requis: true,
        contenu: '',
      }],
      // Article's values corresponding to the material's characteristics
      valeurs: [],

      // Array to store all the material categories
      listeAllCategories: [],
      // Array to store all the materials accorsing to the category selected
      listeMateriaux: [],
      // Array to store all the materials which can be added with a checkbox
      listeMateriauxTmp: [],

      // Boolean to know if the image editor has to be shown
      showImageEditor: false,
      // Boolean to know if the image has been correctly loaded
      isImageLoaded: false,
      // Boolean to know if the icon has been correctly loaded
      isIconLoaded: false,
      // Boolean to know if the icon has to be displayed
      displayIcon: false,
      // Store the temporary url used to display the image
      imageSrc: '',
      // Store the temporary url used to display the icon
      iconSrc: '',
      // Store the File object of the uploaded icon
      uploadedIcon: '',

      // Small sign status
      panonceauStatus: '',
      // Small sign string to display on it
      panonceauString: '',
      // Small sign font size
      fontSizePanonceau: 20,
      // Small sign height
      heightPanonceau: 40,
      // Small sign width
      widthPanonceau: 100,
      // Headers to display for the font specificities
      headersChars: [
        { text: 'Caractère en entrée', value: 'start', align: 'center' },
        { text: 'Caractère en sortie', value: 'end', align: 'center' },
        { text: 'Ajouter le symbole', value: 'add', align: 'center' },
      ],
      // Data to display for the font specificities
      itemsChars: [
        { start: '%' },
        { start: '&' },
        { start: '$' },
        { start: '<' },
        { start: '>' },
        { start: '?' },
      ],
      // Boolean to know if the expand panel has to be displayed
      expand: false,

      // Boolean to know if the component will be displayed in a whole page
      isWholePage: this.wholePage || false,
      // Boolean to know if the component is recursive
      isRecursive: this.recursive || false,
      // Boolean to know if the component is used to add a small sign article
      isPanonceau: this.panonceau || false,
      // Boolean to know if the small sign form is correct
      isPanonceauValid: true,
      // Small sign reference
      panonceauRef: '',
      // Small sign added in the database
      panonceauAdded: '',
    };
  },
  // Properties of the component
  props: {
    // Boolean to know if the component will be displayed in a whole page
    wholePage: Boolean,
    // Boolean to know if the component is recursive
    recursive: Boolean,
    // Boolean to know if the component is used to add a small sign article
    panonceau: Boolean,
    // Index of the list of articles to add (with the checkbox)
    index: Number,
    // Material category of the recursive component
    categoryRecursive: Object,
    // Material reference of the recursive component
    referenceRecursive: String,
    // Material reference id of the recursive component
    referenceIdRecursive: String,
  },
  /**
   * Code executed during the component's rendering
   */
  async mounted() {
    // Get all the material categories
    await this.getCategories();
    if (!this.isRecursive) {
      // Get all the materials by category
      await this.loadAllMateriaux();
    } else {
      // Get the material reference of the recursive component
      this.ref = await this.getReference();
      // Display the informations and fill some fields of the recursive component
      await this.displayInformations(true, this.ref);
    }
  },
  watch: {
    /**
     * Update the list of materials in real-time when the material category has changed
     */
    category(val) {
      this.afficherMateriaux(val);
    },
    /**
     * Display the forms's data in real-time when the material reference has changed
     */
    ref() {
      this.displayInformations(false);
    },
  },
  methods: {
    /**
     * Function to set the small sign which has been added
     * @param {The small sign added} val
     */
    setPanonceauAdded(val) {
      this.panonceauAdded = val;
    },
    /**
     * Check if the small sign's form is valid
     * @param {The boolean of the form validation} val
     */
    checkValidationPanonceau(val) {
      this.isPanonceauValid = val.value;
    },
    /**
     * Asynchronous function to get the material's reference of the recursive component
     * @return {The material's reference}
     */
    async getReference() {
      if (this.referenceRecursive !== undefined) {
        return this.referenceRecursive;
      }
      // Search in the database the material corresponding to the id given
      if (this.referenceIdRecursive !== undefined) {
        const response = await bddMateriaux.getMateriau({
          id: this.referenceIdRecursive,
          token: this.$session.get('token'),
        });
        if (response !== null && response.data !== undefined) {
          return response.data;
        }
      }
      return '';
    },
    /**
     * Send an event to the parent component when the form validation has changed
     */
    updateFormValidation() {
      this.$emit('formValidation', { index: this.index !== undefined ? this.index : '-1', value: this.validAddArticle });
    },
    /**
     * Click on the input tag. Used to get the upload window
     */
    uploadIcon() {
      document.getElementById('fileInput').click();
    },
    /**
     * Reset the form validation
     */
    resetFormValidation() {
      if (this.$refs.formAddArticle !== undefined) {
        this.$refs.formAddArticle.resetValidation();
      }
    },
    /**
     * Check if the save button has to be disabled or not
     * @param {The boolean of the form validation to look for} validForm
     * @return {Boolean if the button has to disabled or not}
     */
    isDisabled(validForm) {
      if (this.listeMateriauxTmp.length > 0) {
        let validation = true;
        // For each article form created recursively, if one is not valid, the save button
        // will be disabled
        this.listeMateriauxTmp.forEach((element) => {
          if (element.checked && element.valid !== undefined) {
            validation = validation && element.valid;
          }
        });
        return !validForm || !validation;
      }
      return !validForm;
    },
    /**
     * Set the form validation of the components created recursively
     * @param {The value of the form validation} val
     */
    validArt(val) {
      this.listeMateriauxTmp[val.index].valid = val.value;
    },
    /**
     * Save the uploaded icon and create a temporary url when an image has been uploaded
     * @param {The event triggered} event
     */
    onFileInput(event) {
      // eslint-disable-next-line
      const files = event.target.files;
      if (files.length > 0) {
        this.displayIcon = true;
        this.iconSrc = URL.createObjectURL(files[0]);
        // eslint-disable-next-line
        this.uploadedIcon = files[0];
      }
    },
    /**
     * Delete manually a temporary url created which is not used anymore
     * @param {The url to delete} url
     */
    deleteUrlImage(url) {
      URL.revokeObjectURL(url);
    },
    /**
     * Delete the icon and reset all the related variables
     */
    deleteIcon() {
      this.deleteUrlImage(this.iconSrc);
      this.iconSrc = '';
      this.isIconLoaded = false;
      this.displayIcon = false;
      this.uploadedIcon = '';
      // this.panonceauString = '';
    },
    /**
     * Asynchronous function to get all the material categories in the database
     */
    async getCategories() {
      this.listeAllCategories = [];
      const response = await bddMateriaux.findCategorie({ token: this.$session.get('token') });
      if (response.data !== undefined && response.data.length > 0) {
        // For each category in the response, keep the wanted attributes in the component's array
        response.data.forEach((cat, index) => {
          this.listeAllCategories.push({
            id: index + 1,
            value: cat.nom,
            // eslint-disable-next-line
            dbId: cat._id,
            listed: cat.listed,
            panonceau: cat.panonceau,
          });
        });
      }
    },
    /**
     * Asynchronous function to get all the materials for each category
     */
    loadAllMateriaux() {
      // Search in the database for each category
      this.listeAllCategories.forEach(async (cat) => {
        if (!cat.listed && !cat.panonceau) {
          const response = await bddMateriaux.findMateriauxByCategorie({
            categorieMateriau: cat.dbId,
            token: this.$session.get('token'),
          });
          if (response !== null && response.data !== undefined
            && response.data.length > 0) {
            // For each material in the response, keep the wanted attributes
            // in the component's array
            response.data.forEach((res) => {
              this.listeMateriauxTmp.push({
                content: res,
                checked: false,
                valid: false,
              });
            });
          }
        }
      });
    },
    /**
     * Asynchronous function to update and display the list of materials according to
     * the category selected
     * @param {The category selected} val
     */
    async afficherMateriaux(val) {
      if (this.listeAllCategories.length > 0) {
        // eslint-disable-next-line
        const categoryTmp = this.listeAllCategories.find(cat => !cat.panonceau && cat.value.toUpperCase() === val.toString().trim().toUpperCase());
        if (categoryTmp !== undefined) {
          // Reset variables
          this.isImageLoaded = false;
          this.showImageEditor = false;
          this.caractAssocies = [];
          this.valeurs = [];
          const categoryId = categoryTmp.dbId;
          this.listeMateriaux.forEach((element) => {
            if (element.urlImage !== undefined) {
              this.deleteUrlImage(element.urlImage);
            }
          });
          this.listeMateriaux = [];
          const response = await bddMateriaux.findMateriauxByCategorie({ categorieMateriau: categoryId, token: this.$session.get('token') });
          this.listeMateriaux = response.data;
          // For each image, create an url to display it on screen
          this.listeMateriaux.forEach((element) => {
            if (element.image.data.length > 0) {
              // eslint-disable-next-line
              element.urlImage = this.bufferToImage(element.image);
            }
          });
        }
      }
    },
    /**
     * Asynchronous function which is used to get and display all the material's data
     * @param {Boolean to know if the materials have to be searched} getMateriaux
     * @param {The material reference to use in case of a recursive component} data
     */
    async displayInformations(getMateriaux, data) {
      // Search in the database all the materials according to the category selected
      if (getMateriaux) {
        this.listeMateriaux = [];
        const response = await bddMateriaux.findMateriauxByCategorie({ categorieMateriau: this.categoryRecursive.dbId, token: this.$session.get('token') });
        this.listeMateriaux = response.data;
      }
      // eslint-disable-next-line
      const materiau = (data !== undefined && typeof data === 'object' && data !== '') ? this.ref : this.listeMateriaux.find(mat => mat.reference.toUpperCase() === this.ref.toString().trim().toUpperCase());
      // eslint-disable-next-line
      const categoryTmp = this.categoryRecursive !== undefined ? this.categoryRecursive : this.listeAllCategories.find(cat => !cat.panonceau && cat.value.toUpperCase() === this.category.toString().trim().toUpperCase());
      if (materiau !== undefined && categoryTmp !== undefined
        && categoryTmp.dbId === materiau.categorie) {
        // Reset and set variables
        if (!this.isRecursive && materiau.panonceau !== undefined) {
          this.panonceauRef = materiau.panonceau;
        }
        this.showImageEditor = false;
        this.caractAssocies = materiau.caracteristiques;
        const img = materiau.image;
        if (img.data !== undefined && img.data.length > 0) {
          this.showImageEditor = true;
          this.imageSrc = this.bufferToImage(img);
        }
        this.panonceauStatus = materiau.panonceauStatus;
      }
    },
    /**
     * Transform the Blob given into a Buffer
     * @param {The Blob to transform} imageBlob
     * @return {The image in a Buffer}
     */
    async imageToBuffer(imageBlob) {
      try {
        // Transform the file into an ArrayBuffer
        const buffer = await imageBlob.arrayBuffer();
        // Transform the ArrayBuffer into a Buffer to be inserted in the database
        return Buffer.from(buffer);
      } catch (e) {
        console.error(e);
      }
      return '';
    },
    /**
     * Create a temporary URL from the Buffer image given
     * @param {The Buffer image} image
     * @return {The temporary URL used to display the image}
     */
    bufferToImage(image) {
      // Transform the content of the buffer into a Blob
      const blob = new Blob([new Uint8Array(image.data)]);
      // Return an url of the blob to display the image
      return URL.createObjectURL(blob);
    },
    /**
     * Asynchronous function to add the new article in the database
     */
    addArticle() {
      const results = [];
      if (!this.isRecursive && this.$refs.addRecursive !== undefined) {
        // For each recursive article, launch this function
        // eslint-disable-next-line
        this.$refs.addRecursive.map((article) => {
          results.push(article.addArticle());
        });
      }
      if (!this.isRecursive && this.$refs.addRecursivePanonceau !== undefined) {
        // Launch this function for the small sign recursive component
        results.push(this.$refs.addRecursivePanonceau.addArticle());
      }
      // When all the recursive articles have been added, add the new article
      Promise.all(results)
        .then(async () => {
          // Set the snackbar to true to tell the user that the component is being added
          this.snackbar = true;
          // Get the buffer from the image to store in the database
          let bufferImage = '';
          let bufferWholeImage;
          const panonceauObject = {};
          // If a file has been uploaded, transforms it in a Buffer
          if (this.uploadedIcon !== '') {
            bufferImage = await this.imageToBuffer(this.uploadedIcon);
            this.panonceauString = '';
          }
          // Save the small sign object and capture the image displayed on screen into an image
          if (this.panonceauStatus !== 'Ne pas afficher le champ') {
            panonceauObject.width = this.widthPanonceau;
            panonceauObject.height = this.heightPanonceau;
            panonceauObject.fontSize = this.fontSizePanonceau;
            panonceauObject.icon = bufferImage;
            panonceauObject.string = this.panonceauString;
            if ((panonceauObject.icon !== null && panonceauObject.icon !== '')
              || (panonceauObject.string !== null && panonceauObject.string !== '')) {
              const doc = document.getElementById('toCapture');
              if (doc !== null && doc !== undefined) {
                try {
                  const wholeImageUrl = await htmlToImage.toBlob(doc,
                    { width: doc.clientWidth, height: doc.clientHeight });
                  if (wholeImageUrl !== null && wholeImageUrl !== undefined && wholeImageUrl !== '') {
                    bufferWholeImage = await this.imageToBuffer(wholeImageUrl);
                  }
                } catch (e) {
                  console.error(e);
                }
              }
            }
          }
          // eslint-disable-next-line
          const materiau = (this.ref !== undefined && typeof this.ref === 'object' && this.ref !== '') ? this.ref : this.listeMateriaux.find(mat => mat.reference.toUpperCase() === this.ref.toString().trim().toUpperCase());
          const articleToAdd = {
            reference: this.ref.toString().trim(),
            valeurs: this.valeurs,
            panonceau: panonceauObject,
          };
          let articleAdded = '';
          let found = false;
          let idArticle = '';
          let quantiteArticle = 0;
          // Check if a similar article has already been added
          if (!this.isPanonceau && (this.panonceauRef === undefined || this.panonceauRef === '')) {
            // Necessary to delete the __ob__ element of the array,
            // which is unwanted for the comparison
            articleToAdd.valeurs = Array.from(articleToAdd.valeurs);
            const response = await bddCommande.findArticle({ token: this.$session.get('token') });
            let i = 0;
            let article = '';
            while (i < response.data.length && !found) {
              article = response.data[i];
              // Ensure that both materials are equals and so that they didn't change
              if (this.materiauNotChanged(article.materiau, materiau)) {
                idArticle = article._id;
                quantiteArticle = article.quantite;
                // Delete unwanted variables to compare the two articles
                delete article.__v;
                delete article._id;
                delete article.materiau;
                delete article.panonceau._id;
                delete article.quantite;
                delete article.image;
                delete article.wholeImage;
                // eslint-disable-next-line
                article.reference = article.reference.reference;
                if (article.panonceau.icon !== undefined
                  && article.panonceau.icon.type !== undefined
                  && article.panonceau.icon.data !== undefined
                  && article.panonceau.icon.type === 'Buffer'
                  && article.panonceau.icon.data.length <= 0) {
                  // eslint-disable-next-line
                  article.panonceau.icon = '';
                }
                if (deepEqual(articleToAdd, article)) found = true;
              }
              i += 1;
            }
          }
          // If a similar article already exists, update only the quantity
          if (found) {
            await bddCommande.updateArticle({
              id: idArticle,
              quantite: parseInt(quantiteArticle, 10) + parseInt(this.quantite, 10),
              token: this.$session.get('token'),
            });
          } else {
            // Add the article
            articleAdded = await bddCommande.addArticle({
              quantite: this.quantite.toString().trim(),
              reference: this.isPanonceau ? undefined : this.ref.toString().trim(),
              idMateriau: this.isPanonceau ? this.ref._id : undefined,
              valeurs: this.valeurs,
              panonceau: this.isPanonceau ? undefined : panonceauObject,
              // eslint-disable-next-line
              panonceauRef: this.panonceauAdded._id !== undefined ? this.panonceauAdded._id : undefined,
              wholeImage: bufferWholeImage,
              token: this.$session.get('token'),
            });
          }
          // Delete the temporary URLs
          this.deleteUrlImage(this.iconSrc);
          this.deleteUrlImage(this.imageSrc);
          this.listeMateriaux.forEach((element) => {
            if (element.urlImage !== undefined) {
              this.deleteUrlImage(element.urlImage);
            }
          });
          // Return to the previous page
          if (this.isWholePage) {
            this.$router.push({ name: 'Materiaux', params: { type: 'Commande' } });
          // Emit an event if the component is recursive to tell the parent component that the
          // article has been added
          } else {
            this.$emit('added', articleAdded.data.article);
          }
        });
    },
    /**
     * Verify that both materials given are similar and so that they didn't change
     * @param {The first material to check} articleMateriau
     * @param {The second material to check} materiau
     * @return {Boolean to know if they are similar}
     */
    materiauNotChanged(articleMateriau, materiau) {
      return articleMateriau._id === materiau._id
          && articleMateriau.reference === materiau.reference;
    },
  },
};
</script>
