<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to modify a document.
  This document (a letter) will be downloadable with some data
  to be filled automatically. Then, these letters can be sent to the owners.
-->
<template>
  <div align="center">
    <h1 align="center">Courrier : {{ courrier.nom }}</h1>
    <br/>
    <br/>
    <div class="ajouter-bloc">
      <div class="custom-bloc">
        <!-- Form -->
        <v-form ref="validNomCourrier" v-model="validNomCourrier">
          <!-- Document's name -->
          <v-text-field class="custom-text-field" type="text"
            label="Nom du courrier (*)"
            @input="courrier.nom = courrier.nom; nomChanged()"
            v-model="courrier.nom" outlined rounded dense
            :rules="courrierRequiredRules" required/>
        </v-form>
      </div>
      <v-card class="mb-8" style="width: 80%">
        <!-- TinyMCE Custom Word Processor -->
        <Editor
          :init="initTinyMce"
        />
        <!-- Input component which will be launched to let the the user
          upload a document -->
        <input type="file" id="fileInput"
          accept=".docx"
          style="display:none" @change="onFileInput($event)">
      </v-card>
      <br/>
      <div class="center mb-6">
        <!-- Button to save the document -->
        <div class="custom-button mr-5">
          <v-btn color="primary" depressed rounded
            :disabled="isSaved || !isLoaded || !validNomCourrier"
            @click="saveDocument(false)">Enregistrer</v-btn>
        </div>
        <!-- Button to go to the previous page -->
        <div class="custom-button ml-5">
          <v-btn color="primary" outlined rounded
            :disabled="!isLoaded"
            :to="{ name: 'Documents', params: { showListe: true } }">Retour</v-btn>
        </div>
      </div>
      <!-- Button to download the document by accessing to the page to
        download data from the database -->
      <div class="center">
        <!-- Menu to let the user choose to save or not the unsaved changes -->
        <v-menu
          v-if="!isSaved"
          v-model="menu"
          open-on-click
          top
          offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" depressed rounded v-on="on" v-bind="attrs"
              :disabled="!isLoaded || !validNomCourrier"
            >
              Télécharger
            </v-btn>
          </template>
          <v-card class="pa-1">
            <v-list>
              <v-list-item>
                <h3 class="mt-0">Souhaitez-vous enregsitrer les modifications ?</h3>
              </v-list-item>
              <v-list-item>
                <!-- Button to save the unsaved changes -->
                <div class="center mr-n6">
                  <v-btn color="primary" depressed rounded
                    @click="saveDocument(true)">
                    Oui
                  </v-btn>
                </div>
                <!-- Button not to save the unsaved changes -->
                <div class="center ml-n6">
                  <v-btn color="primary" depressed rounded outlined
                    v-bind:to="{ name: 'TelechargerCourrier',
                      params: { id: this.$route.params.id } }">
                    Non
                  </v-btn>
                </div>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
        <!-- Button displayed if there are no unsaved changes -->
        <v-btn v-else color="primary" depressed rounded
          :disabled="!isLoaded || !validNomCourrier"
          v-bind:to="{ name: 'TelechargerCourrier', params: { id: this.$route.params.id } }"
        >
          Télécharger
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
// Word Processor component from TinyMCE
import Editor from '@tinymce/tinymce-vue';
// Import 'mammoth' module to transform .docx into HTML
import mammoth from 'mammoth';
// Import 'pdfmake' module to download the document in PDF
import pdfMake from 'pdfmake/build/pdfmake';
// Import pdfmake's fonts
import pdfFonts from 'pdfmake/build/vfs_fonts';
// Import 'html-to-pdfmake' module to transform HTML into data usable by pdfmake
import htmlToPdfMake from 'html-to-pdfmake';
// Import 'file-saver' module to let the user download files
import saveAs from 'file-saver';
// Import 'html-docx-js' module to transform HTML into .docx
import htmlDocx from 'html-docx-js/dist/html-docx';
// Import mdi icons
// eslint-disable-next-line
import { mdiFolderOpenOutline, mdiFilePdfOutline, mdiFileWordOutline } from '@mdi/js';
// Access to functions to find, modify or delete documents (letters) elements in the database
import bddCourrier from '@/services/BddCourrier';

export default {
  data() {
    return {
      // Document's content
      courrier: '',
      // Old document's name
      oldNom: '',
      // Boolean to know if the document is saved
      isSaved: true,
      // Boolean to know if the document is loaded
      isLoaded: false,
      // Boolean to know if the form is correctly completed
      validNomCourrier: false,
      // Boolean to know if the menu panel has to be displayed
      menu: false,

      // Form rules to force a field to be required and not to be the same name as a letter
      // that already exists
      courrierRequiredRules: [
        v => (v !== undefined && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => v !== undefined && this.listeCourriers.find(courrier => courrier.nom.toUpperCase() === v.toString().trim().toUpperCase() && courrier._id !== this.courrier._id) === undefined || 'Un courrier portant le même nom existe déjà',
      ],
      // Array to store all the letters from the database
      listeCourriers: [],

      // Load the TinyMCE CSS
      // eslint-disable-next-line
      cssUrl: require('../assets/tinymce/css/tinymce.css'),

      // Define and initiate the TinyMCE component
      initTinyMce: {
        // Set the plugins to use
        plugins: 'print preview paste autoresize importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',

        // Set the items of the menubar
        menubar: 'file edit view insert format tools table help myCustomMenuItem',
        // Custom the item of the menubar
        menu: {
          file: { title: 'File', items: 'restoredraft | newdocument import export | preview | print' },
        },
        // Set the items of the toolbar
        toolbar: 'fullscreen preview save print | undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | forecolor backcolor removeformat | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | pagebreak | quickimage media link anchor',
        // Set the visualization of the toolbar when there are too many items
        toolbar_sticky: true,

        // Define custom fonts
        font_formats: 'Abhaya Libre=abhaya libre; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Libre Franklin=libre franklin; Ruda=ruda; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',

        // Autosave parameters
        autosave_ask_before_unload: true,
        autosave_interval: '20s',
        autosave_prefix: '{path}{query}-{id}-',
        autosave_restore_when_empty: false,
        autosave_retention: '20m',
        // Called when the internal save function has been called
        save_onsavecallback: () => {
          this.saveDocument(false);
        },

        // Set the different document's margins
        autoresize_overflow_padding: 50,
        autoresize_bottom_margin: 50,
        min_height: 600,

        image_advtab: true,
        image_caption: true,

        // Set the language
        language: 'fr_FR',
        content_css_cors: true,
        elementpath: false,
        template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
        template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
        quickbars_selection_toolbar: 'bold italic underline | fontselect fontsizeselect | quicklink h2 h3 blockquote',
        quickbars_insert_toolbar: true,
        toolbar_mode: 'floating',
        contextmenu: 'link image imagetools table',

        // Launch the function when the init is completed
        init_instance_callback: this.initContent,
        // Create custom buttons and events for when the user interacts with the component
        setup: (editor) => {
          // Create 'Open document' icon
          editor.ui.registry.addIcon('open', `
            <svg style="width:24px;height:24px" viewbox="0 0 24 24">
              <path fill="#000000" d="${mdiFolderOpenOutline}" />
            </svg>
          `);
          // Create 'Download in .docx' icon
          editor.ui.registry.addIcon('download-word', `
            <svg style="width:24px;height:24px" viewbox="0 0 24 24">
              <path fill="#000000" d="${mdiFileWordOutline}" />
            </svg>
          `);
          // Create 'Download in .pdf' icon
          editor.ui.registry.addIcon('download-pdf', `
            <svg style="width:24px;height:24px" viewbox="0 0 24 24">
              <path fill="#000000" d="${mdiFilePdfOutline}" />
            </svg>
          `);
          // Create a custom button to import a document
          editor.ui.registry.addMenuItem('import', {
            text: 'Ouvrir un document',
            icon: 'open',
            onAction: () => {
              // Launch the input component when clicked
              document.getElementById('fileInput').click();
            },
          });
          // Create a nested button to download the document
          // either in .docx or .pdf
          editor.ui.registry.addNestedMenuItem('export', {
            text: 'Exporter le document',
            // eslint-disable-next-line
            getSubmenuItems: () => {
              return [
                {
                  type: 'menuitem',
                  icon: 'download-word',
                  text: 'Microsoft Word (.docx)',
                  onAction: () => {
                    // Download the document in .docx
                    this.downloadDocumentWord();
                  },
                },
                {
                  type: 'menuitem',
                  icon: 'download-pdf',
                  text: 'Document PDF (.pdf)',
                  onAction: () => {
                    // Download the document in .pdf
                    this.downloadDocumentPdf();
                  },
                }];
            },
          });
          // Event called when the document's content changes
          editor.on('Change', () => {
            this.isSaved = false;
          });
          editor.on('StoreDraft', () => {
            // eslint-disable-next-line
            tinymce.activeEditor.execCommand('mceSave');
          });
        },
      },
    };
  },
  created() {
    // Redirect to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push({
        name: 'Documents',
        params: { showListe: true },
      });
    }
  },
  async mounted() {
    // Initiate pdfmake's fonts
    pdfMake.vfs = pdfFonts.pdfMake.vfs;
    // Get all the letters from the database
    await this.getListeCourriers();
  },
  components: {
    Editor, // TinyMCE component
  },
  methods: {
    /**
     * Asynchronous function launched when a file has been uploaded by the user
     * @param {The event which contains the file uploaded} event
     */
    async onFileInput(event) {
      // eslint-disable-next-line
      const files = event.target.files;
      if (files.length > 0) {
        const file = files[0];
        try {
          // Transform the file into an ArrayBuffer
          const arrayBuff = await file.arrayBuffer();
          // Transform the content in HTML
          mammoth.convertToHtml({ arrayBuffer: arrayBuff })
            .then(async (result) => {
              // eslint-disable-next-line
              if (tinymce.activeEditor.getContent().toString() === '') {
                // eslint-disable-next-line
                tinymce.activeEditor.setContent(result.value);
                // Here, save() is only used to fix an error that occurs during beforeDestroy
                // eslint-disable-next-line
                tinymce.activeEditor.save();
              } else {
                this.saveDocument(false);
                // Create a temporary unique name
                const fileName = 'New_'.concat(Date.now());
                // Add the letter in the database
                await bddCourrier.addCourrier({
                  nom: fileName,
                  contenu: result.value,
                  token: this.$session.get('token'),
                });
                // Get the letter created
                const response = await bddCourrier.findCourrier({ nom: fileName, token: this.$session.get('token') });
                // eslint-disable-next-line
                this.$route.params.id = response.data[0]._id;

                // Re-render the component
                if (this.$route.params.id === undefined || this.$route.params.id === '') {
                  this.$router.push({
                    name: 'Documents',
                    params: { showListe: true },
                  });
                }
                // Reset variables
                this.courrier = '';
                this.oldNom = '';
                this.isSaved = true;
                this.isLoaded = false;
                this.menu = false;
                await this.getListeCourriers();
                // eslint-disable-next-line
                await this.initContent(tinymce.activeEditor);
              }
            });
        } catch (e) {
          console.error(e);
        }
      }
    },
    /**
     * Set that the document changed even if only its name changed
     */
    nomChanged() {
      if (this.isLoaded) {
        if (this.courrier.nom.toString().trim()
          !== this.oldNom.trim()) {
          this.isSaved = false;
        }
      }
    },
    /**
     * Asynchronous function to save the document
     * @param {Boolean to know if the page to donwload data has to be displayed} goToDownloadPage
     */
    async saveDocument(goToDownloadPage) {
      // Get the document's content
      // eslint-disable-next-line
      const content = tinymce.activeEditor.getContent();
      // Update the document in the database
      await bddCourrier.updateCourrier({
        id: this.$route.params.id,
        nom: this.courrier.nom.toString().trim(),
        contenu: content,
        token: this.$session.get('token'),
      });
      this.isSaved = true;
      // Go to the next page
      if (goToDownloadPage) {
        this.$router.push({
          name: 'TelechargerCourrier',
          params: { id: this.$route.params.id },
        });
      }
    },
    /**
     * Download the document in .docx
     */
    downloadDocumentWord() {
      // Get the document's content
      // eslint-disable-next-line
      const content = tinymce.activeEditor.getContent();
      // Transform the HTML in a .docx Blob
      const converted = htmlDocx.asBlob(content);
      // Let the user download the file
      saveAs(converted, `${this.courrier.nom}.docx`);
    },
    /**
     * Download the document in .pdf
     */
    downloadDocumentPdf() {
      // Get the document's content
      // eslint-disable-next-line
      const content = tinymce.activeEditor.getContent();
      // Transform the HTML in a format used by pdfmake
      const html = htmlToPdfMake(content);
      const docDefinition = {
        content: [
          html,
        ],
      };
      // Generate the .pdf and let the user download it
      pdfMake.createPdf(docDefinition).download(`${this.courrier.nom}.pdf`);
    },
    /**
     * Asynchronous function to init the document's content
     * @param {The TinyMCE editor instance} edit
     */
    async initContent(edit) {
      // Get the letter from the database
      await this.getCourrier();
      // Set the document's content
      edit.setContent(this.courrier.contenu);
      // Here, save() is only used to fix an error that occurs during beforeDestroy
      edit.save();
      // Set booleans
      this.isSaved = true;
      this.isLoaded = true;
    },
    /**
     * Asynchronous function to get the letter from the database
     */
    async getCourrier() {
      // Get the letter
      const response = await bddCourrier.getCourrier({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Set variables
      if (response.data !== undefined) {
        this.courrier = response.data;
        this.oldNom = response.data.nom;
      }
    },
    /**
     * Asynchronous function to get all the letters from the database
     */
    async getListeCourriers() {
      const response = await bddCourrier.findCourrier({ token: this.$session.get('token') });
      if (response.data !== undefined) {
        this.listeCourriers = response.data;
      }
    },
  },
};
</script>
