<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to represent a classic map -->
<template>
  <div>
    <section>
      <!-- Map component -->
      <div align="left" class="map" id="map"/>
      <!-- Legend component -->
      <div id="legend" class="legend" style="height: 137px;">
        <div align="left" v-if="this.typeMap === 'Rue'">
          <img src="../assets/yellow_marker.png" height=20px/> Début de rue
        </div>
        <div align="left" v-if="this.typeMap === 'Rue'">
          <img src="../assets/darkred_marker.png" height=20px/>  Fin de rue
        </div>
        <!-- Component used to change style of the map -->
        <div align="left" style="margin-bottom: -10%; margin-top: -10%;">
          <v-switch v-model="satelliteVue" label="Satellite"></v-switch>
        </div>
        <!-- Component used to print the map-->
        <div v-if="this.typeMap === 'Rue' && this.nomRue !== null" align="left">
          <v-btn icon class="primary" small
            depressed rounded color="#ffffff" @click="printMap()">
            <font-awesome-icon :icon="['fas', 'print']"/>
          </v-btn> Impression
        </div>
      </div>
    </section>
    <p>Pour tourner la map, il faut rester appuyer sur le click droit de la souris et bouger</p>
    <div hidden align="left" class="printedMap" id="printedMap"/>
    <div id="switchMap" class="switchMap" align="left">
      <!-- Display a snackbar to inform the user the map will be printed -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        v-model="snackbar"
        :timeout="timeout"
      >La carte demandée va être éditée...</v-snackbar>
      <!-- Display an error snackbar when an error occured -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        v-model="snackbarError"
        :timeout="timeout"
      >Un problème a été rencontré, veuillez recommencer...</v-snackbar>
    </div>
  </div>
</template>

<script>
// Import the MapboxGL library
import Mapbox from 'mapbox-gl';
// Import the element to print the map
import printPdf from 'mapbox-print-pdf';
// Access to functions to find, modify or delete database elements
import bdd from '@/services/Bdd';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  data() {
    return {
      // Configuration object
      config: configGlobal,
      map: null, // Define the element of the map
      printedMap: null, // Define the element of the printed map
      satelliteVue: false, // Define the satellite view on the map to false
      coordinates: [], // Array of coordinates used to center the map

      // Array of coordinates used to update the list of visible elements
      // (see mapOn() function)
      coordinatesRue: [],
      markers: [], // Array containing all the markers displayed on the map

      popUps: [], // Array containing all the popUps house number displayed on the map
      namePar: [], // Name of land lot to display
      cadastres: [], // Array of land lot's layer

      coord: [], // Array of coordinates to trace the line of the street
      layer: null, // Layer to display street's line
      source: null, // Source to display street's line

      snackbar: false, // Boolean to know if snackar is displayed or not
      snackbarError: false, // Boolean to know if error snackar is displayed or not
      timeout: 15000, // Time of displaying snackbar
    };
  },
  props: {
    // Property listeCoord given in the definition of the component (in the template)
    listeCoord: Array,
    // Property nbRue is the number of street displayed in the map
    nbRues: Number,
    // Property nomRue is the name of the street for printed Map
    nomRue: String,
    // Property to know if it's displayed a street, a land lot, a said location or an owner
    typeMap: String,
  },
  /**
   * Asynchronous code executed during the component's rendering
   */
  async mounted() {
    // Define the token of the map
    Mapbox.accessToken = 'pk.eyJ1IjoiYWxpemVlMjExMjMiLCJhIjoiY2s5djBwM3d2MDcwMTNocnVtZmJiZ3RkaCJ9.IBi8PGmFoPld6ioKwRlsYA';
    const lat = this.config.latitudeCenter;
    const long = this.config.longitudeCenter;
    // Create the map and the printed map
    this.map = new Mapbox.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
      center: [long, lat], // starting position [lng, lat]
      zoom: 13, // starting zoom
    });
    this.printedMap = new Mapbox.Map({
      container: 'printedMap',
      style: 'mapbox://styles/mapbox/streets-v11',
    });
    // Create the scale
    const scale = new Mapbox.ScaleControl({
      maxWidth: 80,
      unit: 'metric',
    });
    // Add the scale on the map
    this.map.addControl(scale);
    // Create the zoom control
    const zoomControl = new Mapbox.NavigationControl();
    // Add zoom control to the map
    this.map.addControl(zoomControl);
    // Execute a function when the map has been moved and is now fixed
    this.map.on('moveend', this.mapOn);
    // Execute functions when the zoom has been changed and is now fixed
    this.map.on('zoomend', await this.showHouses);
    this.map.on('zoomend', this.hideHouses);
    this.map.on('zoomend', this.showLandLot);
    this.map.on('zoomend', this.hideLandLot);
  },
  watch: {
    /**
     * Function called when satelliteVue boolean changes
     */
    satelliteVue() {
      // Remove land lot layer
      this.hideLandLot(true);
      // Change style
      let style = '';
      if (this.satelliteVue) {
        // Set style to satellite map if it was plan map
        style = 'mapbox://styles/mapbox/satellite-streets-v11';
      } else {
        // Set style to plan map if it was satellite map
        style = 'mapbox://styles/mapbox/streets-v11';
      }
      // Change the background map according to the style
      this.map.setStyle(style);
      this.printedMap.setStyle(style);
      // Trace the street and land lot
      this.map.on('style.load', () => {
        this.traceStreet();
        this.showLandLot();
      });
    },
    /**
     * Asynchronous function called when listeCoord (in rechercher.vue) changes
     */
    listeCoord() {
      // Clear all search informations
      // Remove coordinates
      this.coordinates = [];
      this.coordinatesRue = [];
      // Remove all markers
      this.markers.forEach((element) => {
        element.remove();
      });
      this.markers = [];
      // Remove all pop ups
      this.hideHouses();
      // Remove land lot cadastre
      this.hideLandLot(true);
      this.namePar = [];
      // Remove street's line
      this.coord = [];
      if (this.map.getLayer('street')) {
        this.map.removeLayer('street');
      }
      if (this.map.getSource('street')) {
        this.map.removeSource('street');
      }
      // Search element to show
      if (this.coordinates !== []) {
        // For each element of the array given, if it isn't null add it to the coordinates arrays
        // Else, retrieve its coordinates to add it.
        // element[0] : Street's start, owner, land lot or said-location latitude
        // element[1] : Street's start, owner, land lot or said-location  longitude
        // element[2] : Street, owner, land lot or said-location name
        // element[3] : Street's end latitude or nothing
        // element[4] : Street's end longitude or nothing
        // element[5] : Street's middle coordinates or nothing
        this.listeCoord.forEach((element) => {
          // If coordinates are known
          if (element[0] !== null && element[0] !== '' && element[0] !== undefined
            && element[1] !== null && element[1] !== '' && element[1] !== undefined) {
            // Create the marker
            const mar = new Mapbox.Marker({ color: '#FFD700' })
              .setLngLat([element[1], element[0]]) // Set the position of the marker
              .setPopup(new Mapbox.Popup().setHTML(element[2])) // Set a pop up
              .addTo(this.map);
            this.markers.push(mar); // Push markers in the array
            // Add the correct properties to the arrays
            this.coordinates.push([element[1], element[0]]);
            this.coordinatesRue.push([element[1], element[0], element[2]]);
          }
          if (this.typeMap === 'Parcelle' || this.typeMap === 'Propriétaire') {
            // Push the name of land lot into the array to show cadastre
            // eslint-disable-next-line
            this.namePar.push(element[2]);
          }
          if (this.typeMap === 'Rue' && this.nbRues === 1) {
            // Set start coordinates for the street's line
            if (element[0] !== null && element[0] !== '' && element[0] !== undefined
            && element[1] !== null && element[1] !== '' && element[1] !== undefined) {
              this.coord.push([element[1], element[0]]);
            }
            // If coordinates of middle's street are known
            for (let i = 0; i < element[5].length; i += 1) {
              if (element[5][i][0] !== null && element[5][i][0] !== '' && element[5][i][0] !== undefined
                && element[5][i][1] !== null && element[5][i][1] !== '' && element[5][i][1] !== undefined) {
                // Add the correct properties to the arrays
                this.coordinates.push([element[5][i][1], element[5][i][0]]);
                this.coordinatesRue.push([element[5][i][1], element[5][i][0], element[2]]);
                // Set middle coordinates for the street's line
                this.coord.push([element[5][i][1], element[5][i][0]]);
              }
            }
            // If coordinates of end's street are known
            if (element[3] !== null && element[3] !== '' && element[3] !== undefined
              && element[4] !== null && element[4] !== '' && element[4] !== undefined) {
              // Create the marker
              const mar = new Mapbox.Marker({ color: '#CC0000' })
                .setLngLat([element[4], element[3]]) // Set the position of the marker
                .setPopup(new Mapbox.Popup().setHTML(element[2])) // Set a pop up
                .addTo(this.map);
              this.markers.push(mar); // Push markers in the array
              // Add the correct properties to the arrays
              this.coordinates.push([element[4], element[3]]);
              this.coordinatesRue.push([element[4], element[3], element[2]]);
              // Set end coordinates for the street's line
              this.coord.push([element[4], element[3]]);
            }
            // Trace the street's line
            this.traceStreet();
          }
        });
        // Show markers
        // Find bounds of the coordinates
        if (this.coordinates[0] !== undefined) {
          const long = this.coordinates[0][0];
          const lat = this.coordinates[0][1];
          const bounds = new Mapbox.LngLatBounds([long, lat], [long, lat]);
          for (let i = 1; i < this.coordinates.length; i += 1) {
            const long2 = this.coordinates[i][0];
            const lat2 = this.coordinates[i][1];
            bounds.extend([long2, lat2]);
          }
          // Set the zoom of the map
          if (this.nbRues > 1) {
            this.map.setZoom(10);
          } else {
            this.map.setZoom(13);
          }
          // Find the center of bounds
          const center = bounds.getCenter();
          // Show the area where are markers and zoom on them
          this.map.flyTo({
            center, // the center of the map
          });
        }
      }
    },
  },
  methods: {
    /**
     * Return only the roads visible on the map.
     * It is used to update the list of the map's visible elements.
     */
    mapOn() {
      const rues = []; // Array of roads
      // For each element of the coordinatesRue array, check if it is visible
      // And then return the list of visible roads in the updateMap event.
      this.coordinatesRue.forEach((element) => {
        const isInMap = this.map.getBounds().contains([element[1], element[0]]);
        if (isInMap) {
          rues.push(element[2]);
        }
      });
      this.$emit('updateMap', rues); // Return the roads' array to the event
    },
    /**
     * Allow to trace the street's line
     */
    traceStreet() {
      // Remove the street's trace on the map
      if (this.map.getLayer('street')) {
        this.map.removeLayer('street');
      }
      if (this.map.getSource('street')) {
        this.map.removeSource('street');
      }
      // Remove the street's trace on the printed map
      if (this.printedMap.getLayer('street')) {
        this.printedMap.removeLayer('street');
      }
      if (this.printedMap.getSource('street')) {
        this.printedMap.removeSource('street');
      }
      // Create the source for the map
      this.source = {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: [{
            type: 'Feature',
            geometry: {
              type: 'LineString',
              coordinates: this.coord,
            },
          }],
        },
      };
      // Create the layer for the map
      this.layer = {
        id: 'street',
        type: 'line',
        source: 'street',
        paint: {
          'line-color': '#1E88E5',
          'line-width': 5,
        },
      };
      // Add the source to the map and printed map
      if (!this.map.getSource('street')) {
        this.map.addSource('street', this.source);
      }
      if (!this.printedMap.getSource('street')) {
        this.printedMap.addSource('street', this.source);
      }
      // Add the layer to the map and printed map
      if (!this.map.getLayer('street')) {
        this.map.addLayer(this.layer);
      }
      if (!this.printedMap.getLayer('street')) {
        this.printedMap.addLayer(this.layer);
      }
    },
    /**
     * Asynchronous function to show house number of a street on the map
     */
    async showHouses() {
      // Hide houses' number
      this.hideHouses();
      // Check that we search a street
      if (this.typeMap === 'Rue' && this.nbRues === 1 && this.map.getZoom() >= 15.5) {
        // Check that pop ups don't already exist
        if (this.popUps.length === 0) {
          // Set the array of land lot name to empty
          this.namePar = [];
          // Search land loads of the street
          const response = await bdd.findParcellesRue({ nom: this.nomRue, token: this.$session.get('token') });
          const pars = response.data;
          // Create popups for each land lot
          pars.forEach((element) => {
            const popup = new Mapbox.Popup({ closeOnClick: false })
              .setLngLat([element.longitude, element.latitude])
              .setHTML('<h1>'.concat(element.numAssocies[0].numeroRue
                .concat(element.numAssocies[0].bisTer.concat(' '
                  .concat(element.numAssocies[0].complement.concat('</h1>'))))))
              .addTo(this.map);
            this.popUps.push(popup);
            // Add land lot name to show cadastre
            this.namePar.push(element.numero);
          });
        }
      }
    },
    /**
     * Function to hide house number on the map
     */
    hideHouses() {
      if ((this.typeMap === 'Rue' && this.nbRues === 1 && this.map.getZoom() < 15.5)
        || (this.typeMap === 'Rue' && this.nbRues !== 1) || (this.typeMap !== 'Rue')) {
        // Remove pop ups on the map
        this.popUps.forEach((element) => {
          element.remove();
        });
        // Set pop up array to empty
        this.popUps = [];
      }
    },
    /**
     * Function to add a land lot cadastre
     */
    showLandLot() {
      // Check that the map display a street, a land lot or an owner
      if (((this.typeMap === 'Rue' && this.nbRues === 1) || (this.typeMap === 'Parcelle')
        || (this.typeMap === 'Propriétaire')) && (this.map.getZoom() >= 15.5)) {
        // Remove land lot layers
        this.hideLandLot(true);
        // Show land lot
        if (this.cadastres.length === 0) {
          // Search land lot with the list of land lot name to display
          this.namePar.forEach(async (element) => {
            const response = await bdd.findParNumero({ numero: element, token: this.$session.get('token') });
            const parcelle = response.data[0].cadastre;
            const nameLS = 'cadastre'.concat(element);
            // Create a source
            const source = {
              type: 'geojson',
              data: {
                type: 'Feature',
                geometry: {
                  type: 'Polygon',
                  coordinates: parcelle,
                },
              },
            };
            // Create a layer
            const layer = {
              id: nameLS,
              type: 'fill',
              source: nameLS,
              layout: {},
              paint: {
                'fill-color': '#FF0000',
                'fill-opacity': 0.3,
              },
            };
            // Add sources and layers
            if (!this.map.getSource(nameLS)) {
              this.map.addSource(nameLS, source);
            }
            if (!this.map.getLayer(nameLS)) {
              this.map.addLayer(layer);
            }
            if (!this.printedMap.getSource(nameLS)) {
              this.printedMap.addSource(nameLS, source);
            }
            if (!this.printedMap.getLayer(nameLS)) {
              this.printedMap.addLayer(layer);
            }
            // Add the layer name to the array of cadastre displayed
            if (this.map.getSource(nameLS)
              || this.map.getLayer(nameLS)
              || this.printedMap.getSource(nameLS)
              || this.printedMap.getLayer(nameLS)) {
              this.cadastres.push(nameLS);
            }
          });
        }
      }
    },
    /**
     * Function to add a land lot cadastre
     */
    hideLandLot(authorized) {
      // Check that the map don't display a said location or several streets
      // or that the zoom is inferior to 15.5
      if ((((this.typeMap === 'Rue' && this.nbRues === 1) || (this.typeMap === 'Parcelle')
        || (this.typeMap === 'Propriétaire')) && (this.map.getZoom() < 15.5))
        || (this.typeMap === 'Lieu-dit') || authorized) {
        this.cadastres.forEach((element) => {
          if (this.map.getLayer(element)) {
            this.map.removeLayer(element);
          }
          if (this.map.getSource(element)) {
            this.map.removeSource(element);
          }
          if (this.printedMap.getLayer(element)) {
            this.printedMap.removeLayer(element);
          }
          if (this.printedMap.getSource(element)) {
            this.printedMap.removeSource(element);
          }
        });
        this.cadastres = [];
      }
    },
    /**
     * Asynchronous function to print the map of the street with markers and house's number
     */
    async printMap() {
      // Launch downloading
      this.snackbar = true;
      // Get center of the map
      const centerMap = this.map.getCenter();
      // Get zoom of the map
      const zoomMap = this.map.getZoom();
      // Centered and set zoom the printed map
      this.printedMap.setCenter(centerMap);
      this.printedMap.setZoom(zoomMap - 1.2);
      // Create arrays to save layers and sources for printed map
      const layers = [];
      const sources = [];
      // Get start point with coordinates
      if (this.markers.length >= 1) {
        const start = this.markers[0].getLngLat();
        const longS = start.lng;
        const latS = start.lat;
        // Create longitude and latitude text
        let lngLat = 'Longitude : ';
        lngLat = lngLat.concat(longS);
        lngLat = lngLat.concat('°');
        lngLat = lngLat.concat('\nLatitude : ');
        lngLat = lngLat.concat(latS);
        lngLat = lngLat.concat('°');
        // Create Start point on the map and add the longitude and latitude text
        // Source
        this.printedMap.addSource('startPoint', {
          type: 'geojson',
          data: {
            type: 'FeatureCollection',
            features: [
              {
                type: 'Feature',
                properties: {
                  title: lngLat,
                },
                geometry: {
                  type: 'Point',
                  coordinates: [
                    longS,
                    latS,
                  ],
                },
              },
            ],
          },
          cluster: true,
          clusterMaxZoom: 18,
          clusterRadius: 50,
        });
        sources.push('startPoint');
        // Point layer
        this.printedMap.addLayer({
          id: 'startPoint',
          type: 'circle',
          source: 'startPoint',
          paint: {
            'circle-color': '#FF0000',
            'circle-radius': 7,
          },
        });
        layers.push('startPoint');
        // Point text
        let colorText = '#000000';
        if (this.satelliteVue) {
          colorText = '#FF0000';
        }
        this.printedMap.addLayer({
          id: 'startPointLngLat',
          type: 'symbol',
          source: 'startPoint',
          layout: {
            'text-field': ['get', 'title'],
            'text-variable-anchor': ['bottom-left', 'bottom-right', 'top-left', 'top-right'],
            'text-offset': [1, 0],
            'text-size': 20,
            'text-font': [
              'Open Sans Bold',
            ],
          },
          paint: {
            'text-color': colorText,
          },
        });
        layers.push('startPointLngLat');
      }
      // Create houses' number
      this.popUps.forEach((element, i) => {
        const num = element.getElement().textContent.split('×');
        const number = num[1];
        // Create source and layer name
        const sourceName = 'Source'.concat(i);
        const layerName = 'Layer'.concat(i);
        // Add the source
        this.printedMap.addSource(sourceName, {
          type: 'geojson',
          data: {
            type: 'FeatureCollection',
            features: [
              {
                type: 'Feature',
                properties: {
                  title: number,
                },
                geometry: {
                  type: 'Point',
                  coordinates: [
                    element.getLngLat().lng,
                    element.getLngLat().lat,
                  ],
                },
              },
            ],
          },
          cluster: true,
          clusterMaxZoom: 18,
          clusterRadius: 50,
        });
        sources.push(sourceName);
        // Add the layer
        this.printedMap.addLayer({
          id: layerName,
          type: 'symbol',
          source: sourceName,
          layout: {
            'text-field': ['get', 'title'],
            'text-anchor': 'center',
            'text-font': [
              'Open Sans Bold',
            ],
          },
        });
        layers.push(layerName);
      });
      // Create the header of the file
      const ruehtml = '<div><h2 align="center">'.concat(this.nomRue);
      // Create the pdf with the map
      await printPdf.build()
        .format('a4')
        .landscape()
        .header({
          html: ruehtml,
          baseline: { format: 'a4', orientation: 'l' },
        })
        .dpi(250)
        .print(this.printedMap, Mapbox)
        .then(pdf => pdf.save('Carte-'.concat(this.nomRue.concat('.pdf'))));
      // Remove layers on the map
      layers.forEach((element) => {
        this.printedMap.removeLayer(element);
      });
      // Remove sources on the map
      sources.forEach((element) => {
        this.printedMap.removeSource(element);
      });
    },
  },
};
</script>
