<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to represent a map on which a click allow to
  update form's geographical coordinates -->
<template>
  <div>
    <!-- Map component -->
    <div align="left" class="map" id="map"></div>
    <!-- Legend component -->
    <div class="legend" style="height: 137px;">
      <div align="left" v-if="this.typeMap === 'Rue'">
        <img src="../assets/yellow_marker.png" height=20px/> Début de rue
      </div>
      <div align="left" v-if="this.typeMap === 'Rue'">
        <img src="../assets/orange_marker.png" height=20px/> Milieu de rue
      </div>
      <div align="left" v-if="this.typeMap === 'Rue'">
        <img src="../assets/darkred_marker.png" height=20px/> Fin de rue
      </div>
      <div align="left" style="margin-bottom: -90%; margin-top: -10%;">
        <v-switch v-model="satelliteVue" label="Satellite"></v-switch>
      </div>
    </div>
    <p>Pour tourner la map, il faut rester appuyer sur le click droit de la souris et bouger</p>
  </div>
</template>

<script>
// Import the MapboxGL library
import Mapbox from 'mapbox-gl';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  data() {
    return {
      // Configuration object
      config: configGlobal,

      map: null, // Define the element of the map
      marker: null, // The land lot marker on the map
      markerStart: null, // The start street marker on the map
      markersMid: [], // The middle markers street marker on the map
      markerEnd: null, // The end street marker on the map
      satelliteVue: false, // Define the satellite view on the map to false
      coord: [], // Array of coordinates to trace the line of the street
      source: null, // Source of the street's line layer
      layer: null, // Layer to display street's line
    };
  },
  props: {
    envoi: Array, // Property envoi given in the definition of the component (in the template)
    typeMap: String, // Type of the element to display on the map (street or land load)
    nbCoordInt: Number, // Number of street's middle coordinates
  },
  /**
   * Code executed during the component's rendering
   */
  mounted() {
    // Define the token of the map
    Mapbox.accessToken = 'pk.eyJ1IjoiYWxpemVlMjExMjMiLCJhIjoiY2s5djBwM3d2MDcwMTNocnVtZmJiZ3RkaCJ9.IBi8PGmFoPld6ioKwRlsYA';
    const lat = this.config.latitudeCenter;
    const long = this.config.longitudeCenter;
    // Create the map
    this.map = new Mapbox.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
      center: [long, lat], // starting position [lng, lat]
      zoom: 13, // starting zoom
    });
    // Create the scale
    const scale = new Mapbox.ScaleControl({
      maxWidth: 80,
      unit: 'metric',
    });
    // Add the scale on the map
    this.map.addControl(scale);
    // Create the zoom control
    const zoomControl = new Mapbox.NavigationControl();
    // Add zoom control to the map
    this.map.addControl(zoomControl);
    // Add only one marker if the map is to add a land load
    // Add markers if the map is to add or modify a street
    if (this.typeMap === 'Parcelle') {
      // Add the land load marker at the middle of the map
      this.marker = new Mapbox.Marker({ color: '#FF0000', draggable: 'true' })
        .setLngLat([
          this.config.longitudeCenter,
          this.config.latitudeCenter,
        ]) // Set the position of the marker
        .addTo(this.map);
      // Execute a function when the land load marker has been moved and is now fixed
      this.marker.on('dragend', this.onDragEnd);
    } else if (this.typeMap === 'Rue') {
      // Add the start street marker at the middle of the map
      this.markerStart = new Mapbox.Marker({ color: '#FFD700', draggable: 'true' })
        .setLngLat([
          this.config.longitudeCenter,
          this.config.latitudeCenter,
        ]) // Set the position of the marker
        .addTo(this.map);
      // Execute a function when the start street marker has been moved and is now fixed
      this.markerStart.on('dragend', this.onDragEnd);
      // Add the end street marker at the middle of the map
      this.markerEnd = new Mapbox.Marker({ color: '#CC0000', draggable: 'true' })
        .setLngLat([
          this.config.longitudeCenter,
          this.config.latitudeCenter,
        ]) // Set the position of the marker
        .addTo(this.map);
      // Execute a function when the end street marker has been moved and is now fixed
      this.markerEnd.on('dragend', this.onDragEnd);
    }
  },
  watch: {
    /**
     * Function called when we change the element to add (street or land load)
     */
    typeMap() {
      // Remove all markers on the map
      if (this.marker !== null) {
        this.marker.remove();
      }
      if (this.markerStart !== null) {
        this.markerStart.remove();
      }
      if (this.markersMid.length !== 0) {
        this.markersMid.forEach((element) => {
          element.remove();
        });
      }
      this.markersMid = [];
      this.nbCoordInt = 0;
      this.coord = [];
      this.$emit('resetCoordInt', 0);
      if (this.markerEnd !== null) {
        this.markerEnd.remove();
      }
      // Remove the layer on the map
      if (this.map.getLayer('street')) {
        this.map.removeLayer('street');
      }
      // Remove the source of the layer on the map
      if (this.map.getSource('street')) {
        this.map.removeSource('street');
      }
      // If type of map is to add a land load
      if (this.typeMap === 'Parcelle') {
        // Add the land load marker at the middle of the map
        this.marker = new Mapbox.Marker({ color: '#FF0000', draggable: 'true' })
          .setLngLat([
            this.config.longitudeCenter,
            this.config.latitudeCenter,
          ]) // Set the position of the marker
          .addTo(this.map);
        // Execute a function when the land load marker has been moved and is now fixed
        this.marker.on('dragend', this.onDragEnd);
      } else if (this.typeMap === 'Rue') {
        // If type of map is to add a street
        // Add the start street marker at the middle of the map
        this.markerStart = new Mapbox.Marker({ color: '#FFD700', draggable: 'true' })
          .setLngLat([
            this.config.longitudeCenter,
            this.config.latitudeCenter,
          ]) // Set the position of the marker
          .addTo(this.map);
        // Execute a function when the start street marker has been moved and is now fixed
        this.markerStart.on('dragend', this.onDragEnd);
        // Add the end street marker at the middle of the map
        this.markerEnd = new Mapbox.Marker({ color: '#CC0000', draggable: 'true' })
          .setLngLat([
            this.config.longitudeCenter,
            this.config.latitudeCenter,
          ]) // Set the position of the marker
          .addTo(this.map);
        // Execute a function when the end street marker has been moved and is now fixed
        this.markerEnd.on('dragend', this.onDragEnd);
      }
    },
    /**
     * Function called when satelliteVue boolean changes
     */
    satelliteVue() {
      let style = '';
      if (this.satelliteVue) {
        // Set style to satellite map if it was plan map
        style = 'mapbox://styles/mapbox/satellite-streets-v11';
      } else {
        // Set style to plan map if it was satellite map
        style = 'mapbox://styles/mapbox/streets-v11';
      }
      // Change the background map according to the style
      this.map.setStyle(style);
      this.map.on('style.load', () => {
        this.traceStreet();
      });
    },
    /**
     * Function called to update markers on the map according to the form
     * @param {Array} val
     */
    envoi(val) {
      if (this.typeMap === 'Parcelle') {
        // If the coordinates are specified, check them to update the marker
        if (val.length === 2) {
          // If the coordinates aren known, place the marker
          // val[0] is latitude
          // val[1] is longitude
          if (val[0] !== 0 && val[1] !== 0) {
            // Set coordinates of the marker
            this.marker.setLngLat([val[1], val[0]]);
            // Show the area where is the marker and zoom on it
            this.map.flyTo({ center: [val[1], val[0]], zoom: 16 });
          }
        }
      } else if (this.typeMap === 'Rue') {
        // Set coordinates array for the trace line to empty
        this.coord = [];
        // If the coordinates are specified, check them to update the marker
        if (val.length === 5) {
          // Set start, middle and end to false it's to say that there is no coordinates
          let start = false;
          let end = false;
          // If the coordinates aren known, place the marker
          // val[0] is start's latitude
          // val[1] is start's longitude
          // val[2] is end's latitude
          // val[3] is end's longitude
          // val[4] are middle's coordinates
          if (val[0] !== '' && val[0] !== undefined
            && val[1] !== '' && val[1] !== undefined) {
            // Set coordinates of the start marker
            this.markerStart.setLngLat([val[1], val[0]]);
            // Set that it exists start coordinates
            start = true;
            // Add start street to coordinates for trace line
            this.coord.push([val[1], val[0]]);
          }
          for (let i = 0; i < this.nbCoordInt; i += 1) {
            if (val[4][i][0] !== '' && val[4][i][0] !== undefined
              && val[4][i][1] !== '' && val[4][i][1] !== undefined) {
              // Add the midlles street marker
              // val[4][i][0] is latitude
              // val[4][i][1] is longitude
              const marker = new Mapbox.Marker({ color: '#FF9900', draggable: 'true' })
                .setLngLat([val[4][i][1], val[4][i][0]])
                .addTo(this.map);
              // Execute a function when the middles street marker has been moved and is now fixed
              marker.on('dragend', this.onDragEnd);
              // Add the markers in the list of middle markers
              this.markersMid.push(marker);
            }
          }
          if (val[2] !== '' && val[2] !== undefined
            && val[3] !== '' && val[3] !== undefined) {
            // Set coordinates of the marker
            this.markerEnd.setLngLat([val[3], val[2]]);
            // Set that it exists end coordinates
            end = true;
          }
          // If it exists start coordinates but no end coordinates or inverse
          // Set the coordinates don't known near to the coordinates known
          if (start && !end) {
            this.markerEnd.setLngLat([val[1] + 0.001, val[0]]);
            end = true;
          } else if (!start && end) {
            this.markerStart.setLngLat([val[3] + 0.001, val[2]]);
            start = true;
          }
          // If there are several markers, fit bounds on them
          if (start && end) {
            const deb = this.markerStart.getLngLat();
            const fin = this.markerEnd.getLngLat();
            const latD = deb.lat;
            const longD = deb.lng;
            const latF = fin.lat;
            const longF = fin.lng;
            const coordinates = [[longD, latD], [longF, latF]];
            // Find bounds of the coordinates
            const bounds = new Mapbox.LngLatBounds(coordinates);
            // Find the center of bounds
            const center = bounds.getCenter();
            // Show the area where are markers and zoom on them
            this.map.flyTo({
              center, // the center of the map
              zoom: 13,
            });
            // Add end street to coordinates for trace line
            this.coord.push(longF, latF);
          }
        }
        // Trace the street
        this.traceStreet();
      }
    },
    /**
     * Function called to create or remove middle markers on the map
     * @param {Array} val
     */
    nbCoordInt() {
      // Set coordinates array for the trace line to empty
      this.coord = [];
      // Get coordinates of the start marker
      const longlatS = this.markerStart.getLngLat();
      const longS = longlatS.lng;
      const latS = longlatS.lat;
      // Add start street to coordinates for trace line
      this.coord.push([longS, latS]);
      // Add middle markers
      if (this.nbCoordInt > this.markersMid.length) {
        let longM = 0;
        let latM = 0;
        if (this.markersMid.length === 0) {
          // Set distance comparing to start marker
          longM = longS + 0.0005;
          latM = latS;
        } else {
          // Set distance comparing to last middle marker
          const lengthM = this.markersMid.length;
          const long = this.markersMid[lengthM - 1].getLngLat().lng;
          longM = long + 0.0005;
          latM = this.markersMid[lengthM - 1].getLngLat().lat;
        }
        // Add the middle marker
        const marker = new Mapbox.Marker({ color: '#FF9900', draggable: 'true' })
          .setLngLat([longM, latM])
          .addTo(this.map);
        // Execute a function when the middles street marker has been moved and is now fixed
        marker.on('dragend', this.onDragEnd);
        // Add the markers in the list of middle markers
        this.markersMid.push(marker);
      } else if (this.nbCoordInt < this.markersMid.length) {
        // Find the last marker added
        const nbMarkerMid = this.markersMid.length;
        const lastMarker = this.markersMid[nbMarkerMid - 1];
        // Remove the last middle marker added
        lastMarker.remove();
        this.markersMid.pop();
      }
      for (let i = 0; i < this.markersMid.length; i += 1) {
        const markerLngLat = this.markersMid[i].getLngLat();
        const longM = markerLngLat.lng;
        const latM = markerLngLat.lat;
        this.coord.push([longM, latM]);
      }
      // Get coordinates of the end marker
      const longlatE = this.markerEnd.getLngLat();
      const longE = longlatE.lng;
      const latE = longlatE.lat;
      // Add end street to coordinates for trace line
      this.coord.push([longE, latE]);
      // Transmit the coordinates to the form
      this.onDragEnd();
    },
  },
  methods: {
    /**
     * Function which allows to update the coordinates in the form.
     */
    onDragEnd() {
      if (this.typeMap === 'Parcelle') {
        // Get the land lot marker findCoordinates
        const lngLat = this.marker.getLngLat();
        const markerLng = lngLat.lng;
        const markerLat = lngLat.lat;
        // Return the coordinates to the event with 6 number after coma
        this.$emit('updateCoord', [markerLat.toFixed(6), markerLng.toFixed(6)]);
      } else if (this.typeMap === 'Rue') {
        // Set coordinates array for the trace line to empty
        this.coord = [];
        // Set coordinates array for add or update street to empty
        const coordInt = [];
        // Get the start street marker coordinates
        const startLngLat = this.markerStart.getLngLat();
        const markerStartLng = startLngLat.lng;
        const markerStartLat = startLngLat.lat;
        // Add start street to coordinates for trace line
        this.coord.push([markerStartLng, markerStartLat]);
        // Get the end street marker coordinates
        const endLngLat = this.markerEnd.getLngLat();
        const markerEndLng = endLngLat.lng;
        const markerEndLat = endLngLat.lat;
        // Get the middle street marker coordinates
        for (let i = 0; i < this.markersMid.length; i += 1) {
          if (this.markersMid[i].getLngLat() !== undefined) {
            const midLngLat = this.markersMid[i].getLngLat();
            const markerMidLng = midLngLat.lng;
            const markerMidLat = midLngLat.lat;
            // Add middle street to coordinates for trace line
            this.coord.push([markerMidLng, markerMidLat]);
            // Add middle street to coordinates for add or update the street
            coordInt.push([markerMidLat.toFixed(6), markerMidLng.toFixed(6)]);
          }
        }
        // Add end street to coordinates for trace line
        this.coord.push([markerEndLng, markerEndLat]);
        // Trace the street
        this.traceStreet();
        // Return the coordinates to the event with 6 number after coma
        this.$emit('updateCoord', [markerStartLat.toFixed(6), markerStartLng.toFixed(6),
          markerEndLat.toFixed(6), markerEndLng.toFixed(6), coordInt]);
      }
    },
    /**
     * Function which allows to trace the street's line
     */
    traceStreet() {
      // Remove the layer on the map
      if (this.map.getLayer('street')) {
        this.map.removeLayer('street');
      }
      // Remove the source of the layer on the map
      if (this.map.getSource('street')) {
        this.map.removeSource('street');
      }
      // Change the source according to the coordinates of markers
      this.source = {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: [{
            type: 'Feature',
            geometry: {
              type: 'LineString',
              coordinates: this.coord,
            },
            properties: null,
          }],
        },
      };
      // Add the source to the map
      this.map.addSource('street', this.source);
      this.layer = {
        id: 'street',
        type: 'line',
        source: 'street',
        paint: {
          'line-color': '#1E88E5',
          'line-width': 5,
        },
      };
      // Add the layer to the map
      if (!this.map.getLayer('street')) {
        this.map.addLayer(this.layer);
      }
    },
  },
};
</script>
