<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to manage, on the one hand, all the categories and materials
  and, on the other hand, the order.
-->
<template>
    <div class="materiau">
        <!-- Button to select the screen to display (categories... or order) -->
        <div v-if="haveRight" align="center">
          <div class="custom-select" align="center">
            <select
              v-model="type" style="min-width: 95px;" @blur="setIconDown"
              @mouseup="mouseup" id="selectButton" class="pointer"
            >
              <option v-for="option in options" v-bind:key="option.id">{{ option.value }}</option>
            </select>
            <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
          </div>
          <div v-if="haveRight" class="flex" style="margin-left: 80%;">
            <h3 class="no-margin mt-4 mr-3">Paramètres</h3>
            <v-btn icon color="primary" x-large
            depressed rounded v-bind:to="{ name: 'ParametresMateriaux' }">
              <font-awesome-icon :icon="['fas', 'cog']" size="2x"/>
            </v-btn>
          </div>
        </div>
        <br/>
        <!-- Categories / Materials block -->
        <div v-if="this.type === 'Matériaux'" align="center">
          <h3 class="no-margin">Liste des matériaux</h3>
          <!-- Display the data in a table -->
          <v-card class="custom-table">
            <v-tabs vertical dark background-color="primary" v-model="active_category">
              <!-- Button to add a new category -->
              <v-tab style="height: auto;">
                <div class="custom-button mt-3 mb-3">
                  <v-btn color="#ffffff" outlined rounded>
                    Ajouter une catégorie
                  </v-btn>
                </div>
              </v-tab>
              <v-tab v-for="category in listeAllCategories" v-bind:key="category.id"
                style="height: auto;"
              >
                <v-row>
                  <v-col style="margin: auto; margin-left: 10px" align="left">
                    {{ category.value }}
                  </v-col>
                  <v-col align="right">
                    <v-btn icon class="primary custom-button2"
                      style="border: 1px solid #ffffff !important;"
                      depressed rounded color="#ffffff"
                      v-bind:to="{ name: 'ModifierCategorie', params: { id: category.dbId } }"
                    >
                      <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                    </v-btn>
                    <v-btn icon class="primary"
                      style="border: 1px solid #ffffff !important;"
                      depressed rounded color="#ffffff"
                      v-bind:to="{ name: 'SupprimerCategorie',
                        params: { id: category.dbId, nom: category.value } }"
                    >
                      <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-tab>
              <!-- Form to add a new category -->
              <v-tab-item :transition="false" :reverse-transition="false" style="padding: 20px;">
                <v-form class="ajouter-bloc" ref="formAddCategorie"
                  v-model="validAddCategorie">
                  <h3 align="center" style="margin: 0px 0px 30px;">
                    Ajouter une nouvelle catégorie
                  </h3>
                  <div class="custom-bloc">
                    <v-text-field class="custom-text-field" type="text"
                      label="Nom de la catégorie (*)"
                      v-model="newCategorie" outlined rounded dense
                      :rules="newCategorieRequiredRules" required/>
                  </div>
                  <div class="custom-bloc">
                    <v-autocomplete
                      class="custom-text-field"
                      label="Phrase supplémentaire de commande"
                      v-model="phraseCommande"
                      :items="listePhrasesCommande"
                      no-data-text="La phrase indiquée n'existe pas, veuillez d'abord la créer
                        dans l'onglet 'Paramètres des matériaux'."
                      dense
                      item-text="value"
                      item-value="id"
                      outlined
                      rounded
                    />
                  </div>
                  <div class="mt-4" align="center">
                    <label class="font-lighter">Les champs (*) sont requis.</label>
                  </div>
                </v-form>
                <br/>
                <div class="center">
                  <div class="custom-button mr-5">
                      <v-btn color="primary" depressed rounded :disabled="!validAddCategorie"
                      @click="addCategorie">Enregistrer</v-btn>
                  </div>
                  <div class="custom-button ml-5">
                    <v-btn color="primary" rounded outlined
                    @click="active_category = 1">Quitter</v-btn>
                  </div>
                </div>
              </v-tab-item>
              <!-- Display the materials for each category -->
              <v-tab-item v-for="category in listeAllCategories" v-bind:key="category.id"
              :transition="false" :reverse-transition="false" style="padding: 20px;">
                <v-card
                  v-for="materiau in listeMateriaux" v-bind:key="materiau._id"
                  width="600px"
                  outlined
                  id="custom-card"
                >
                  <v-row class="pl-4">
                    <v-col cols="auto" align="center" style="min-width: 15%;">
                      <v-img v-if="materiau.urlImage !== undefined"
                        icone
                        :src="materiau.urlImage"
                        contain
                        alt="Image du panneau"
                        width="50"
                        aspect-ratio="1"
                      >
                        <template v-slot:placeholder>
                          <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                          >
                            <v-progress-circular width="3" indeterminate color="primary"/>
                          </v-row>
                        </template>
                      </v-img>
                    </v-col>
                    <v-col cols="auto" align="left" class="my-auto ml-3" style="min-width: 40%;">
                      <v-list-item-title>{{ materiau.reference }}</v-list-item-title>
                    </v-col>
                    <v-col v-if="haveRight" class="mr-3">
                      <v-row justify="center" class="align-center fill-height custom-row">
                        <v-btn icon class="primary custom-button2" depressed rounded
                        color="#ffffff" v-bind:to="{ name: 'ModifierMateriau',
                        params: { id: materiau._id, categorie: category.value} }">
                          <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                        </v-btn>
                        <v-btn icon class="primary" color="#ffffff" depressed rounded
                          v-bind:to="{ name: 'SupprimerMateriau', params: { id: materiau._id,
                          categorie: category.value, materiau: materiau.reference } }">
                          <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                        </v-btn>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
                <!-- Button to add a new material -->
                <div v-if="haveRight" class="center">
                  <div class="custom-button">
                    <v-btn color="primary" depressed rounded
                    v-bind:to="{ name: 'AjouterMateriau', params:{ categorie: category.value } }">
                    Ajouter un nouveau matériau</v-btn>
                  </div>
                </div>
              </v-tab-item>
            </v-tabs>
          </v-card>
          <br/>
        </div>
        <!-- Order block -->
        <div v-else-if="this.type === 'Commande'" align="center">
          <h3 class="no-margin">Ma commande</h3>
          <br/>
          <!-- Display the order -->
          <div v-if="commande.length > 0" class="resultat">
            <div v-for="article in commande
              .filter(art => this.listeAllCategories
                .find(cat => cat.dbId === art.materiau.categorie) !== undefined
                ? !this.listeAllCategories.find(cat => cat.dbId === art.materiau.categorie)
                .panonceau : true)"
              v-bind:key="article._id">
              <!-- Create a card for each article -->
              <v-card
                max-width="470"
                outlined
                id="custom-card"
              >
                <v-row class="pl-4">
                  <!-- Article's image -->
                  <v-col cols="auto" align="center" style="min-width: 15%;">
                    <v-img v-if="article.urlImage !== undefined"
                      :src="article.urlImage"
                      contain
                      alt="Image du panneau"
                      width="50"
                      aspect-ratio="1"
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular width="3" indeterminate color="primary"/>
                        </v-row>
                      </template>
                    </v-img>
                  </v-col>
                  <v-col cols="auto" align="left" style="margin-left: 10px; min-width: 50%;">
                    <v-list-item-title>
                      {{ listeAllCategories
                        .find(cat => cat.dbId === article.materiau.categorie).value }}
                      : {{ article.reference.reference }}
                    </v-list-item-title>
                    <v-list-item-subtitle class="card-subtitle">
                      Quantité : {{ article.quantite }}
                    </v-list-item-subtitle>
                  </v-col>
                  <!-- Buttons to modify or delete the article -->
                  <v-col v-if="haveRight">
                    <v-row justify="center" class="align-center fill-height">
                      <v-btn icon class="primary custom-button2" depressed rounded
                      color="#ffffff" v-bind:to="{ name: 'ModifierArticle', params:
                        { id: article._id } }">
                        <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                      </v-btn>
                      <v-btn icon class="primary"
                        color="#ffffff" depressed rounded
                        v-bind:to="{ name: 'SupprimerArticle',
                          params: { id: article._id, nom: article.reference.reference,
                            categorie: listeAllCategories
                              .find(cat => cat.dbId === article.materiau.categorie).value } }">
                        <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                      </v-btn>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </div>
          </div>
          <div v-else class="center">
            <label>Votre commande ne contient, pour le moment, aucun article.</label>
          </div>
          <br/>
          <!-- Button to add a new article -->
          <div class="custom-button center">
            <v-btn color="primary" depressed rounded v-bind:to="{ name: 'AjouterArticle' }">
              Ajouter un article</v-btn>
          </div>
          <br/>
          <div class="center">
            <!-- Print and download the order -->
            <div class="custom-button mr-5 text-center">
              <v-menu
                class="mr-9"
                v-model="menu"
                open-on-click
                top
                offset-y
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" depressed rounded v-on="on" v-bind="attrs"
                  :disabled="commande.length <= 0">Télécharger</v-btn>
                </template>
                <v-card class="pa-1">
                  <v-list>
                    <v-list-item>
                      <h3 class="mt-0">Format du devis :</h3>
                    </v-list-item>
                    <v-list-item>
                      <div class="center">
                        <v-btn color="primary" depressed rounded
                          @click="printCommande(true)" :disabled="commande.length <= 0">
                          Liste
                        </v-btn>
                      </div>
                    </v-list-item>
                    <v-list-item>
                      <div class="center">
                        <v-btn color="primary" depressed rounded
                          @click="printCommande(false)" :disabled="commande.length <= 0">
                          Tableau
                        </v-btn>
                      </div>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-menu>
            </div>
            <!-- Reset the order -->
            <div class="custom-button ml-5">
              <v-btn color="primary" outlined rounded
              @click="resetCommande" :disabled="commande.length <= 0">Réinitialiser</v-btn>
            </div>
          </div>
          <!-- Display a snackbar to inform the user that the order will be printed -->
          <v-snackbar
            color="primary"
            class="custom-snackbar"
            v-model="snackbar1"
            :timeout="timeout"
          >Le résumé de votre commande va être édité...</v-snackbar>
          <!-- Display a snackbar to inform the user that the order can't be printed
            because it is empty -->
          <v-snackbar
            color="primary"
            class="custom-snackbar"
            v-model="snackbar1Error"
            :timeout="timeoutError"
          >Le résumé de votre commande ne peut être édité car elle est vide.</v-snackbar>
          <!-- Display a snackbar to inform the user that the order will be reset -->
          <v-snackbar
            color="primary"
            class="custom-snackbar"
            v-model="snackbar2"
            :timeout="timeout"
          >Votre commande va être réinitialisée...</v-snackbar>
        </div>
    </div>
</template>

<script>
// Import 'pdfmake' module to generate PDFs
import pdfMake from 'pdfmake/build/pdfmake';
// Import 'pdfmake' module's fonts
import pdfFonts from 'pdfmake/build/vfs_fonts';
// Import 'jszip' module to generate .zip files
import JSZip from 'jszip';
// Import 'file-saver' module to let the user download files
import saveAs from 'file-saver';
// Access to functions to use the users related database
import bddUser from '@/services/BddUser';
// Access to functions to find, modify or delete materials elements in the database
import bddMateriaux from '@/services/BddMateriaux';
// Access to functions to find, modify or delete articles elements in the database
import bddCommande from '@/services/BddCommande';

export default {
  name: 'Materiau', // Component's name
  data() {
    return {
      iconSelect: 'angle-down', // String to set the icon's arrow's direction
      focus: false, // Boolean to know if the button is on focus

      // Form rules to force a field to be required and to forbid it to be the same as
      // a category that already exists
      newCategorieRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        v => this.listeAllCategories.find(cat => cat.value.toUpperCase() === v.toString().trim().toUpperCase()) === undefined || 'Une catégorie portant le même nom existe déjà',
      ],

      snackbar1: false, // Boolean to display the snackbar if it is set to true
      snackbar2: false, // Boolean to display the snackbar if it is set to true
      snackbar1Error: false, // Boolean to display the snackbar if it is set to true
      timeout: 3000, // Time of the snackbar's duration
      timeoutError: 5000, // Time of the snackbar's duration

      // Boolean to know if the information panel has to be displayed
      menu: false,

      // Type of the block to display
      type: this.$route.params.type || 'Matériaux',
      // Array of the block to display
      options: [
        {
          id: 1,
          value: 'Matériaux',
        },
        {
          id: 2,
          value: 'Commande',
        },
      ],

      // Boolean to know if the categorie's form is correctly completed
      validAddCategorie: false,
      // Category name
      newCategorie: '',
      // Order sentence
      phraseCommande: '',

      // Index of the active category
      active_category: 0,
      // Array to store all the material categories
      listeAllCategories: [],
      // Array to store all the order sentences
      listePhrasesCommande: [],

      // Array to store all the materials
      listeMateriaux: [],
      // Array to store the order
      commande: [],

      // Boolean to know if the user can see some blocks or not
      haveRight: true,
    };
  },
  async mounted() {
    // Determine the actual user's role
    const roleUtil = await bddUser.findRole({ nomRole: this.$session.get('role'), token: this.$session.get('token') });
    // Get the list of permissions according to the role
    const droits = roleUtil.data[0].listePermission;
    // Determine if the actual user can access to the database management
    const verif = await droits.filter(element => element.nomPermission === 'gestion des rues/par/pro');
    // Set the haveRight boolean to false if the right desired is empty
    if (verif.length === 0) {
      this.haveRight = false;
    }
    // Set the module's fonts
    pdfMake.vfs = pdfFonts.pdfMake.vfs;
    // Get all the order sentences
    await this.getPhrasesCommande();
    // Get all the material categories
    await this.getCategories();
    // Display the materials according to the active category
    await this.afficherMateriaux(this.active_category);
    // Display the order
    await this.afficherCommande();
  },
  watch: {
    /**
     * Update the materials to display in real-time when the active category has changed
     */
    active_category(val) {
      if (val > 0) {
        this.afficherMateriaux(val);
      }
    },
  },
  methods: {
    /**
     * Set icon up
     */
    setIconUp() {
      this.iconSelect = 'angle-up';
      this.focus = true;
    },
    /**
     * Set icon down
     */
    setIconDown() {
      this.focus = false;
      this.iconSelect = 'angle-down';
    },
    /**
     * Change the arrow of the select button according to the mouse events
     */
    mouseup() {
      if (this.focus) {
        document.getElementById('selectButton').blur();
        this.setIconDown();
      } else {
        document.getElementById('selectButton').focus();
        this.setIconUp();
      }
    },
    /**
     * Add a new category in the database
     */
    async addCategorie() {
      await bddMateriaux.addCategorie({
        nom: this.newCategorie.toString().trim(),
        phraseCommande: this.phraseCommande,
        token: this.$session.get('token'),
      });
      // Reset the form
      this.newCategorie = '';
      if (this.$refs.formAddCategorie !== undefined) {
        this.$refs.formAddCategorie.resetValidation();
      }
      // Get all the materials categories
      await this.getCategories();
    },
    /**
     * Asynchronous function to get all the material categories in the database
     * and set the active category
     */
    async getCategories() {
      this.listeAllCategories = [];
      const response = await bddMateriaux.findCategorie({ token: this.$session.get('token') });
      if (response.data !== undefined && response.data.length > 0) {
        // For each category in the response, keep the wanted attributes in the component's array
        response.data.forEach((cat, index) => {
          this.listeAllCategories.push({
            id: index + 1,
            value: cat.nom,
            // eslint-disable-next-line
            dbId: cat._id,
            infoSup: cat.phraseCommande !== undefined ? cat.phraseCommande.nom : '',
            panonceau: cat.panonceau,
          });
        });
      }
      this.active_category = this.$route.params.categorie || 1;
    },
    /**
     * Asynchronous function to get all the order sentences
     */
    async getPhrasesCommande() {
      this.listePhrasesCommande = [];
      const response = await bddMateriaux.findPhraseCommande({ token: this.$session.get('token') });
      if (response.data !== undefined && response.data.length > 0) {
        // For each order sentence in the response, keep the wanted attributes
        // in the component's array
        response.data.forEach((phrase) => {
          this.listePhrasesCommande.push({
            // eslint-disable-next-line
            id: phrase._id,
            value: phrase.nom,
          });
        });
      }
    },
    /**
     * Asynchronous function to display the materials in the table
     * @param {Index of the category to look for} val
     */
    async afficherMateriaux(val) {
      if (val > 0 && this.listeAllCategories.length > 0) {
        this.listeMateriaux.forEach((element) => {
          if (element.urlImage !== undefined) {
            this.deleteUrlImage(element.urlImage);
          }
        });
        this.listeMateriaux = [];
        // Search the materials by category
        const response = await bddMateriaux.findMateriauxByCategorie({ categorieMateriau: this.listeAllCategories[val - 1].dbId, token: this.$session.get('token') });
        this.listeMateriaux = response.data;
        // For each image, create an url to display it on screen
        this.listeMateriaux.forEach((element) => {
          if (element.image.data.length > 0) {
            // eslint-disable-next-line
            element.urlImage = this.bufferToImage(element.image);
          }
        });
      }
    },
    /**
     * Reset the order by deleting all the articles and relaunch the order's display function
     */
    async resetCommande() {
      // Display the snackbar
      this.snackbar2 = true;
      await bddCommande.deleteAllArticle({ token: this.$session.get('token') });
      await this.afficherCommande();
    },
    /**
     * Asynchronous function to display the order
     */
    async afficherCommande() {
      const response = await bddCommande.findArticle({ token: this.$session.get('token') });
      this.commande = response.data;
      // For each image, create an url to display it on screen
      this.commande.forEach((element) => {
        if (element.wholeImage !== undefined && element.wholeImage.data.length > 0) {
          // eslint-disable-next-line
          element.urlImage = this.bufferToImage(element.wholeImage);
        } else if (element.image !== undefined && element.image.data.length > 0) {
          // eslint-disable-next-line
          element.urlImage = this.bufferToImage(element.image);
        }
      });
    },
    /**
     * Create a temporary URL from the Buffer image given
     * @param {The Buffer image} image
     * @return {The temporary URL used to display the image}
     */
    bufferToImage(image) {
      // Transform the content of the buffer into a Blob
      const blob = new Blob([new Uint8Array(image.data)]);
      // Return an url of the blob to display the image
      return URL.createObjectURL(blob);
    },
    /**
     * Delete manually a temporary url created which is not used anymore
     * @param {The url to delete} url
     */
    deleteUrlImage(url) {
      URL.revokeObjectURL(url);
    },
    /**
     * Callback to call when the order has been printed
     * @param {The ZIP object in which the generate files have to be added} zip
     * @param {The array of the images to print} imagesToPrint
     */
    callbackToCall(zip, imagesToPrint) {
      // Print the images of the order's articles
      this.printPhotos(zip, imagesToPrint, () => {
        // Generate the zip
        zip.generateAsync({ type: 'blob' })
          .then((blobR) => {
            const date = new Date();
            // Let the user download the .zip file
            saveAs(blobR, `Commande_${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}.zip`);
          });
      });
    },
    /**
     * Asynchronous function to print the order in a list or a table
     * @param {Boolean to print in a list or not} defaut
     */
    printCommande(defaut) {
      if (this.commande.length > 0) {
        this.snackbar1 = true;
        const zip = new JSZip();
        if (defaut) {
          // Print the order in a list
          this.printCommandePDF(zip, this.callbackToCall);
        } else {
          // Print the order in a table
          this.printCommandeTablePDF(zip, this.callbackToCall);
        }
      } else {
        this.snackbar1Error = true;
      }
    },
    /**
     * Asynchronous function to print the images of the order's articles
     * @param {The ZIP object in which the generate files have to be added} zip
     * @param {The array of the images to print} imagesToPrint
     * @param {The callback to call when it is finished} callback
     */
    printPhotos(zip, imagesToPrint, callback) {
      if (imagesToPrint !== null && imagesToPrint.length > 0) {
        const date = new Date();
        // Define the document specificities
        const docDefinition = {
          info: {
            title: 'Images',
          },
          content: [],
          styles: {
            center: {
              alignment: 'center',
            },
            image: {
              margin: [15, 5, 0, 5],
            },
          },
        };
        docDefinition.content.push(
          `Devis du ${date.getDate()} / ${date.getMonth() + 1} / ${date.getFullYear()} :`,
        );
        docDefinition.content.push('\n');
        const subset = [];
        const nbElements = 4;
        // Cut the array in group of 4 images, in order not to have images cropped
        for (let i = 0; i < imagesToPrint.length; i += nbElements) {
          subset.push(imagesToPrint.slice(i, i + nbElements));
        }
        // Create a table for each group of 4 images
        subset.forEach((part) => {
          const tableToAdd = {
            headerRows: 1,
            widths: [],
            body: [
              [],
              [],
            ],
          };
          part.forEach((image) => {
            tableToAdd.widths.push('auto');
            tableToAdd.body[0].push({
              text: image.text,
              style: 'center',
            });
            tableToAdd.body[1].push({
              image: image.image,
              width: 100,
              style: ['center', 'image'],
            });
          });
          docDefinition.content.push({
            table: tableToAdd,
          });
          docDefinition.content.push('\n');
        });
        // Generate the PDF file
        const pdfDocGenerator = pdfMake.createPdf(docDefinition);
        pdfDocGenerator.getBlob((blob) => {
          // Add it to the ZIP object
          zip.file(`Images_${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}.pdf`, blob);
          callback();
        });
      } else {
        callback();
      }
    },
    /**
     * Asynchronous function to print the order in a table
     * @param {The ZIP object in which the generate files have to be added} zip
     * @param {The callback to call when it is finished} callback
     */
    async printCommandeTablePDF(zip, callback) {
      const date = new Date();
      // Get the articles
      const response = await bddCommande.findArticle({ token: this.$session.get('token') });
      const commande = response.data;
      const imagesToPrint = [];
      const commandeSorted = [];
      let imageIndex = 1;
      // Define the document specificities
      const docDefinition = {
        info: {
          title: 'Devis',
        },
        content: [],
      };
      docDefinition.content.push(
        `Devis du ${date.getDate()} / ${date.getMonth() + 1} / ${date.getFullYear()} :`,
      );
      docDefinition.content.push('\n');
      // For each article which is not from the small sign category,
      // sort the order according to their category
      // eslint-disable-next-line
      commande.filter(art => this.listeAllCategories
        .find(cat => cat.dbId === art.materiau.categorie) !== undefined
        ? !this.listeAllCategories.find(cat => cat.dbId === art.materiau.categorie).panonceau
        : true).forEach((article) => {
        const part = commandeSorted.find(partie => partie.content.length > 0
          && partie.categorie === article.materiau.categorie);
        if (part !== undefined) {
          part.content.push(article);
        } else {
          commandeSorted.push({
            categorie: article.materiau.categorie,
            content: [article],
          });
        }
      });
      // For each category
      commandeSorted.forEach((part) => {
        const oldLength = imagesToPrint.length;
        // Define the table to represent the category
        const tableToAdd = {
          headerRows: 1,
          widths: ['auto', 'auto', 'auto'],
          body: [],
        };
        // Define the table headers
        const bodyTmp = [
          ['Quantité', 'Nom article', 'Image'],
        ];
        // Get the category
        const categorie = this.listeAllCategories
          .find(cat => cat.dbId === part.categorie);
        // If there is an order sentence for this category, add a header
        if (categorie.infoSup !== undefined && categorie.infoSup !== '') {
          tableToAdd.widths.push('auto');
          bodyTmp[0].push('Info Sup');
        }
        // For each article in the category
        part.content.forEach((article) => {
          const lengthOfRow = bodyTmp[0].length + 1;
          // Create the row in the table
          let values = [lengthOfRow];
          // Fill the row with empty strings
          values = values.fill('');
          let imageString = '';
          const img = article.wholeImage;
          // If there is an image to display, create a text to show and add the text and the
          // corresponding image to the array of the images to print
          if (img !== undefined && img.data !== undefined && img.data.length > 0) {
            imageString = `Image ${imageIndex}`;
            imagesToPrint.push({
              text: imageString,
              image: img,
            });
            imageIndex += 1;
          }
          // Add article data
          values[0] = article.quantite;
          values[1] = article.materiau.reference;
          if (imageString.trim() !== '') {
            values[2] = imageString;
          } else {
            values[2] = 'X';
          }

          // Add the order sentence
          if (categorie.infoSup !== undefined && categorie.infoSup !== '') {
            values[3] = categorie.infoSup;
          }

          if (article.valeurs.length > 0) {
            // For each chracteristic, if the name of it is already written in the headers,
            // just display it in the corresponding column. Otherwise, add a header and display
            // it in the last column.
            article.valeurs.forEach((valeur, index) => {
              const stringCaract = article.materiau.caracteristiques[index].nom
                .toString().trim();
              const colonne = bodyTmp[0]
                .find(col => col.toString().toUpperCase().trim() === stringCaract.toUpperCase());
              if (colonne === undefined) {
                tableToAdd.widths.push('auto');
                bodyTmp[0].push(stringCaract);
                values[bodyTmp[0].indexOf(stringCaract)] = valeur;
              } else {
                values[bodyTmp[0].indexOf(colonne)] = valeur;
              }
            });
          }
          // Add the row to the table
          bodyTmp.push(values);

          // Display the small sign
          if (article.panonceauRef !== undefined) {
            // Get the small sign
            // eslint-disable-next-line
            const panonceau = commande.find(art => art._id === article.panonceauRef);
            if (panonceau !== undefined) {
              // Get the category
              const categoriePanonceau = this.listeAllCategories
                .find(cat => cat.panonceau);
              // Create the row in the table
              let valuesPanonceau = [lengthOfRow];
              // Fill the row with empty strings
              valuesPanonceau = valuesPanonceau.fill('');
              // Add article data
              valuesPanonceau[0] = panonceau.quantite;
              valuesPanonceau[1] = panonceau.materiau.reference;
              if (imageString.trim() !== '') {
                valuesPanonceau[2] = imageString;
              } else {
                valuesPanonceau[2] = 'X';
              }

              // Add the order sentence
              if (categoriePanonceau !== undefined && categoriePanonceau.infoSup !== undefined
                && categoriePanonceau.infoSup !== '') {
                valuesPanonceau[3] = categoriePanonceau.infoSup;
              }

              if (panonceau.valeurs.length > 0) {
                // For each chracteristic, if the name of it is already written in the headers,
                // just display it in the corresponding column. Otherwise, add a header and display
                // it in the last column.
                panonceau.valeurs.forEach((valeur, index) => {
                  const stringCaract = panonceau.materiau.caracteristiques[index].nom
                    .toString().trim();
                  // eslint-disable-next-line
                  const colonne = bodyTmp[0].find(col => col.toString().toUpperCase().trim() === stringCaract.toUpperCase());
                  if (colonne === undefined) {
                    tableToAdd.widths.push('auto');
                    bodyTmp[0].push(stringCaract);
                    valuesPanonceau[bodyTmp[0].indexOf(stringCaract)] = valeur;
                  } else {
                    valuesPanonceau[bodyTmp[0].indexOf(colonne)] = valeur;
                  }
                });
              }
              // Add the row to the table
              bodyTmp.push(valuesPanonceau);
            }
          }
        });
        // If no image has been printed, delete the corresponding column
        if (imagesToPrint.length === oldLength) {
          // eslint-disable-next-line
          bodyTmp.forEach((row) => {
            // eslint-disable-next-line
            row = row.splice(2, 1);
          });
          tableToAdd.widths = tableToAdd.widths.slice(1);
        }
        // Change some unwanted values in empty strings not to have errors
        bodyTmp.forEach((row) => {
          while (bodyTmp[0].length > row.length) {
            row.push('');
          }
          const rowLength = row.length;
          for (let i = 0; i < rowLength; i += 1) {
            if (row[i] === undefined) {
              // eslint-disable-next-line
              row[i] = '';
            }
          }
        });
        // Add the rows in the table to display
        tableToAdd.body = bodyTmp;
        docDefinition.content.push(`${categorie.value} :\n`);
        // Add the table to the PDF file
        docDefinition.content.push({
          table: tableToAdd,
        });
        docDefinition.content.push('\n');
      });
      // Generate the PDF file
      const pdfDocGenerator = pdfMake.createPdf(docDefinition);
      pdfDocGenerator.getBlob((blob) => {
        // Add it to the ZIP object
        zip.file(`Devis_${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}.pdf`, blob);
        callback(zip, imagesToPrint);
      });
    },
    /**
     * Asynchronous function to print the order in a list
     * @param {The ZIP object in which the generate files have to be added} zip
     * @param {The callback to call when it is finished} callback
     */
    async printCommandePDF(zip, callback) {
      const date = new Date();
      // Get the articles
      const response = await bddCommande.findArticle({ token: this.$session.get('token') });
      const commande = response.data;
      const imagesToPrint = [];
      const commandeSorted = [];
      let imageIndex = 1;
      // Define the document specificities
      const docDefinition = {
        info: {
          title: 'Devis',
        },
        content: [],
      };
      docDefinition.content.push(
        `Devis du ${date.getDate()} / ${date.getMonth() + 1} / ${date.getFullYear()} :`,
      );
      docDefinition.content.push('\n');
      // For each article which is not from the small sign category,
      // sort the order according to their category
      // eslint-disable-next-line
      commande.filter(art => this.listeAllCategories
        .find(cat => cat.dbId === art.materiau.categorie) !== undefined
        ? !this.listeAllCategories.find(cat => cat.dbId === art.materiau.categorie).panonceau
        : true).forEach((article) => {
        const part = commandeSorted.find(partie => partie.content.length > 0
          && partie.categorie === article.materiau.categorie);
        if (part !== undefined) {
          part.content.push(article);
        } else {
          commandeSorted.push({
            categorie: article.materiau.categorie,
            content: [article],
          });
        }
      });
      // For each category
      commandeSorted.forEach((part) => {
        const categorie = this.listeAllCategories
          .find(cat => cat.dbId === part.categorie);
        docDefinition.content.push(`${categorie.value} :\n`);
        // For each article in the category
        part.content.forEach(async (article) => {
          // Create the line to show
          let str = '';
          let imageString = '';
          const img = article.wholeImage;
          // If there is an image to display, create a text to show and add the text and the
          // corresponding image to the array of the images to print
          if (img !== undefined && img.data !== undefined && img.data.length > 0) {
            imageString = `Image ${imageIndex}`;
            imagesToPrint.push({
              text: imageString,
              image: img,
            });
            imageIndex += 1;
          }
          // Add article data
          str += `${article.quantite} ${article.materiau.reference}`;
          // Add the order sentence
          if (categorie.infoSup !== undefined && categorie.infoSup !== '') {
            str += ` ${categorie.infoSup}`;
          }
          if (article.valeurs.length > 0) {
            // For each chracteristic, display it
            article.valeurs.forEach((valeur) => {
              str += ` ${valeur}`;
            });
          }
          if (imageString.trim() !== '') {
            str += ` (voir ${imageString})`;
          }
          // Add the line to the list
          docDefinition.content.push(str);
          // Write small sign
          if (article.panonceauRef !== undefined) {
            // eslint-disable-next-line
            const panonceau = commande.find(art => art._id === article.panonceauRef);
            if (panonceau !== undefined) {
              const categoriePanonceau = this.listeAllCategories
                .find(cat => cat.panonceau);
              // Create the line to show
              str = '';
              // Add article data
              str += `${panonceau.quantite} ${panonceau.materiau.reference}`;
              // Add the order sentence
              if (categoriePanonceau !== undefined && categoriePanonceau.infoSup !== undefined
                && categoriePanonceau.infoSup !== '') {
                str += ` ${categoriePanonceau.infoSup}`;
              }
              if (panonceau.valeurs.length > 0) {
                // For each chracteristic, display it
                panonceau.valeurs.forEach((valeur) => {
                  str += ` ${valeur}`;
                });
              }
              if (imageString.trim() !== '') {
                str += ` (voir ${imageString})`;
              }
              // Add the line to the list
              docDefinition.content.push(str);
            }
          }
        });
        docDefinition.content.push('\n');
      });
      // Generate the PDF file
      const pdfDocGenerator = pdfMake.createPdf(docDefinition);
      pdfDocGenerator.getBlob((blob) => {
        // Add it to the ZIP object
        zip.file(`Devis_${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}.pdf`, blob);
        callback(zip, imagesToPrint);
      });
    },
  },
};
</script>
