<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to manage documents.
  Listings can be printed and dowwnloaded with .csv data.
  Letters can be printed, edited and downloaded with also some .csv data.
-->
<template>
  <div align="center">
    <h1 align="center">Documents</h1>
    <br/>
    <div class="ajouter-bloc">
      <div class="resultat" align="center">
        <!-- List of listings -->
        <v-card
          v-for="doc in listeDocuments" v-bind:key="doc.id"
          max-width="600"
          outlined
          id="custom-card"
        >
          <v-row class="pl-4">
            <v-col cols="auto" align="left" style="width: 70%;">
              <v-list-item-title style="white-space: pre;">{{ doc.value }}</v-list-item-title>
            </v-col>
            <v-col>
              <!-- Button to download a listing -->
              <v-row justify="center" class="align-center fill-height custom-row">
                <v-btn icon class="primary custom-button2" depressed rounded color="#ffffff"
                  v-bind:to="{ name: 'TelechargerDocument', params: { docIndex: doc.id } }">
                  <font-awesome-icon :icon="['fas', 'print']"/>
                </v-btn>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
        <!-- Letters panel -->
        <v-card
          @click="showListe = !showListe"
          class="pointer mt-12"
          max-width="600"
          outlined
          id="custom-card"
        >
          <v-row class="pl-4">
            <v-col cols="auto" align="left" style="width: 70%;">
              <v-list-item-title style="white-space: pre;">Courriers</v-list-item-title>
            </v-col>
            <v-col>
              <v-row justify="center" class="align-center fill-height custom-row">
                <font-awesome-icon v-bind:icon="['fas', showListe ? 'angle-up' : 'angle-down']"/>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
        <!-- List of letters -->
        <div v-if="showListe" style="margin-left: 100px">
          <v-card
            v-for="courrier in listeCourriers" v-bind:key="courrier._id"
            max-width="500"
            outlined
            id="custom-card"
          >
            <v-row class="pl-4">
              <v-col cols="auto" align="left" style="width: 50%;">
                <v-list-item-title style="white-space: pre;">{{ courrier.nom }}</v-list-item-title>
              </v-col>
              <v-col>
                <!-- Buttons to download, modify or delete a letter -->
                <v-row justify="center" class="align-center fill-height custom-row">
                  <v-btn icon class="primary custom-button2" depressed rounded color="#ffffff"
                    v-bind:to="{ name: 'TelechargerCourrier', params : { id: courrier._id } }">
                    <font-awesome-icon :icon="['fas', 'print']"/>
                  </v-btn>
                  <v-btn icon class="primary custom-button2" depressed rounded color="#ffffff"
                    v-bind:to="{ name: 'EditionCourrier', params : { id: courrier._id } }">
                    <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                  </v-btn>
                  <v-btn icon class="primary" depressed rounded color="#ffffff"
                    v-bind:to="{ name: 'SupprimerCourrier', params : { id: courrier._id } }">
                    <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                  </v-btn>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
          <!-- Button to add a new letter -->
          <v-btn v-if="!showAddCourrier" color="primary" class="mt-4" depressed rounded
            @click="showAddCourrier = true">Ajouter un courrier</v-btn>
          <br/>
          <div v-if="showAddCourrier">
            <!-- Form to add a new letter -->
            <v-form class="ajouter-bloc" ref="formAddCourrier"
              v-model="validAddCourrier">
              <h3 align="center" style="margin: 0px 0px 30px;">
                Ajouter un nouveau courrier
              </h3>
              <div class="custom-bloc">
                <!-- Letter's name -->
                <v-text-field class="custom-text-field" type="text"
                  label="Nom du courrier (*)"
                  v-model="newCourrier" outlined rounded dense
                  :rules="newCourrierRequiredRules" required/>
              </div>
              <div class="mt-4" align="center">
                <label class="font-lighter">Les champs (*) sont requis.</label>
              </div>
            </v-form>
            <br/>
            <div class="center">
              <!-- Button to save the new letter -->
              <div class="custom-button mr-5">
                <v-btn color="primary" depressed rounded :disabled="!validAddCourrier"
                @click="addCourrier">Enregistrer</v-btn>
              </div>
              <!-- Button to exit the form -->
              <div class="custom-button ml-5">
                <v-btn color="primary" rounded outlined
                @click="showAddCourrier = false; resetFormValidation();">Quitter</v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Access to functions to find, modify or delete database elements
import bddCourrier from '@/services/BddCourrier';

export default {
  data() {
    return {
      // Form rules to force a field to be required and not to be the same name as a letter
      // that already exists
      newCourrierRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        v => this.listeCourriers.find(courrier => courrier.nom.toUpperCase() === v.toString().trim().toUpperCase()) === undefined || 'Un courrier portant le même nom existe déjà',
      ],

      // List of listings
      listeDocuments: [
        {
          id: 1,
          value: 'Listing des propriétaires d\'une rue',
        },
        {
          id: 2,
          value: 'Listing des parcelles d\'une rue (IGN)',
        },
        {
          id: 3,
          value: 'Listing de confirmation de nouvelle adresse',
        },
        {
          id: 4,
          value: 'Listing de demande de propositions de nom \nde rue par les propriétaires',
        },
        {
          id: 5,
          value: 'Listing des propositions de nom d\'une rue',
        },
      ],

      // Array to store all the letters in the database
      listeCourriers: [],
      // Boolean to know if the letter list has to be displayed
      showListe: this.$route.params.showListe ? this.$route.params.showListe : false,
      // Boolean to know if the form to add a new letter has to be displayed
      showAddCourrier: false,
      // Boolean to know if the letter's form is correctly completed
      validAddCourrier: false,
      // New letter's name
      newCourrier: '',
    };
  },
  async mounted() {
    // Get all the letters from the database
    await this.getCourriers();
  },
  methods: {
    /**
     * Function to reset the validation form to add a letter
     */
    resetFormValidation() {
      if (this.$refs.formAddCourrier !== undefined) {
        this.$refs.formAddCourrier.resetValidation();
      }
    },
    /**
     * Function to add a new letter in the database
     */
    async addCourrier() {
      // Add the letter in the database
      await bddCourrier.addCourrier({
        nom: this.newCourrier.toString().trim(),
        token: this.$session.get('token'),
      });
      // Reset variables
      this.newCourrier = '';
      this.showAddCourrier = false;
      this.resetFormValidation();
      this.getCourriers();
    },
    /**
     * Asynchronous function to get all letters
     */
    async getCourriers() {
      // Search the letters
      const response = await bddCourrier.findCourrier({ token: this.$session.get('token') });
      // Save the letters in the array
      if (response.data !== undefined) {
        this.listeCourriers = response.data;
      }
    },
  },
};
</script>
