<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to modify an owner -->
<template>
  <div class="modifierPar">
    <h1 v-if="this.civilite !== 'Entreprise'" align="center">
      Modification : {{ this.nom }} {{ this.prenom }}
    </h1>
    <h1 v-else align="center">Modification : {{ this.nomEntreprise }}</h1>
    <br/>
    <!-- Form to modifiy the owner -->
    <v-form class="ajouter-bloc" ref="formPro" v-model="validPro">
      <!-- Owner's civility -->
      <div class="custom-bloc">
        <v-select class="custom-text-field" label="Civilité (*)" v-model="civilite"
          :items="civiliteItems" :rules="requiredRules" outlined rounded dense required/>
      </div>
      <div v-if="civilite !== 'Entreprise'">
        <!-- Civility of the owner's spouse -->
        <div class="custom-bloc">
          <v-select class="custom-text-field" label="Civilité conjoint" clearable
            v-model="civiliteConjoint" :items="civiliteItems" outlined rounded dense/>
        </div>
        <!-- Owner's lastname -->
        <div class="custom-bloc">
          <v-text-field class="custom-text-field" type="text" label="Nom (*)"
          id="nomPro" v-model="nom" :rules="nameRequiredRules"
          outlined rounded dense required/>
        </div>
        <!-- Owner's firstname -->
        <div class="custom-bloc">
          <v-text-field class="custom-text-field" type="text" label="Prénom (*)"
          id="prenomPro" v-model="prenom" :rules="nameRequiredRules"
          outlined rounded dense required/>
        </div>
        <!-- Lastname of the owner's spouse -->
        <div class="custom-bloc">
          <v-text-field class="custom-text-field" type="text" label="Nom conjoint"
          id="nomConjoint" v-model="nomConjoint" :rules="nameRules"
          outlined rounded dense/>
        </div>
        <!-- Firstname of the owner's spouse -->
        <div class="custom-bloc">
          <v-text-field class="custom-text-field" type="text" label="Prénom conjoint"
          id="prenomConjoint" v-model="prenomConjoint" :rules="nameRules"
          outlined rounded dense/>
        </div>
      </div>
      <!-- Enterprise -->
      <div v-else>
        <!-- Enterprise's name -->
        <div class="custom-bloc">
          <v-text-field class="custom-text-field" type="text" label="Nom de l'entreprise (*)"
          v-model="nomEntreprise" :rules="nameRequiredRules"
          outlined rounded dense required/>
        </div>
      </div>
      <!-- Street number -->
      <div class="custom-bloc">
        <v-text-field class="custom-text-field mr-5"  type="text" label="Numéro de rue"
          id="numeroRuePro" v-model="numeroRue" :rules="numberRules"
          style="max-width: 200px;" outlined rounded dense/>
        <v-text-field class="custom-text-field ml-5" type="text" label="Bis/Ter"
          id="bisTer" v-model="bisTer" :rules="bisTerRules"
          style="max-width: 160px;" outlined rounded dense/>
      </div>
      <!-- Street's name -->
      <div class="custom-bloc">
        <v-text-field class="custom-text-field" type="text" label="Rue (*)"
          id="rue" v-model="rue" :rules="nameRequiredRules"
          outlined rounded dense required/>
      </div>
      <!-- Address suplement -->
      <div class="custom-bloc">
        <v-text-field class="custom-text-field" type="text" label="Complément"
          id="complement" v-model="complement" :rules="nameRules"
          outlined rounded dense/>
      </div>
      <!-- Said location -->
      <div class="custom-bloc">
        <v-text-field class="custom-text-field" type="text" label="Lieu-dit"
          id="lieuDitPro" v-model="lieuDit" :rules="nameRules"
          outlined rounded dense/>
      </div>
      <!-- Postal code -->
      <div class="custom-bloc">
        <v-text-field class="custom-text-field" type="text" label="Code postal (*)"
          id="codePostal" v-model="codePostal" :rules="requiredRules"
          outlined rounded dense required @change="ville = ''"/>
      </div>
      <!-- City : Choose a city in a list corresponding to the postal code or enter a city -->
      <div class="custom-bloc">
        <v-combobox
          class="custom-text-field"
          label="Ville (*)"
          :items="listeVille"
          v-model="ville"
          :rules="requiredRules"
          dense
          outlined
          rounded
          required
        >
          <!-- Display a message when the text entered returns no data -->
          <template v-slot:no-data>
            <v-list-item>
              Aucune ville ne correspond au code postal indiqué.
            </v-list-item>
          </template>
        </v-combobox>
      </div>
      <!-- Country -->
      <div class="custom-bloc">
        <v-text-field class="custom-text-field" type="text" label="Pays (*)"
        id="pays" v-model="pays" :rules="nameRequiredRules"
        outlined rounded dense required/>
      </div>
    </v-form>
    <div style="margin-top: 50px;" align="center">
      <label class="font-lighter">Les champs (*) sont requis.</label>
    </div>
    <br/>
    <div class="center">
      <!-- Button to save the changes -->
      <div class="custom-button mr-5">
        <v-btn color="primary" depressed rounded :disabled="!validPro"
        @click="updatePro">Enregistrer</v-btn>
      </div>
      <!-- Button to exit the form -->
      <div class="custom-button ml-5">
        <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
// Access to functions to use the users related database
import bdd from '@/services/Bdd';
// Access to functions to find cities corresponding to a postal code
import codePostal from '@/services/CodePostal';

export default {
  name: 'ModifierPro', // Component's name
  data() {
    return {
      // Form rules to force a field to be required
      requiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
      ],
      // Form rules to force a field to have only numbers
      numberRules: [
        v => (/^\d+$/.test(v.toString().trim()) || v.toString() === '') || 'Seuls les chiffres sont autorisés',
        v => !(/^0+$/.test(v.toString().trim())) || 'Le chiffre doit être supérieur à 0',
      ],
      // Form rules to force a field to have a street name shape
      nameRules: [
        // eslint-disable-next-line
        v => (/^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || v === '') || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],
      // Form rules to force a field to have a street name shape and to be required
      nameRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => /^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],
      // Form rules to force a field to be like bis, ter, ...
      bisTerRules: [
        v => (/^[a-z]+$/.test(v.toString().trim()) || v === '') || 'Le format n\'est pas correct (ex: bis)',
      ],

      // Boolean to know if the form is correctly completed
      validPro: false,
      civiliteItems: ['Monsieur', 'Madame', 'Entreprise'], // Civility items
      civilite: '', // Owner's civility
      civiliteConjoint: '', // Civility of the owner's spouse
      nom: '', // Owner's lastname
      prenom: '', // Owner's firstname
      nomConjoint: '', // Lastname of the owner's spouse
      prenomConjoint: '', // Firstname of the owner's spouse
      nomEntreprise: '', // Enterprise's name
      numeroRue: '', // Street number
      bisTer: '', // Bis, ter, ...
      rue: '', // Street's name
      complement: '', // Address suplement
      lieuDit: '', // Said location
      codePostal: '', // Postal code
      ville: '', // City
      pays: '', // Country

      // Array to store the cities corresponding to the postal code entered
      listeVille: [],
    };
  },
  watch: {
    /**
     * Search in real time the cities linked to a specific postal code.
     * It allows, in the owner's form, to choose a city in a list
     * when the postal code has been specified.
     */
    codePostal(val) {
      this.searchVille(val);
    },
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push('/');
    }
  },
  async mounted() {
    // Get the owner from the database
    await this.getPro();
    // Search the cities according to the owner's postal code
    await this.searchVille(this.codePostal.toString());
  },
  methods: {
    /**
     * Asynchronous function to search and get the owner from the database
     */
    async getPro() {
      // Search the owner to modify
      const response = await bdd.getPro({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Set variables with the owner's data
      this.civilite = response.data.civilite;
      if (this.civilite !== 'Entreprise') {
        this.civiliteConjoint = response.data.civiliteConjoint;
        this.nom = response.data.nom;
        this.prenom = response.data.prenom;
        this.nomConjoint = response.data.nomConjoint;
        this.prenomConjoint = response.data.prenomConjoint;
      } else {
        this.nomEntreprise = response.data.nomEntreprise;
      }
      this.numeroRue = response.data.numero;
      this.bisTer = response.data.bisTer;
      this.rue = response.data.rue;
      this.complement = response.data.complement;
      this.lieuDit = response.data.lieuDit;
      this.codePostal = response.data.codePostal;
      this.ville = response.data.ville;
      this.pays = response.data.pays;
    },
    /**
     * Asynchronous function to update the owner in the database
     */
    async updatePro() {
      // Check the civility of the owner
      if (this.civilite !== 'Entreprise') {
        // Update the owner
        await bdd.updatePro({
          id: this.$route.params.id,
          civilite: this.civilite,
          civiliteConjoint: this.civiliteConjoint,
          nom: this.nom,
          prenom: this.prenom,
          nomConjoint: this.nomConjoint,
          prenomConjoint: this.prenomConjoint,
          nomEntreprise: '',
          numero: this.numeroRue,
          bisTer: this.bisTer,
          rue: this.rue,
          complement: this.complement,
          lieuDit: this.lieuDit,
          codePostal: this.codePostal,
          ville: this.ville,
          pays: this.pays,
          token: this.$session.get('token'),
        });
      } else {
        // Update the owner
        await bdd.updatePro({
          id: this.$route.params.id,
          civilite: this.civilite,
          civiliteConjoint: '',
          nom: '',
          prenom: '',
          nomConjoint: '',
          prenomConjoint: '',
          nomEntreprise: this.nomEntreprise,
          numero: this.numeroRue,
          bisTer: this.bisTer,
          rue: this.rue,
          complement: this.complement,
          lieuDit: this.lieuDit,
          codePostal: this.codePostal,
          ville: this.ville,
          pays: this.pays,
          token: this.$session.get('token'),
        });
      }
      // Return to the previous page
      this.$router.push('/');
    },
    /**
     * Asynchronous function to find the cities linked to the postal code given in parameter
     * @param {The postal code to check} val
     */
    async searchVille(val) {
      // Reset the array
      this.listeVille = [];
      // If the postal code's length is 5, check the cities
      if (val.length === 5) {
        // Get the list of cities corresponding to the postal code given
        const response = await codePostal.findCity(val);
        // For each result, add it to the corresponding array
        response.data.forEach((element) => {
          this.listeVille.push(element.nom);
        });
      }
    },
  },
};
</script>
