<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to update a material category.
-->
<template>
    <div app>
      <h1 align="center">Modification : {{ this.oldNom }}</h1>
      <br/>
      <div class="flex">
        <!-- Form -->
        <v-form class="ajouter-bloc" ref="formAddCategorie"
          v-model="validCategorie">
          <!-- Categorie's name -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field" type="text"
              label="Nom de la catégorie (*)"
              v-model="nom" outlined rounded dense
              :rules="newCategorieRequiredRules" required/>
          </div>
          <!-- Categorie's order sentence -->
          <div class="custom-bloc">
            <v-autocomplete
              class="custom-text-field"
              label="Phrase supplémentaire de commande"
              v-model="phraseCommande"
              :items="listePhrasesCommande"
              no-data-text="La phrase indiquée n'existe pas, veuillez d'abord la créer
                dans l'onglet 'Paramètres des matériaux'."
              item-text="value"
              item-value="id"
              clearable
              @click:clear="phraseCommande = ''"
              outlined
              rounded
              dense
            />
          </div>
          <div class="mt-4" align="center">
            <label class="font-lighter">Les champs (*) sont requis.</label>
          </div>
        </v-form>
      </div>
      <br/>
      <div class="center">
        <!-- Button to update the category -->
        <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded :disabled="!validCategorie"
            @click="updateCategorie">Enregistrer</v-btn>
        </div>
        <!-- Button to exit the form -->
        <div class="custom-button ml-5">
          <v-btn color="primary" rounded outlined
            to="/materiaux">Quitter</v-btn>
        </div>
      </div>
    </div>
</template>

<script>
// Access to functions to find, modify or delete materials elements in the database
import bddMateriaux from '@/services/BddMateriaux';

export default {
  name: 'ModifierCategorie', // Component's name
  data() {
    return {
      // Form rules to force a field to be required and to forbid it to be the same as
      // a category that already exists
      newCategorieRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        v => this.listeAllCategories.find(cat => (cat.value.toUpperCase() === v.toString().trim().toUpperCase()) && (cat.value.toUpperCase() !== this.oldNom.toUpperCase())) === undefined || 'Une catégorie portant le même nom existe déjà',
      ],

      // Array to store all the material categories
      listeAllCategories: [],
      // Array to store all the order sentences
      listePhrasesCommande: [],

      // Boolean to know if the categorie's form is correctly completed
      validCategorie: false,
      // Old category name
      oldNom: '',

      // Category name
      nom: '',
      // Order sentence
      phraseCommande: '',
    };
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push('/materiaux');
    }
  },
  async mounted() {
    // Get all the material categories
    await this.getListeCategories();
    // Get all the material category to modify
    await this.getCategorie();
    // Get all the order sentences
    await this.getPhrasesCommande();
  },
  methods: {
    /**
     * Asynchronous function to get all the material categories in the database
     */
    async getListeCategories() {
      this.listeAllCategories = [];
      const response = await bddMateriaux.findCategorie({ token: this.$session.get('token') });
      // For each category in the response, keep the wanted attributes in the component's array
      if (response.data !== undefined && response.data.length > 0) {
        response.data.forEach((cat, index) => {
          this.listeAllCategories.push({
            id: index + 1,
            value: cat.nom,
            // eslint-disable-next-line
            dbId: cat._id,
          });
        });
      }
    },
    /**
     * Asynchronous function to get all the order sentences
     */
    async getPhrasesCommande() {
      this.listePhrasesCommande = [];
      const response = await bddMateriaux.findPhraseCommande({ token: this.$session.get('token') });
      if (response.data !== undefined && response.data.length > 0) {
        // For each order sentence in the response, keep the wanted attributes
        // in the component's array
        response.data.forEach((phrase) => {
          this.listePhrasesCommande.push({
            // eslint-disable-next-line
            id: phrase._id,
            value: phrase.nom,
          });
        });
      }
    },
    /**
     * Asynchronous function to get the category to modify
     */
    async getCategorie() {
      const response = await bddMateriaux.getCategorie({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Set the variables according to the result
      this.nom = response.data.nom;
      this.oldNom = response.data.nom;
      if (response.data.phraseCommande !== undefined) {
        this.phraseCommande = {
          // eslint-disable-next-line
          id: response.data.phraseCommande._id,
          value: response.data.phraseCommande.nom,
        };
      }
    },
    /**
     * Asynchronous function to update the category
     */
    async updateCategorie() {
      // Update the category
      await bddMateriaux.updateCategorie({
        id: this.$route.params.id,
        nom: this.nom,
        phraseCommande: this.phraseCommande,
        token: this.$session.get('token'),
      });
      // Change the page after update
      this.$router.push('/materiaux');
    },
  },
};
</script>
