<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to modify a land lot -->
<template>
  <div class="modifierPar">
    <h1 align="center">Modification : {{ this.oldNumero }}</h1>
    <br/>
    <v-form ref="formPar" v-model="validPar">
      <div class="flex">
        <div class="semi-ajouter-bloc">
          <!-- Owner -->
          <div class="custom-bloc">
            <v-autocomplete
              v-model="modelPro"
              class="custom-text-field"
              label="Propriétaire (*)"
              :items="itemsPro"
              item-text="value"
              item-value="id"
              :hide-no-data="awaitingSearchPro"
              :filter="(item) => this.itemsPro.some(res => res.id === item.id)"
              :loading="awaitingSearchPro"
              cache-items
              no-data-text="Le propriétaire indiqué n'existe pas, veuillez d'abord le créer."
              return-object
              :search-input.sync="searchPro"
              :rules="requiredRules"
              dense
              outlined
              rounded
              required
            >
              <template v-slot:item="{ parent, item, on, attrs }">
                <v-list-item v-on="on" v-bind="attrs">
                  <v-list-item-title>
                    {{ item.value }}
                  </v-list-item-title>
                </v-list-item>
              </template>
            </v-autocomplete>
          </div>
          <!-- Land lot's number -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field"  type="text" label="Numéro de parcelle (*)"
            id="numeroPar" v-model="numeroPar" :rules="requiredRules.concat(numParRequiredRules)"
            outlined rounded dense required/>
          </div>
          <!-- Land lot's latitude -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field"  type="text" label="Latitude (*)"
            id="latitudeP" v-model="latitudeP" clearable
            @input="latitudeP=$event?$event:''"
            @keydown.delete="latitudeP =
              replaceCoordinate(latitudeP, false, true, config.latitudePrefix + '.')"
            @keydown="latitudeP =
              replaceCoordinate(latitudeP, false, false, config.latitudePrefix + '.')"
            @focus="latitudeP =
              replaceCoordinate(latitudeP, true, false, config.latitudePrefix + '.')"
            :rules="latitudeRequiredRules"
            outlined rounded dense required/>
          </div>
          <!-- Land lot's longitude -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field"  type="text" label="Longitude (*)"
            id="longitudeP" v-model="longitudeP" clearable
            @input="longitudeP=$event?$event:''"
            @keydown.delete="longitudeP =
              replaceCoordinate(longitudeP, false, true, config.longitudePrefix + '.')"
            @keydown="longitudeP =
              replaceCoordinate(longitudeP, false, false, config.longitudePrefix + '.')"
            @focus="longitudeP =
              replaceCoordinate(longitudeP, true, false, config.longitudePrefix + '.')"
            :rules="longitudeRequiredRules"
            outlined rounded dense required/>
          </div>
          <br/>
          <br/>
          <!-- Street's name -->
          <div class="custom-bloc">
            <v-autocomplete
              class="custom-text-field"
              label="Rue (*)"
              :items="listeRue"
              no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
              :search-input.sync="searchRue"
              v-model="selected"
              :rules="requiredRules"
              dense
              outlined
              rounded
              required
            />
          </div>
          <!-- Said location -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field"  type="text" label="Lieu-dit"
            v-model="searchLieuDit" disabled
            outlined rounded dense/>
          </div>
          <!-- Number(s) associated to the land lot -->
          <h3 class="custom-bloc" style="margin-left: -25% !important; margin-top: 0px;">
            Numéros de maison associés :
          </h3>
          <br/>
          <v-list
            max-width="400"
            class="custom-list"
          >
            <v-list-group
              v-for="(item, i) in numAssocies"
              :key="i"
              no-action
              value="true"
              class="custom-list-group"
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>
                    Numéro {{ i+1 }}
                    <v-btn
                      v-if="i > 0"
                      icon class="primary" color="#ffffff" depressed rounded
                      style="margin-left: 60%;"
                      @click="removeNumAssocies(i)">
                      <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                    </v-btn>
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item>
                <v-list-item-content>
                  <!-- Street number -->
                  <div class="custom-bloc">
                    <v-text-field class="custom-text-field mr-5"  type="text" label="Numéro de rue"
                      id="numeroRue" v-model="item.numeroRue" style="max-width: 200px;"
                      :rules="requiredRules.concat(numberRules)" outlined rounded dense/>
                    <v-text-field class="custom-text-field ml-5"  type="text" label="Bis/Ter"
                      id="bisTer" v-model="item.bisTer" style="max-width: 160px;"
                      outlined rounded dense/>
                  </div>
                  <!-- Address suplement -->
                  <div class="custom-bloc">
                    <v-text-field class="custom-text-field"  type="text" label="Complément"
                      id="complement" v-model="item.complement"
                      outlined rounded dense/>
                  </div>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
            <v-btn icon color="primary" depressed rounded
              style="border: 2px solid #1c3054; margin-left: 45%;"
              @click="addNumAssocies">
              <font-awesome-icon :icon="['fas', 'plus']"/>
            </v-btn>
          </v-list>
          <br/>
          <!-- Add an article to the order -->
          <div class="custom-h3">
            <v-checkbox style="width: 400px; margin-top: 20px !important;"
              color="primary" v-model="checkArticle"
              label="Ajouter un (ou des) article(s) à la commande"/>
          </div>
          <br/>
          <div style="margin-top: 50px;" align="center">
            <label class="font-lighter">Les champs (*) sont requis.</label>
          </div>
        </div>
        <v-divider  class="custom-divider" inset vertical></v-divider>
        <!-- MapClick component -->
        <div class="map-bloc" align="center">
          <MapClick :envoi="this.envoiPar" :typeMap="this.type" @updateCoord="updateCoordPar"/>
        </div>
      </div>
      <br/>
      <!-- Adding article form -->
      <div v-if="checkArticle">
        <v-list
          class="custom-list"
          align="center"
        >
          <v-list-group
            v-for="(item, i) in articles"
            :key="i"
            add-article
            no-action
            value="true"
            class="custom-list-group"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  Article {{ i+1 }}
                  <v-btn
                    v-if="i > 0"
                    icon class="primary" color="#ffffff" depressed rounded
                    style="margin-left: 60%;"
                    @click="removeArticles(i)">
                    <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                  </v-btn>
                </v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item :class="i === articles.length-1 ? '' : 'mb-10'">
              <v-list-item-content>
                <AjoutArticle
                  ref="artForm" v-if="!item.status" @added="item.status = true" :index="i"
                  @formValidation="validArt"
                />
                <h3 v-else class="custom-bloc mt-3">
                  L'article a bien été ajouté à la commande !
                </h3>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-btn icon color="primary" class="mt-4" depressed rounded
            style="border: 2px solid #1c3054;"
            @click="addArticles">
            <font-awesome-icon :icon="['fas', 'plus']"/>
          </v-btn>
        </v-list>
      </div>
    </v-form>
    <br/>
    <div class="center">
      <!-- Button to save the changes -->
      <div class="custom-button mr-5">
        <v-btn color="primary" depressed rounded :disabled="Boolean(isDisabled(validPar))"
        @click="updatePar">Enregistrer</v-btn>
      </div>
      <!-- Button to exit the form -->
      <div class="custom-button ml-5">
        <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
// Access to functions to find, modify or delete database elements
import bdd from '@/services/Bdd';
// Import the Map component
import MapClick from '@/components/mapClick.vue';
// Import the AjoutArticle component
import AjoutArticle from '@/components/ajoutArticle.vue';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  name: 'ModifierPar', // Component's name
  data() {
    return {
      // Configuration object
      config: configGlobal,
      // Form rules to force a field to be required
      requiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
      ],
      // Form rules to force a field to have only numbers
      numberRules: [
        v => (/^\d+$/.test(v.toString().trim()) || v.toString() === '') || 'Seuls les chiffres sont autorisés',
        v => !(/^0+$/.test(v.toString().trim())) || 'Le chiffre doit être supérieur à 0',
      ],
      // Form rules to force a field not to have a land lot number which already exists
      numParRequiredRules: [
        v => (this.listeAllPar.indexOf(v.toString().trim().toLowerCase()) < 0 || v.toString().trim() === this.oldNumero) || 'Une parcelle portant le même numéro existe déjà',
      ],
      // Form rules to force a field to have a latitude coordinate shape
      latitudeRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => (v === null || new RegExp(`/^${this.config.latitudePrefix}\.\d{6}$/`).test(v.toString())) || `Le format n\'est pas correct (ex: ${this.config.latitudePrefix}.163825)`,
        v => v <= 90 || 'La latitude ne doit pas être supérieure à 90',
        v => v >= -90 || 'La latitude ne doit pas être inférieure à -90',
      ],
      // Form rules to force a field to have a longitude coordinate shape
      longitudeRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => (v === null || new RegExp(`/^${this.config.longitudePrefix}\.\d{6}$/`).test(v.toString())) || `Le format n\'est pas correct (ex: ${this.config.longitudePrefix}.163825)`,
        v => v <= 180 || 'La longitude ne doit pas être supérieure à 180',
        v => v >= -180 || 'La longitude ne doit pas être inférieure à -180',
      ],

      // Boolean to know if the street's form is correctly completed
      validPar: false,
      // Land load's old number
      oldNumero: '',
      modelPro: '',
      // Land load's number
      numeroPar: '',
      // Land load's latitude
      latitudeP: '',
      // Land load's longitude
      longitudeP: '',
      // Land lot's street
      searchRue: '',
      // Land lot's said location
      searchLieuDit: '',
      selected: '',
      // Land lot's more informations
      numAssocies: [{ numeroRue: '', bisTer: '', complement: '' }],

      // Boolean to know if the user want to add an article or not
      checkArticle: false,
      // Array which save the articles
      articles: [{ status: false, valid: false }],

      // Array to display the temporary owner's name which match with the actual search input
      itemsPro: [],
      // Array to display the temporary street's name which match with the actual search input
      listeRue: [],
      searchPro: '', // String of the owner's search input
      awaitingSearchPro: false,
      // Elements to send to the map
      envoiPar: [],
      // Element to modify (land load)
      type: 'Parcelle',

      // List of all land lot
      listeAllPar: [],
    };
  },
  components: {
    MapClick, // The Map component
    AjoutArticle, // The AjoutArticle component
  },
  watch: {
    /**
     * Search in real time owner names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPro(val) {
      this.textePro(val);
    },
    /**
     * Search in real time the said location's name of the street specified.
     * It allows to automatically fill the said location's field in the land lot's form
     * when the street is specified.
     */
    selected(val) {
      this.searchLD(val);
    },
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push('/');
    }
  },
  async mounted() {
    // Get the land lot from the database
    await this.getPar();
    // Get all the land lot numbers from the database
    await this.fillPar();
  },
  methods: {
    /**
     * Function executed to know if the element could be added
     * @param {The boolean of the form validation to look for} validForm
     */
    isDisabled(validForm) {
      // Check if add article box is checked
      if (this.checkArticle) {
        let validation = true;
        // Verify that all articles are valid
        this.articles.forEach((element) => {
          validation = validation && element.valid;
        });
        // Return a boolean to allows save element or not
        return !validForm || !validation;
      }
      // Return a boolean to allows save element or not
      return !validForm;
    },
    /**
    * Function executed to know if the articles are valid
    * @param {The value to look for} val
    */
    validArt(val) {
      this.articles[val.index].valid = val.value;
    },
    /**
     * Function to add articles
     */
    addArticles() {
      this.articles.push({
        status: false,
        valid: false,
      });
    },
    /**
     * Function to remove articles
     * @param {The item's index to delete} index
     */
    removeArticles(index) {
      if (index > 0) {
        this.articles.splice(index, 1);
      }
    },
    /**
     * Constraint the input of geographical coordinates.
     * Forbid the user to enter non-desired information.
     * @param {The variable to change} value
     * @param {Boolean to know if the field is on focus} onFocus
     * @param {Boolean to know if the delete key has been pressed} deleteKey
     * @param {The coordinate to write at the string's beginning} coordinate
     * @return {The correct value to display}
     */
    replaceCoordinate(value, onFocus, deleteKey, coordinate) {
      // If the key 'Delete' has been entered and the event of the key has been triggered
      if (!onFocus && deleteKey) {
        if (value.toString().length <= 3) {
          // If the beginning of the coordinate has been deleted, rewrite it
          // The space is only used because one character will be deleted with the 'Delete' key
          return coordinate.toString().concat(' ');
        }
        return value.toString();
      }
      // If a key different from the 'Delete' one has been triggered
      if (!onFocus && !deleteKey) {
        if (value.toString().length <= 3) {
          // If the beginning of the coordinate has been deleted, rewrite it
          return coordinate.toString();
        }
        return value.toString();
      }
      // If the focus event has been triggered
      if (value.toString() === '') {
        // Return the beginning of the coordinate
        return coordinate.toString();
      }
      // Else return the actual value
      return value.toString();
    },
    /**
     * Function to add more number for a land lot
     * (number in street, bis/ter, more)
     */
    addNumAssocies() {
      this.numAssocies.push({
        numeroRue: '',
        bisTer: '',
        complement: '',
      });
    },
    /**
     * Function to remove more number for a land lot
     * (number in street, bis/ter, more)
     * @param {The item's index to delete} index
     */
    removeNumAssocies(index) {
      if (index > 0) {
        this.numAssocies.splice(index, 1);
      }
    },
    /**
     * Asynchronous function to get the land lot to modify
     */
    async getPar() {
      // Search the land lot
      const response = await bdd.getPar({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Get all value of the land lot in the form
      this.numeroPar = response.data.numero;
      this.oldNumero = response.data.numero;
      this.latitudeP = response.data.latitude;
      this.longitudeP = response.data.longitude;
      this.listeRue = [response.data.rue.nom];
      this.selected = response.data.rue.nom;
      this.numAssocies = response.data.numAssocies;
      if (response.data.proprietaire.civilite !== 'Entreprise') {
        this.itemsPro = [{
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: `${response.data.proprietaire.nom} ${response.data.proprietaire.prenom}`,
        }];
        this.modelPro = {
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: `${response.data.proprietaire.nom} ${response.data.proprietaire.prenom}`,
        };
      } else {
        this.itemsPro = [{
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: response.data.proprietaire.nomEntreprise,
        }];
        this.modelPro = {
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: response.data.proprietaire.nomEntreprise,
        };
      }
      // Send coordinates to the map
      this.envoiPar = [response.data.latitude, response.data.longitude];
    },
    /**
      * Update the land lot in the database
      */
    updatePar() {
      const results = [];
      // Add, in a Promise.all, all the 'addArticle' functions of the recursively articles
      // Used to insert all the other articles before adding the one in the whole page
      if (this.$refs.artForm !== undefined) {
        // eslint-disable-next-line
        this.$refs.artForm.map((article) => {
          results.push(article.addArticle());
        });
      }
      Promise.all(results)
        .then(async () => {
          // Check if it exist a said location
          if (this.searchLieu === null) {
            this.searchLieu = '';
          }
          // Update the land lot with new informations
          await bdd.updatePar({
            id: this.$route.params.id,
            numero: this.numeroPar,
            latitude: this.latitudeP,
            longitude: this.longitudeP,
            numAssocies: this.numAssocies,
            proprietaire: this.modelPro.id,
            rue: this.searchRue,
            token: this.$session.get('token'),
          });
          this.$router.push('/');
        });
    },
    /**
     * Search owner names, similar to the one given in parameter
     */
    async textePro(val) {
      let v = val;
      if (val === null || val === undefined) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        this.itemsPro = []; // Reset the array
        // Search in the database the corresponding owners
        const response = await bdd.findPro({ words: val.toString().trim().split(' '), token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding owner name to the array
        res.forEach((element) => {
          if (element.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: `${element.nom} ${element.prenom}` });
          } else {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: element.nomEntreprise });
          }
        });
      } else {
        this.itemsPro = [];
      }
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (v === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding roads
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding street name to the array
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        this.listeRue = [];
      }
    },
    /**
     * Fill the array containing all the land lot numbers of the database
     */
    async fillPar() {
      // Get all the land lots
      const response = await bdd.findParcellesNumero({ token: this.$session.get('token') });
      const res = response.data;
      // For each result, add it to the temporary array
      res.forEach((element) => {
        this.listeAllPar.push(element.numero.toString().toLowerCase());
      });
    },
    /**
      * Code executed to update coordinates from the map to the form
      */
    updateCoordPar(val) {
      // Update the coordinates in the form when the marker on the map change
      const lat = val[0];
      const long = val[1];
      this.latitudeP = lat;
      this.longitudeP = long;
    },
    /**
     * Asynchronous function to determine the said location linked to a specific street
     * @param {The street's name to check} val
     */
    async searchLD(val) {
      // Search the street in the database
      const response = await bdd.findRue({ nom: val, token: this.$session.get('token') });
      // Look if the street desired has a said location
      if ((response.data[0].lieuDit !== undefined) && (response.data[0].lieuDit !== null)) {
        this.searchLieuDit = response.data[0].lieuDit.nom;
      } else {
        this.searchLieuDit = '';
      }
    },
  },
};
</script>
