<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to update a material in the database.
  A material has general characteristics and will be used to create articles.
-->
<template>
    <div app>
      <h1 align="center">
        Modification d'un matériau : {{ this.oldReference }} ({{ this.category }})
      </h1>
      <br/>
      <br/>
      <!-- Form -->
      <v-form ref="formAddMateriau" v-model="validUpdateMateriau" class="flex">
        <div :class="displayBlockImage() ? 'semi-ajouter-bloc' : 'ajouter-bloc'" materiau>
          <!-- Category -->
          <div class="custom-bloc">
            <v-select
              class="custom-text-field"
              label="Catégorie (*)"
              v-model="category"
              disabled
              :items="listeCategories"
              :rules="requiredRules"
              outlined
              rounded
              dense
              required
            />
          </div>
          <!-- Reference -->
          <div class="custom-bloc">
            <v-text-field class="custom-text-field" type="text" label="Référence (*)"
              id="ref" v-model="ref" :rules="requiredRules"
              outlined rounded dense required
            >
              <template v-slot:append>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn small
                      v-on="on" v-bind="attrs" icon class="primary"
                      color="#ffffff" depressed rounded>
                      <font-awesome-icon :icon="['fas', 'info']"/>
                    </v-btn>
                  </template>
                  <span>
                    La référence représente le nom du matériau.<br/>
                    Exemple : 'AB4', 'Bride', ...
                  </span>
                </v-tooltip>
              </template>
            </v-text-field>
          </div>
          <h3 class="custom-bloc" :style="displayBlockImage()
            ? 'margin-left: -25% !important; margin-top: 0px;'
            : 'margin-left: -15% !important; margin-top: 0px;'">
            Caractéristiques du matériau :
            <!-- Information panel -->
            <v-menu
              v-model="menu"
              open-on-hover
              offset-y
              :close-on-content-click="false"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn small v-on="on" v-bind="attrs"
                  icon class="primary ml-8 mr-n3" color="#ffffff" depressed rounded>
                  <font-awesome-icon :icon="['fas', 'info']"/>
                </v-btn>
              </template>
              <v-card>
                <v-list>
                  <v-list-item class="mb-n2">
                    <b>Définition :</b>
                  </v-list-item>
                  <v-list-item class="mb-3">
                    Chaque caractéristique représente un champ qui sera présent
                    <br/>dans le formulaire d'ajout d'un article.
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item>
                    <b>Exemple :</b>
                  </v-list-item>
                  <v-list-item>
                    <ul>
                      <li>Nom : Dimensions</li>
                      <li>Type : Texte</li>
                      <li>Requis</li>
                    </ul>
                  </v-list-item>
                  <v-list-item>
                    Le résultat sera :
                    <v-text-field class="custom-text-field px-3 mt-3 mb-n2" type="text"
                      label="Dimensions (*)" readonly
                      outlined rounded dense/>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-menu>
          </h3>
          <br/>
          <!-- List of the material's characteristics -->
          <v-list
            max-width="400"
            class="custom-list"
          >
            <v-list-group
              v-for="(item, i) in caractAssocies"
              :key="i"
              no-action
              value="true"
              class="custom-list-group"
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>
                    Caractéristique {{ i+1 }}
                    <v-btn
                      v-if="i > 0"
                      icon class="primary" color="#ffffff" depressed rounded
                      style="margin-left: 40%;"
                      @click="removeCaractAssocies(i)">
                      <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                    </v-btn>
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item>
                <v-list-item-content>
                  <!-- Characteristic's name -->
                  <div class="custom-bloc">
                    <v-text-field class="custom-text-field" type="text"
                    label="Nom (*)" :rules="requiredRules"
                    v-model="item.nom" outlined rounded dense required
                    @blur="item.nom = item.nom.toString().trim()"/>
                  </div>
                  <!-- Characteristic's type -->
                  <div class="custom-bloc">
                    <v-select
                      class="custom-text-field"
                      label="Type (*)"
                      v-model="item.type"
                      :items="listeTypeCaract"
                      :rules="requiredRules"
                      item-text="value"
                      item-value="value"
                      outlined
                      rounded
                      dense
                      required
                    >
                      <template v-slot:item="{ parent, item }">
                        <v-tooltip top>
                          <template v-slot:activator="{ on, attrs }">
                            <v-list-item v-on="on" v-bind="attrs">
                              <v-list-item-title>
                                {{ item.value }}
                              </v-list-item-title>
                            </v-list-item>
                          </template>
                          <span class="pre-formatted">{{ item.def }}</span>
                        </v-tooltip>
                      </template>
                    </v-select>
                  </div>
                  <!-- Characteristic's content in case of a list -->
                  <div v-if="item.type !== 'Texte' && item.type !== ''" class="custom-bloc">
                    <v-textarea class="custom-text-field" type="text" rows="1"
                    label="Contenu (*)" :rules="contenuRequiredRules" auto-grow
                    v-model="item.contenu" outlined rounded dense required
                    @blur="item.contenu = item.contenu.toString().trim()"
                    hint="Chaque information doit être séparée du caractère ';'"/>
                  </div>
                  <div class="custom-bloc">
                    <v-radio-group v-model="item.requis" row>
                      <v-radio label="Requis" :value="true"></v-radio>
                      <v-radio label="Optionnel" :value="false"></v-radio>
                    </v-radio-group>
                  </div>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
            <!-- Add a characteristic -->
            <v-btn icon color="primary" depressed rounded
              style="border: 2px solid #1c3054; margin-left: 45%;"
              @click="addCaractAssocies">
              <font-awesome-icon :icon="['fas', 'plus']"/>
            </v-btn>
          </v-list>
          <div class="mt-4" align="center">
            <label class="font-lighter">Les champs (*) sont requis.</label>
          </div>
        </div>
        <v-divider v-if="displayBlockImage()" class="custom-divider" inset vertical></v-divider>
        <!-- Image editor -->
        <div v-if="displayBlockImage()" class="semi-ajouter-bloc" materiau align="center">
          <br/>
          <h3 class="custom-bloc" style="margin-left: -50%; margin-top: 0px;">
            Image du panneau :
          </h3>
          <br/>
          <div class="custom-bloc">
            <!-- Key prop is used to reset the redisplay the placeholder when the image
              provided has been deleted -->
            <v-img
              :class="isImageLoaded ? '' : 'custom-cadre'"
              :src="this.imageSrc"
              :key="this.imageSrc"
              lazy-src=""
              contain
              alt="Image du panneau"
              max-width="180px"
              aspect-ratio="1"
              @load="isImageLoaded = true"
            >
              <template v-slot:placeholder>
                <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                  style="max-width: 100px;"
                >
                  <h3 class="custom-bloc mt-0 ml-0">
                    Veuillez ajouter <br/> une image
                  </h3>
                </v-row>
              </template>
            </v-img>
          </div>
          <!-- Buttons to add an image or delete it -->
          <div class="custom-bloc mt-9">
            <div :class="isImageLoaded ? 'custom-button mr-5' : ''">
              <v-btn color="primary" depressed rounded @click="uploadImage">
                <v-icon left small>mdi-cloud-upload</v-icon>
                Ajouter une image
              </v-btn>
              <input type="file" id="fileInput"
                accept=".jpg, .jpeg, .png, .svg"
                style="display:none" @change="onFileInput($event)">
            </div>
            <div :class="isImageLoaded ? 'custom-button ml-5' : ''">
              <v-btn v-if="isImageLoaded"
                color="primary"
                outlined depressed rounded
                @click="deleteImage"
              >
                Supprimer l'image
              </v-btn>
            </div>
          </div>
          <!-- Small sign editor -->
          <div style="margin-top: 70px;">
            <!-- Small sign status -->
            <div class="custom-bloc">
              <v-select
                class="custom-text-field"
                style="max-width: 300px;"
                label="Panonceau (*)"
                v-model="panonceauStatus"
                :items="statutCategories"
                :rules="requiredRules"
                outlined
                rounded
                dense
                required
              />
            </div>
            <!-- Small sign reference (see 'ParametresMateriaux') -->
            <div v-if="panonceauStatus !== 'Ne pas afficher le champ'
              && panonceauStatus !== ''">
              <h3 class="custom-bloc" style="margin-left: -25% !important; margin-top: 0px;">
                Référence du panonceau :
              </h3>
              <br/>
              <div class="custom-bloc">
                <v-autocomplete
                  class="custom-text-field"
                  v-model="panonceau"
                  label="Référence (*)"
                  :items="listeMateriauxPanonceau"
                  :rules="requiredRules"
                  :disabled="listeMateriauxPanonceau.length <= 0"
                  :hint="listeMateriauxPanonceau.length <= 0 && category !== ''
                    ? 'Aucun matériau n\'existe pour cette catégorie, veuillez d\'abord en créer un'
                    : ''"
                  :persistent-hint="listeMateriauxPanonceau.length <= 0"
                  no-data-text="Le matériau indiqué n'existe pas, veuillez d'abord en créer un."
                  item-text="reference"
                  item-value="reference"
                  outlined rounded dense required
                />
              </div>
              <div class="mt-4" align="center">
                <label class="font-lighter">Les champs (*) sont requis.</label>
              </div>
            </div>
          </div>
        </div>
      </v-form>
      <br/>
      <div class="center">
        <!-- Update the material -->
        <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded :disabled="!validUpdateMateriau"
            @click="updateMateriau">Enregistrer</v-btn>
        </div>
        <!-- Exit the form -->
        <div class="custom-button ml-5">
          <v-btn color="primary" rounded outlined
          v-bind:to="{ name:'Materiaux' }">
          Quitter</v-btn>
        </div>
      </div>
    </div>
</template>

<script>
// Access to functions to find, modify or delete materials elements in the database
import bddMateriaux from '@/services/BddMateriaux';

export default {
  name: 'ModifierMateriau', // Component's name
  data() {
    return {
      // Form rules to force a field to be required
      requiredRules: [
        v => !!v || 'Ce champ est requis',
      ],
      // Form rules to force a field to be required and to enable data separated by ';'
      contenuRequiredRules: [
        v => !!v || 'Ce champ est requis',
        v => !(/^.+;$/.test(v.toString().trim())) || 'Le champ ne doit pas se terminer avec le caractère \';\'',
        v => /^[^;]+(;[^;]+)*$/.test(v.toString().trim()) || 'Chaque information doit être séparée du caractère \';\'',
      ],

      // Boolean to know if the material's form is correctly completed
      validUpdateMateriau: false,
      // Category
      category: this.$route.params.category || '',
      // Reference
      ref: '',
      // Boolean to know if the information panel has to be displayed
      menu: false,
      // Old reference
      oldReference: '',
      // Material's characteristics
      caractAssocies: [{
        nom: '',
        type: '',
        requis: true,
        contenu: '',
      }],

      // Boolean to know if the image has been correctly loaded
      isImageLoaded: false,
      // Store the temporary url used to display the image
      imageSrc: '',
      // Temporary url of the old image
      oldImageSrc: '',
      // Old image
      oldImage: '',
      // Store the File object of the uploaded image
      uploadedImage: '',

      // Small sign status
      panonceauStatus: '',
      // Small sign reference
      panonceau: '',
      // Array of small sign possible status
      statutCategories: ['Requis', 'Optionnel', 'Ne pas afficher le champ'],

      // Array to store all the material categories
      listeAllCategories: [],
      // Array to only store the material categories' names
      listeCategories: [],
      // Array to store all the small sign materials (see 'ParametresMateriaux')
      listeMateriauxPanonceau: [],
      // Array to store the characteristics types
      listeTypeCaract: [
        {
          id: 1,
          value: 'Texte',
          def: 'Un champ de texte classique',
        },
        {
          id: 2,
          value: 'Select',
          def: 'Une liste dont les éléments sont définis\ndans le champ \'Contenu\'',
        },
        {
          id: 3,
          value: 'Autocomplete',
          def: 'Une liste dont les résultats peuvent être\nfiltrés par une recherche',
        },
        {
          id: 4,
          value: 'Combobox',
          def: 'Un autocomplete pour lequel il n\'est pas obligatoire\nde choisir parmi un élément de la liste',
        },
      ],
    };
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push({ name: 'Materiaux' });
    }
  },
  async mounted() {
    // Get all the material categories
    await this.getCategories();
    // Get the material to modify
    await this.getMateriau();
  },
  methods: {
    /**
     * Function to know if the image block has to be displayed or not according to the category
     * @return {The boolean to know if the image block has to be displayed}
     */
    displayBlockImage() {
      return this.listeAllCategories
        .find(cat => cat.value.toUpperCase() === this.category.toString().trim().toUpperCase()
        && !cat.panonceau) !== undefined;
    },
    /**
     * Asynchronous function to get all the material categories in the database
     * and all the small sign materials
     */
    async getCategories() {
      this.listeAllCategories = [];
      this.listeCategories = [];
      const response = await bddMateriaux.findCategorie({ token: this.$session.get('token') });
      if (response.data !== undefined && response.data.length > 0) {
        // For each category in the response, keep the wanted attributes in the component's array
        response.data.forEach((cat, index) => {
          this.listeAllCategories.push({
            id: index + 1,
            value: cat.nom,
            // eslint-disable-next-line
            dbId: cat._id,
            panonceau: cat.panonceau,
          });
          this.listeCategories.push(cat.nom);
        });
      }
      // Get all the small sign materials
      const categorie = this.listeAllCategories.find(cat => cat.panonceau);
      if (categorie !== undefined) {
        this.listeMateriauxPanonceau = [];
        const res = await bddMateriaux.findMateriauxByCategorie({
          categorieMateriau: categorie.dbId,
          token: this.$session.get('token'),
        });
        if (res !== null && res.data !== undefined
          && res.data.length > 0) {
          this.listeMateriauxPanonceau = res.data;
        }
      }
    },
    /**
     * Function to add a characteristic
     */
    addCaractAssocies() {
      this.caractAssocies.push({
        nom: '',
        type: '',
        requis: true,
        contenu: '',
      });
    },
    /**
     * Function to remove a characteristic
     */
    removeCaractAssocies(index) {
      if (index > 0) {
        this.caractAssocies.splice(index, 1);
      }
    },
    /**
     * Click on the input tag. Used to get the upload window
     */
    uploadImage() {
      document.getElementById('fileInput').click();
    },
    /**
     * Save the uploaded image and create a temporary url when an image has been uploaded
     * @param {The event triggered} event
     */
    onFileInput(event) {
      // eslint-disable-next-line
      const files = event.target.files;
      if (files.length > 0) {
        this.imageSrc = URL.createObjectURL(files[0]);
        // eslint-disable-next-line
        this.uploadedImage = files[0];
      }
    },
    /**
     * Delete manually a temporary url created which is not used anymore
     * @param {The url to delete} url
     */
    deleteUrlImage() {
      URL.revokeObjectURL(this.imageSrc);
    },
    /**
     * Delete the image and reset all the related variables
     */
    deleteImage() {
      this.deleteUrlImage();
      this.imageSrc = '';
      this.isImageLoaded = false;
      this.uploadedImage = '';
      this.panonceauStatus = '';
    },
    /**
     * Get and display all the material's data according to its category
     */
    async getMateriau() {
      const response = await bddMateriaux.getMateriau({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Get the category
      const categorie = this.listeAllCategories.find(cat => cat.dbId === response.data.categorie);
      if (categorie !== undefined) {
        this.category = categorie.value;
      } else {
        this.category = '';
      }
      // Set variables
      this.ref = response.data.reference;
      this.oldReference = response.data.reference;
      this.caractAssocies = Array.from(response.data.caracteristiques);
      // Transform the content in a field with data separated with ';'
      this.caractAssocies.forEach((element) => {
        if (element.contenu !== undefined && element.contenu.length > 0) {
          let newContenu = '';
          element.contenu.forEach((contenu, index) => {
            if (index > 0) {
              // eslint-disable-next-line
              newContenu += ';' + contenu;
            } else {
              newContenu += contenu;
            }
          });
          // eslint-disable-next-line
          element.contenu = newContenu;
        }
      });
      // Load the image and the small sign data
      const img = response.data.image;
      if (img !== null && img !== undefined && img !== '' && img.data.length > 0) {
        this.imageSrc = this.bufferToImage(img);
        this.oldImageSrc = this.imageSrc;
        this.oldImage = img;
      }
      this.panonceauStatus = response.data.panonceauStatus;
      // eslint-disable-next-line
      const panonceau = this.listeMateriauxPanonceau.find(mat => mat._id === response.data.panonceau);
      if (panonceau !== undefined) {
        this.panonceau = panonceau;
      }
    },
    /**
     * Transform the content separated with ';' into an array
     */
    transformParameters() {
      this.caractAssocies.forEach((element) => {
        if (element.contenu.toString().trim() !== '' && element.contenu.toString().split(';').length > 0) {
          // eslint-disable-next-line
          element.contenu = Array.from(element.contenu.toString().split(';'));
          const newArray = [];
          // eslint-disable-next-line
          for (let cont of element.contenu) {
            newArray.push(cont.toString().trim());
          }
          // eslint-disable-next-line
          element.contenu = Array.from(newArray);
        }
      });
    },
    /**
     * Asynchronous function to update the material
     */
    async updateMateriau() {
      this.transformParameters();
      // Get the buffer from the image to store in the database
      let bufferImage = '';
      if (this.oldImageSrc !== this.imageSrc && this.uploadedImage !== '') {
        // Get the buffer from the image to store in the database
        bufferImage = await this.imageToBuffer();
      } else {
        bufferImage = this.oldImage;
      }
      // Update the material in the database
      await bddMateriaux.updateMateriau({
        id: this.$route.params.id,
        categorie: this.category.toString().trim(),
        reference: this.ref.toString().trim(),
        caracteristiques: this.caractAssocies,
        image: bufferImage,
        panonceauStatus: this.panonceau,
        token: this.$session.get('token'),
      });
      this.deleteUrlImage();
      this.$router.push({ name: 'Materiaux' });
    },
    /**
     * Transform the Blob given into a Buffer
     * @param {The Blob to transform} imageBlob
     * @return {The image in a Buffer}
     */
    async imageToBuffer() {
      try {
        // Transform the file into an ArrayBuffer
        const buffer = await this.uploadedImage.arrayBuffer();
        // Transform the ArrayBuffer into a Buffer to be inserted in the database
        return Buffer.from(buffer);
      } catch (e) {
        console.error(e);
      }
      return '';
    },
    /**
     * Create a temporary URL from the Buffer image given
     * @param {The Buffer image} image
     * @return {The temporary URL used to display the image}
     */
    bufferToImage(image) {
      // Transform the content of the buffer into a Blob
      const blob = new Blob([new Uint8Array(image.data)]);
      // Return an url of the blob to display the image
      return URL.createObjectURL(blob);
    },
  },
};
</script>
