<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to modify a street's name proposition -->
<template>
    <div app>
        <h1 align="center">Modification : Propositions de nom de rue</h1>
        <h2 v-if="this.oldProprietaire.civilite !== 'Entreprise'" align="center">
          {{ this.oldProprietaire.nom }} {{ this.oldProprietaire.prenom }}
        </h2>
        <h2 v-else align="center">{{ this.oldProprietaire.nomEntreprise }}</h2>
        <br/>
        <div class="flex">
          <!-- Form to modify a proposition -->
          <v-form class="ajouter-bloc" ref="formProposition" v-model="validProposition">
            <!-- Street's name -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field"
                label="Nom de la rue (*)"
                v-model="modelRue"
                :items="listeRue"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="searchRue"
                :rules="requiredRules"
                outlined
                rounded
                dense
                required
              />
            </div>
            <!-- Owner -->
            <div class="custom-bloc">
              <v-autocomplete
                v-model="modelPro"
                class="custom-text-field"
                label="Propriétaire (*)"
                :items="itemsPro"
                item-text="value"
                item-value="id"
                :hide-no-data="awaitingSearchPro"
                :filter="(item) => this.itemsPro.some(res => res.id === item.id)"
                cache-items
                no-data-text="Le propriétaire indiqué n'existe pas, veuillez d'abord le créer."
                return-object
                :search-input.sync="searchPro"
                :rules="requiredRules"
                dense
                rounded
                outlined
                required
              >
                <template v-slot:item="{ parent, item, on, attrs }">
                  <v-list-item v-on="on" v-bind="attrs">
                    <v-list-item-title>
                      {{ item.value }}
                    </v-list-item-title>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </div>
            <!-- First proposition -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field"  type="text" label="Propostiton de nom 1 (*)"
              id="proposition1" v-model="proposition1" :rules="nameRequiredRules"
              :value="proposition1 = proposition1.toString().replace(/ +(?= )/g,'')"
              outlined rounded dense required/>
            </div>
            <!-- Second proposition -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field"  type="text" label="Propostiton de nom 2"
              :value="proposition2 = proposition2.toString().replace(/ +(?= )/g,'')"
              :rules="notSameNameRules" id="proposition2" v-model="proposition2"
              outlined rounded dense/>
            </div>
            <div style="margin-top: 50px;" align="center">
              <label class="font-lighter">Les champs (*) sont requis.</label>
            </div>
          </v-form>
        </div>
        <br/>
        <div class="center">
          <!-- Button to save the changes -->
          <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded :disabled="!validProposition"
            @click="updateProposition">Enregistrer</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined to="/proposition">Quitter</v-btn>
          </div>
        </div>
    </div>
</template>

<script>
// Access to functions to use the users related database
import bdd from '@/services/Bdd';

export default {
  data() {
    return {
      // Form rules to force a field to be required
      requiredRules: [
        v => !!v || 'Ce champ est requis',
      ],
      // Form rules to force a field to be required and not to be the same proposition
      // as the first one
      notSameNameRules: [
        // eslint-disable-next-line
        v => (/^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || v === '') || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
        v => (v.toString().trim() !== this.proposition1.toString().trim() || v.toString().trim() === '') || 'Les 2 propositions ne doivent pas être identiques',
      ],
      // Form rules to force a field to have a street name shape and to be required
      nameRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => /^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],

      // Old owner
      oldProprietaire: '',

      // Boolean to know if the form is correctly completed
      validProposition: false,
      // String of the research's street name
      searchRue: '',
      // First proposition
      proposition1: '',
      // Second proposition
      proposition2: '',
      // Owner
      proprietaire: '',

      // Array to display the temporary street's name which match with the actual search input
      listeRue: [],
      // The street object related to the actual search input
      modelRue: '',
      // Array to display the temporary owner's name which match with the actual search input
      itemsPro: [],
      // The owner object related to the actual search input
      modelPro: '',
      // String of the owner's name search input in the add form
      searchPro: '',
      awaitingSearchPro: false,
    };
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push('/proposition');
    }
  },
  async mounted() {
    // Get the proposition from the database
    await this.getProp();
  },
  watch: {
    /**
     * Search in real time owner names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPro(val) {
      this.textePro(val);
    },
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
  },
  methods: {
    /**
     * Asynchronous function to get the propositions from the database
     */
    async getProp() {
      // Search proposition
      const response = await bdd.getProposition({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Set all informations of the propositions in the form
      this.listeRue = [response.data.nom];
      this.modelRue = response.data.nom;
      this.proposition1 = response.data.proposition1;
      this.proposition2 = response.data.proposition2;
      if (response.data.proprietaire.civilite !== 'Entreprise') {
        this.itemsPro = [{
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: `${response.data.proprietaire.nom} ${response.data.proprietaire.prenom}`,
        }];
        this.modelPro = {
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: `${response.data.proprietaire.nom} ${response.data.proprietaire.prenom}`,
        };
      } else {
        this.itemsPro = [{
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: response.data.proprietaire.nomEntreprise,
        }];
        this.modelPro = {
          // eslint-disable-next-line
          id: response.data.proprietaire._id,
          value: response.data.proprietaire.nomEntreprise,
        };
      }
      this.oldProprietaire = response.data.proprietaire;
    },
    /**
     * Asynchronous function to update the proposition
     */
    async updateProposition() {
      // Update the proposition
      await bdd.updateProposition({
        id: this.$route.params.id,
        nom: this.searchRue,
        proposition1: this.proposition1.toString().trim(),
        proposition2: this.proposition2.toString().trim(),
        proprietaire: this.modelPro.id,
        token: this.$session.get('token'),
      });
      // Return to the previous page
      this.$router.push('/proposition');
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (val === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding streets
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        // Reset the array
        this.listeRue = [];
      }
    },
    /**
     * Search owner names, similar to the one given in parameter
     */
    async textePro(val) {
      let v = val;
      if (val === null || val === undefined) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        this.itemsPro = []; // Reset the array
        // Search in the database the corresponding owners
        const response = await bdd.findPro({ words: val.toString().trim().split(' '), token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding owner name to the array
        res.forEach((element) => {
          if (element.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: `${element.nom} ${element.prenom}` });
          } else {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: element.nomEntreprise });
          }
        });
      } else {
        // Reset the array
        this.itemsPro = [];
      }
    },
  },
};
</script>
