<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to modify :
    - Rue : a street
  through a form.

  Forms are composed of different elements mostly classic text fields, autocomplete fields
  or selection fields.
-->
<template>
    <div class="modifier">
      <h1 align="center">Modification : {{ this.oldNom }}</h1>
      <!-- Form to modify the street -->
      <v-form ref="formRue" v-model="validRue">
        <div class="flex">
          <div class="semi-ajouter-bloc" >
            <!-- Text field for the name of the street -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field" dense
                label="Nom (*)" type="text"
                append-icon="mdi-content-copy"
                @click:append="copyText"
                :rules="nameRequiredRules.concat(nomRueRequiredRules)"
                :value="nom = nom.toString().replace(/ +(?= )/g,'')"
                id="nom" v-model="nom" outlined rounded required/>
            </div>
            <!-- Text field for the said-location of the street -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field"
                label="Lieu-dit"
                :items="listeLieu"
                no-data-text="Le lieu-dit indiqué n'existe pas."
                hide-details
                v-model="modelLieu"
                :search-input.sync="searchLieu"
                outlined
                rounded
                dense
              />
            </div>
            <!-- Text fields for the coordinates of the street -->
            <h3 style="margin-left: 15%;">
              Coordonnées du point de départ de la rue :
            </h3>
            <br/>
            <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="latitudeD"
                  id="latitudeD" v-model="latitudeD" :rules="latitudeRules" clearable
                  @input="latitudeD = $event?$event:''"
                  @keydown.delete="latitudeD =
                    replaceCoordinate(latitudeD, false, true, config.latitudePrefix + '.')"
                  @keydown="latitudeD =
                    replaceCoordinate(latitudeD, false, false, config.latitudePrefix + '.')"
                  @focus="latitudeD =
                    replaceCoordinate(latitudeD, true, false, config.latitudePrefix + '.')"
                  outlined dense rounded label="Latitude" suffix="°"/>
            </div>
            <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="longitudeD"
                  id="longitudeD" v-model="longitudeD" :rules="longitudeRules" clearable
                  @input="longitudeD = $event?$event:''"
                  @keydown.delete="longitudeD =
                    replaceCoordinate(longitudeD, false, true, config.longitudePrefix + '.')"
                  @keydown="longitudeD =
                    replaceCoordinate(longitudeD, false, false, config.longitudePrefix + '.')"
                  @focus="longitudeD =
                    replaceCoordinate(longitudeD, true, false, config.longitudePrefix + '.')"
                  outlined dense rounded label="Longitude" suffix="°"/>
            </div>
            <!-- Street's middle point coordinates -->
            <h3 style="margin-left: 15%;">
              Ajout / Supression de coordonnées intermédiaires
            </h3>
            <div align="center" class="mt-2 mb-9">
              <v-btn fab x-small dark color="#1c3054"
                outlined @click="addMidCoord">
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
                <v-btn v-if="this.nbCoordInt > 0" class="ml-1" fab x-small dark
                  outlined color="#1c3054" @click="removeMidCoord">
                <v-icon dark>mdi-minus</v-icon>
              </v-btn>
            </div>
            <!-- Text fields for the coordinates of the street -->
            <h3 style="margin-left: 15%; margin-top: -1%;">
              Coordonnées du point de fin de la rue :
            </h3>
            <br/>
            <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="latitudeF"
                  id="latitudeF" v-model="latitudeF" :rules="latitudeRules" clearable
                  @input="latitudeF = $event?$event:''"
                  @keydown.delete="latitudeF =
                    replaceCoordinate(latitudeF, false, true, config.latitudePrefix + '.')"
                  @keydown="latitudeF =
                    replaceCoordinate(latitudeF, false, false, config.latitudePrefix + '.')"
                  @focus="latitudeF =
                    replaceCoordinate(latitudeF, true, false, config.latitudePrefix + '.')"
                  outlined dense rounded label="Latitude" suffix="°"/>
            </div>
            <div class="custom-bloc">
                <v-text-field class="custom-text-field" type="text" name="longitudeF"
                  id="longitudeF" v-model="longitudeF" :rules="longitudeRules" clearable
                  @input="longitudeF = $event?$event:''"
                  @keydown.delete="longitudeF =
                    replaceCoordinate(longitudeF, false, true, config.longitudePrefix + '.')"
                  @keydown="longitudeF =
                    replaceCoordinate(longitudeF, false, false, config.longitudePrefix + '.')"
                  @focus="longitudeF =
                    replaceCoordinate(longitudeF, true, false, config.longitudePrefix + '.')"
                  outlined dense rounded label="Longitude" suffix="°"/>
            </div>
            <!-- Add an article to the order -->
            <div class="custom-h3">
              <v-checkbox style="width: 400px; margin-top: 20px !important;"
                color="primary" v-model="checkArticle"
                label="Ajouter un (ou des) article(s) à la commande"/>
            </div>
            <div style="margin-top: 50px;" align="center">
              <label class="font-lighter">Les champs (*) sont requis.</label>
            </div>
          </div>
          <v-divider class="custom-divider" inset vertical></v-divider>
          <!-- Map to visually see the coordinates of the street -->
          <div class="map-bloc" align="center">
              <MapClick :envoi="this.envoi" :typeMap="this.type" :nbCoordInt="this.nbCoordInt"
                @updateCoord="updateCoord"/>
          </div>
        </div>
        <br/>
        <!-- Adding article form -->
        <div v-if="checkArticle">
          <v-list
            class="custom-list"
            align="center"
          >
            <v-list-group
              v-for="(item, i) in articles"
              :key="i"
              add-article
              no-action
              value="true"
              class="custom-list-group"
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>
                    Article {{ i+1 }}
                    <v-btn
                      v-if="i > 0"
                      icon class="primary" color="#ffffff" depressed rounded
                      style="margin-left: 60%;"
                      @click="removeArticles(i)">
                      <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                    </v-btn>
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item :class="i === articles.length-1 ? '' : 'mb-10'">
                <v-list-item-content>
                  <AjoutArticle
                    ref="artForm" v-if="!item.status" @added="item.status = true" :index="i"
                    @formValidation="validArt"
                  />
                  <h3 v-else class="custom-bloc mt-3">
                    L'article a bien été ajouté à la commande !
                  </h3>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
            <v-btn icon color="primary" class="mt-4" depressed rounded
              style="border: 2px solid #1c3054;"
              @click="addArticles">
              <font-awesome-icon :icon="['fas', 'plus']"/>
            </v-btn>
          </v-list>
        </div>
      </v-form>
      <br/>
      <br/>
      <div class="center">
        <!-- Button to save changement -->
        <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded :disabled="Boolean(isDisabled(validRue))"
              @click="updateRue">Enregistrer</v-btn>
        </div>
        <!-- Button to cancel changement -->
        <div class="custom-button ml-5">
          <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
        </div>
      </div>
      <!-- Display a snackbar when the street name has been copied to the clipboard -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        reduce-size
        v-model="snackbarCopy"
        :timeout="timeout"
      >Copié !</v-snackbar>
      <!-- Display an error snackbar when the copy function is not available -->
      <v-snackbar
        color="red"
        class="custom-snackbar"
        v-model="snackbarCopyFail"
        :timeout="timeout"
      >Cette fonctionnalité n'est pas disponible dans votre navigateur...</v-snackbar>
    </div>
</template>

<script>
// Access to functions to find, modify or delete database elements
import bdd from '@/services/Bdd';
// Import the Map component
import MapClick from '@/components/mapClick.vue';
// Import the AjoutArticle component
import AjoutArticle from '@/components/ajoutArticle.vue';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  name: 'ModifierRue', // Component's name
  data() {
    return {
      // Configuration object
      config: configGlobal,
      snackbarCopy: false, // Boolean to know if snackar is displayed or not
      snackbarCopyFail: false, // Boolean to know if snackar is displayed or not
      timeout: 3000, // Time of the snackbar's duration

      // Form rules to force a field to have a street name shape and to be required
      nameRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => /^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],
      // Form rules to force a field not to have a street name which already exists
      nomRueRequiredRules: [
        v => (this.listeAllRue.indexOf(v.toString().trim().toLowerCase()) < 0 || v.toString().trim() === this.oldNom) || 'Une rue portant le même nom existe déjà',
      ],
      // Form rules to force a field to have a latitude coordinate shape
      latitudeRules: [
        // eslint-disable-next-line
        v => (new RegExp(`/^${this.config.latitudePrefix}\.\d{6}$/`).test(v.toString()) || v.toString() === '') || `Le format n\'est pas correct (ex: ${this.config.latitudePrefix}.163825)`,
        v => v <= 90 || 'La latitude ne doit pas être supérieure à 90',
        v => v >= -90 || 'La latitude ne doit pas être inférieure à -90',
      ],
      // Form rules to force a field to have a longitude coordinate shape
      longitudeRules: [
        // eslint-disable-next-line
        v => (new RegExp(`/^${this.config.longitudePrefix}\.\d{6}$/`).test(v.toString()) || v.toString() === '') || `Le format n\'est pas correct (ex: ${this.config.longitudePrefix}.163825)`,
        v => v <= 180 || 'La longitude ne doit pas être supérieure à 180',
        v => v >= -180 || 'La longitude ne doit pas être inférieure à -180',
      ],

      // Boolean to know if the street's form is correctly completed
      validRue: false,
      // Street's name
      nom: '',
      // Street's old name
      oldNom: '',
      // Street's start latitude
      latitudeD: '',
      // Street's start longitude
      longitudeD: '',
      // Array of street's middle coordinates
      coordInt: [],
      // Number of street's middle coordinates
      nbCoordInt: 0,
      // Street's end latitude
      latitudeF: '',
      // Street's end longitude
      longitudeF: '',
      // String of the street's said-location search input
      searchLieu: '',

      // Boolean to know if the user want to add an article or not
      checkArticle: false,
      // Array which save the articles
      articles: [{ status: false, valid: false }],

      // List of said-location corresponding to the input
      listeLieu: [],
      modelLieu: '',
      // Elements to send to the map
      envoi: [],
      // Element to modify (street)
      type: 'Rue',

      // List of the streets
      listeAllRue: [],
    };
  },
  components: {
    MapClick, // The Map component
    AjoutArticle, // The AjoutArticle component
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push('/');
    }
  },
  async mounted() {
    await this.getRue(); // Find the street
    await this.fillRue(); // Search all streets
  },
  watch: {
    /**
      * Code executed when the said-location change
      * Search said-location existing according to the text in input
      */
    searchLieu(val) {
      this.texteLieu(val);
    },
  },
  methods: {
    /**
     * Function executed to know if the element could be added
     */
    isDisabled(validForm) {
      // Check if add article box is checked
      if (this.checkArticle) {
        let validation = true;
        // Verify that all articles are valid
        this.articles.forEach((element) => {
          validation = validation && element.valid;
        });
        // Return a boolean to allows save element or not
        return !validForm || !validation;
      }
      // Return a boolean to allows save element or not
      return !validForm;
    },
    /**
    * Function executed to know if the articles are valid
    */
    validArt(val) {
      this.articles[val.index].valid = val.value;
    },
    /**
     * Function to add articles
     */
    addArticles() {
      this.articles.push({
        status: false,
        valid: false,
      });
    },
    /**
     * Function to remove articles
     */
    removeArticles(index) {
      if (index > 0) {
        this.articles.splice(index, 1);
      }
    },
    /**
     * Function to copy text in a text field
     */
    copyText() {
      const elem = document.getElementById('nom');
      // Select the element before copying
      elem.select();
      // Copy
      const bool = document.execCommand('copy');
      const lengthString = elem.value.length;
      // Unset the selection
      elem.setSelectionRange(lengthString, lengthString);
      if (bool) {
        this.snackbarCopy = true;
      } else {
        this.snackbarCopyFail = true;
      }
    },
    /**
     * Code executed to add a middle coordinates form
     */
    addMidCoord() {
      this.nbCoordInt += 1;
    },
    /**
     * Code executed to remove a middle coordinates form
     */
    removeMidCoord() {
      if (this.nbCoordInt >= 1) {
        this.nbCoordInt -= 1;
      }
    },
    /**
     * Constraint the input of geographical coordinates.
     * Forbid the user to enter non-desired information.
     * @param {The variable to change} value
     * @param {Boolean to know if the field is on focus} onFocus
     * @param {Boolean to know if the delete key has been pressed} deleteKey
     * @param {The coordinate to write at the string's beginning} coordinate
     * @return {The correct value to display}
     */
    replaceCoordinate(value, onFocus, deleteKey, coordinate) {
      // If the key 'Delete' has been entered and the event of the key has been triggered
      if (!onFocus && deleteKey) {
        if (value.toString().length <= 3) {
          // If the beginning of the coordinate has been deleted, rewrite it
          // The space is only used because one character will be deleted with the 'Delete' key
          return coordinate.toString().concat(' ');
        }
        return value.toString();
      }
      // If a key different from the 'Delete' one has been triggered
      if (!onFocus && !deleteKey) {
        if (value.toString().length <= 3) {
          // If the beginning of the coordinate has been deleted, rewrite it
          return coordinate.toString();
        }
        return value.toString();
      }
      // If the focus event has been triggered
      if (value.toString() === '') {
        // Return the beginning of the coordinate
        return coordinate.toString();
      }
      // Else return the actual value
      return value.toString();
    },
    /**
      * Asynchronous code executed to get informations about the street
      */
    async getRue() {
      // Get informations about the street in the database
      const response = await bdd.getRue({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Get the name of the street
      this.nom = response.data.nom;
      this.oldNom = response.data.nom;
      // Get the said-location of the street
      if (response.data.lieuDit !== undefined) {
        this.listeLieu = [response.data.lieuDit.nom];
        this.modelLieu = response.data.lieuDit.nom;
      }
      // Get the start latitude of the street
      if (response.data.latitudeD !== null) {
        this.latitudeD = response.data.latitudeD.toFixed(6);
      }
      // Get the start longitude of the street
      if (response.data.longitudeD !== null) {
        this.longitudeD = response.data.longitudeD.toFixed(6);
      }
      // Get the middle coordinates of the street
      // CoordInt is a array to keep middle coordinates and push to the map
      const { coordInt } = response.data;
      // Get the number of middle coordinates
      this.nbCoordInt = coordInt.length;
      // Get the end latitude of the street
      if (response.data.latitudeF !== null) {
        this.latitudeF = response.data.latitudeF.toFixed(6);
      }
      // Get the end longitude of the street
      if (response.data.longitudeF !== null) {
        this.longitudeF = response.data.longitudeF.toFixed(6);
      }
      // Send informations of the street to the map
      if ((this.latitudeD !== null && this.longitudeD !== null)
        || (this.latitudeF !== null && this.longitudeF !== null)) {
        // Send the coordinates if they exist
        this.envoi = [this.latitudeD, this.longitudeD, this.latitudeF, this.longitudeF, coordInt];
      } else {
        // Send the street's name if the coordinates aren't known
        this.envoi = [response.data.nom];
      }
    },
    /**
      * Asynchronous code executed to update the street in the database
      */
    updateRue() {
      const results = [];
      // Add, in a Promise.all, all the 'addArticle' functions of the recursively articles
      // Used to insert all the other articles before adding the one in the whole page
      if (this.$refs.artForm !== undefined) {
        // eslint-disable-next-line
        this.$refs.artForm.map((article) => {
          results.push(article.addArticle());
        });
      }
      Promise.all(results)
        .then(async () => {
          // Check if it exist a said location
          if (this.searchLieu === null) {
            this.searchLieu = '';
          }
          // Update the street with new informations
          await bdd.updateRue({
            id: this.$route.params.id,
            nom: this.nom,
            lieuDit: this.searchLieu,
            latitudeD: this.latitudeD,
            coordInt: this.coordInt,
            longitudeD: this.longitudeD,
            latitudeF: this.latitudeF,
            longitudeF: this.longitudeF,
            token: this.$session.get('token'),
          });
          this.$router.push('/');
        });
    },
    /**
      * Asynchronous code executed to search all streets in the database
      */
    async fillRue() {
      const response = await bdd.findRue({ token: this.$session.get('token') });
      const res = response.data;
      // Put all results of streets in the list
      res.forEach((element) => {
        this.listeAllRue.push(element.nom.toString().toLowerCase());
      });
    },
    /**
      * Asynchronous code executed to search said-location in the database
      */
    async texteLieu(val) {
      // Get the said-location entered as input
      let v = val;
      // Verify if is not null
      if (v === null) {
        v = '';
      }
      // If the length's value is more than 3, search in the database
      if (v.length >= 3) {
        const response = await bdd.findLieuDit({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // Put all results in the list
        res.forEach((element) => {
          this.listeLieu.push(element.nom);
        });
      } else {
        // Set the list to empty
        this.listeLieu = [];
      }
    },
    /**
      * Code executed to update coordinates from the map to the form
      */
    updateCoord(val) {
      // Extract the coordinates
      const latD = val[0];
      const longD = val[1];
      const latF = val[2];
      const longF = val[3];
      this.coordInt = [];
      for (let i = 0; i < val[4].length; i += 1) {
        // val[4][i][0] is latitude
        // val[4][i][1] is longitude
        this.coordInt.push([val[4][i][0], val[4][i][1]]);
      }
      // Update the coordinates when the marker change in the map
      this.latitudeD = latD;
      this.longitudeD = longD;
      this.latitudeF = latF;
      this.longitudeF = longF;
    },
  },
};
</script>
