<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to specify all the Category-Material-Article parameters.
-->
<template>
  <div>
    <h1 align="center">Paramètres des matériaux</h1>
    <br/>
    <div class="flex">
      <!-- Form -->
      <v-form class="ajouter-bloc" ref="formParamMateriaux" v-model="validParamMateriaux">
        <!-- Order sentences block :
          These sentences are used to be displayed when printing the order.
          Each material category can have 0 or 1 order sentence related. -->
        <div class="custom-bloc mb-4">
          <h3 align="center" class="mt-5" style="margin-right: 140px;">
            Phrases générales pour la commande :
            <!-- Information panel -->
            <v-menu
              v-model="menuPhrase"
              open-on-hover
              offset-y
              :close-on-content-click="false"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn small v-on="on" v-bind="attrs"
                  icon class="primary ml-8 mr-n3" color="#ffffff" depressed rounded>
                  <font-awesome-icon :icon="['fas', 'info']"/>
                </v-btn>
              </template>
              <v-card>
                <v-list>
                  <v-list-item class="mb-n2">
                    <b>Définition :</b>
                  </v-list-item>
                  <v-list-item class="mb-3">
                    Les phrases générales permettent de rajouter des informations lors de
                    <br/>l'édition du bon de commande. Chaque catégorie de matériaux est
                    <br/>rattachée à 0 ou 1 phrase.
                    <br/>Ainsi, lors de l'édition du bon de commande, chaque matériau aura
                    <br/>cette phrase rajoutée si elle a été définie au préalable.
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item>
                    <b>Exemple :</b>
                  </v-list-item>
                  <v-list-item class="mb-3">
                    <span>
                      Si la catégorie "Nom de rue" est rattachée à la phrase 'rétro liseret<br/>
                      convexe blanc police Time NR', le résultat sera :
                      <code class="mt-2 ml-2" style="display: block; white-space: pre-wrap;">
                        2 Plaque de rue rétro liseret convexe blanc police Time NR RAL 6005
                      </code>
                    </span>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-menu>
          </h3>
        </div>
        <!-- List of the order sentences -->
        <div v-for="(phrase, index) in listePhrasesCommande" v-bind:key="phrase.id"
          class="custom-bloc">
          <v-text-field class="custom-text-field" type="text"
            :label="'Phrase générale '+ (index + 1) + ' (*)'"
            v-model="phrase.value" outlined rounded dense
            :rules="requiredRules" required
          >
            <template v-slot:append-outer>
              <v-btn icon class="primary mt-n1" depressed rounded color="#ffffff"
                @click="removePhraseCommande(index)">
                <font-awesome-icon :icon="['fas', 'trash-alt']"/>
              </v-btn>
            </template>
          </v-text-field>
        </div>
        <!-- Add an order sentence -->
        <v-btn class="mt-2 mb-6" icon color="primary" depressed rounded
          style="border: 2px solid #1c3054; margin-left: 47%;"
          @click="addPhraseCommande">
          <font-awesome-icon :icon="['fas', 'plus']"/>
        </v-btn>
        <br/>
        <!-- Default material :
          For each category, it is possible to check and add a default material.
          This will allow to fill some fields in the add material form. -->
        <h3 align="center" style="margin-right: 280px;">
          Matériau par défaut :
          <!-- Information panel -->
          <v-menu
            v-model="menuDefaut"
            open-on-hover
            offset-y
            :close-on-content-click="false"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn small v-on="on" v-bind="attrs"
                icon class="primary ml-8 mr-n3" color="#ffffff" depressed rounded>
                <font-awesome-icon :icon="['fas', 'info']"/>
              </v-btn>
            </template>
            <v-card>
              <v-list>
                <v-list-item>
                  <b>Définition :</b>
                </v-list-item>
                <v-list-item class="mb-2">
                  Le matériau par défaut permet, pour chaque catégorie, de
                  <br/>définir un modèle de matériau spécifique à utiliser lors de
                  <br/>l'ajout d'un matériau de la catégorie en question.
                </v-list-item>
                <v-list-item class="mb-2">
                  <br/>Lors de l'ajout de plusieurs matériaux de la même catégorie
                  <br/>ayant des caractéristiques en commun, cela permet de ne
                  <br/>rentrer ces informations qu'une seule fois.
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </h3>
        <br/>
        <!-- List of categories and so default materials -->
        <div class="resultat" align="center">
          <v-card
            v-for="cat in listeAllCategories" v-bind:key="cat.dbId"
            max-width="400"
            outlined
            id="custom-card"
            :disabled="!cat.defaultMateriauStatus"
          >
            <v-row class="pl-7 mt-n3 mb-n3">
              <v-col cols="auto" align="left" style="display: flex; width: 50%;">
                <v-checkbox class="enable" v-model="cat.defaultMateriauStatus"/>
                <v-list-item-title style="white-space: pre;">{{ cat.value }}</v-list-item-title>
              </v-col>
              <v-col>
                <v-row justify="center" class="align-center fill-height custom-row">
                  <v-btn icon class="primary custom-button2" depressed rounded color="#ffffff"
                    v-bind:to="{
                      name: 'AjouterMateriau',
                      params: { default: true, categorie: cat.value,
                        statusList: listeAllCategories }
                    }">
                    <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                  </v-btn>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </div>
        <br/>
        <!-- Category visualization :
          For each category, a radio button will allow to choose if the category
          should be listed as usual or if its materials could be added by selecting
          a checkbox. It is mostly used to add flange, brackets or others in addition of
          an other article. -->
        <h3 align="center" style="margin-right: 220px;">
          Visualisation des catégories :
          <!-- Information panel -->
          <v-menu
            v-model="menuListe"
            open-on-hover
            offset-y
            :close-on-content-click="false"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn small v-on="on" v-bind="attrs"
                icon class="primary ml-8 mr-n3" color="#ffffff" depressed rounded>
                <font-awesome-icon :icon="['fas', 'info']"/>
              </v-btn>
            </template>
            <v-card>
              <v-list>
                <v-list-item class="mb-n2">
                  <b>Définition :</b>
                </v-list-item>
                <v-list-item class="mb-2">
                  La visualisation définit la manière dont les matériaux des
                  <br/>catégories vont pouvoir être ajoutés à la commande :
                </v-list-item>
                <v-list-item class="mb-2">
                  <ul>
                    <li>
                      'Liste' signifie qu'il sera possible d'ajouter l'article
                      <br/>en sélectionnant le matériau dans une liste.
                    </li>
                    <li class="mt-2">
                      'Case à cocher' signifie qu'une case à cocher sera disponible
                      <br/>pour ajouter les matériaux en question. Cela peut notamment
                      <br/>être utile pour ajouter une bride ou un support, par exemple
                      <br/>en plus d'un panneau.
                    </li>
                  </ul>
                </v-list-item>
                <v-list-item class="italic mb-3">
                  A noter qu'avec l'option 'Case à cocher', il est donc possible
                  <br/>d'ajouter plusieurs articles en une fois.
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item>
                  <b>Exemple :</b>
                </v-list-item>
                <v-list-item class="mt-n3">
                  <ul>
                    <li>Liste</li>
                  </ul>
                </v-list-item>
                <v-list-item class="mt-n7 ml-9">
                  Le résultat sera :
                  <v-select
                    class="custom-text-field mt-6 ml-3"
                    label="Matériau (*)"
                    :items="['Matériau 1', 'Matériau 2', 'Matériau 3']"
                    outlined
                    rounded
                    dense
                  />
                </v-list-item>
                <v-list-item>
                  <ul>
                    <li>Case à cocher</li>
                  </ul>
                </v-list-item>
                <v-list-item class="mt-n10 ml-9 flex">
                  <span class="mt-n2">Le résultat sera :</span>
                  <div class="ml-10 mt-6 mb-n3">
                    <v-checkbox class="mb-n7" color="primary" label="Matériau 1"/>
                    <v-checkbox color="primary" label="Matériau 2"/>
                  </div>
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </h3>
        <!-- List of categories and so radio buttons -->
        <div class="resultat" align="center">
          <div v-for="cat in listeAllCategories" v-bind:key="cat.dbId" class="custom-bloc"
            style="max-width: 500px; max-height: 50px;">
            <v-col align="left" class="pa-0" style="max-width: 40%">
              <h3 class="mt-8">
                {{ cat.value }} :
              </h3>
            </v-col>
            <v-col cols="auto">
              <v-radio-group v-model="cat.listed" row
                :disabled="categoriePanonceau !== undefined && categoriePanonceau !== ''
                  ? cat.dbId === categoriePanonceau.dbId : false">
                <v-radio label="Liste" :value="true"></v-radio>
                <v-radio label="Case à cocher" :value="false"></v-radio>
              </v-radio-group>
            </v-col>
          </div>
        </div>
        <br/>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
        <br/>
        <!-- Small sign category :
          It allows to choose the category containing the small signs.
          This category will be used in all fields related to small signs -->
        <h3 align="center" style="margin-right: 220px;">
          Catégorie de panonceau :
          <!-- Information panel -->
          <v-menu
            v-model="menuPanonceau"
            open-on-hover
            offset-y
            :close-on-content-click="false"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn small v-on="on" v-bind="attrs"
                icon class="primary ml-8 mr-n3" color="#ffffff" depressed rounded>
                <font-awesome-icon :icon="['fas', 'info']"/>
              </v-btn>
            </template>
            <v-card>
              <v-list>
                <v-list-item class="mb-n2">
                  <b>Définition :</b>
                </v-list-item>
                <v-list-item class="mb-2">
                  La catégorie du panonceau définit la catégorie qui sera affichée lors de l'ajout
                  <br/>d'un panonceau dans la commande.
                </v-list-item>
                <v-list-item class="mt-2 italic">
                  Ce paramètre est verrouillé. Veuillez contacter l'administrateur de l'application
                  <br/>pour tout changement.
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </h3>
        <!-- Field to choose the small signs category -->
        <div class="custom-bloc" align="center">
          <!-- Delete 'disabled' attribute to unlock the possibility to change
            panonceau's category -->
          <v-select
            disabled
            class="custom-text-field mt-4"
            label="Catégorie"
            v-model="categoriePanonceau"
            item-text="value"
            item-value="dbId"
            return-object
            :items="listeAllCategories"
            clearable
            @click:clear="categoriePanonceau = ''"
            outlined
            rounded
            dense
          />
        </div>
        <br/>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
      </v-form>
    </div>
    <br/>
    <div class="center">
      <!-- Button to save the parameters -->
      <div class="custom-button mr-5">
        <v-btn color="primary" depressed rounded :disabled="!validParamMateriaux || isSaving"
        @click="saveParameters">Enregistrer</v-btn>
      </div>
      <!-- Button to exit the form -->
      <div class="custom-button ml-5">
        <v-btn color="primary" rounded outlined
          :disabled="isSaving" v-bind:to="{ name:'Materiaux' }">Quitter</v-btn>
      </div>
    </div>
    <!-- Display a snackbar to inform the user that the parameters have been saved -->
    <v-snackbar
      color="green"
      class="custom-snackbar"
      v-model="snackbar"
      @input="goToMateriaux"
      :timeout="timeout"
    >Vos changements ont été sauvegardés</v-snackbar>
  </div>
</template>

<script>
// Access to functions to find, modify or delete materials elements in the database
import bddMateriaux from '@/services/BddMateriaux';

export default {
  data() {
    return {
      // Form rules to force a field to be required
      requiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
      ],

      snackbar: false, // Boolean to display the snackbar if it is set to true
      timeout: 2500, // Time of the snackbar's duration

      // Boolean to know if the parameters' form is correctly completed
      validParamMateriaux: true,
      // Boolean to know if the form is being saved
      isSaving: false,
      // Boolean to know if the information panel has to be displayed
      menuPhrase: false,
      // Boolean to know if the information panel has to be displayed
      menuDefaut: false,
      // Boolean to know if the information panel has to be displayed
      menuListe: false,
      // Boolean to know if the information panel has to be displayed
      menuPanonceau: false,
      // Small sign category
      categoriePanonceau: '',
      // Old small sign category
      oldCategoriePanonceau: '',
      // menuTelechargement: false,

      // Array to store all the material categories
      listeAllCategories: [],

      // Array to store all the order sentences
      listePhrasesCommande: [],
      // Array to store all the order sentences which will have to be deleted
      phrasesCommandeToDelete: [],
    };
  },
  async mounted() {
    // Get all the order sentences
    await this.getPhrasesCommande();
    // Get all the material categories
    await this.getCategories();
  },
  methods: {
    /**
     * Reset the form validation
     */
    resetFormValidation() {
      if (this.$refs.formParamMateriaux !== undefined) {
        this.$refs.formParamMateriaux.resetValidation();
      }
    },
    /**
     * Function to add an order sentence
     */
    addPhraseCommande() {
      const newId = 'new'.concat(Date.now());
      this.listePhrasesCommande.push({
        id: newId,
        value: '',
      });
    },
    /**
     * Function to remove an order sentence
     */
    removePhraseCommande(index) {
      if (index >= 0) {
        if (!this.listePhrasesCommande[index].id.startsWith('new')) {
          this.phrasesCommandeToDelete.push(this.listePhrasesCommande[index]);
        }
        this.listePhrasesCommande.splice(index, 1);
      }
    },
    /**
     * Function to remove an item in an array
     * @param {The item to remove} item
     * @param {The array in which the item has to be removed} array
     */
    remove(item, array) {
      const index = array.indexOf(item);
      if (index >= 0) {
        array.splice(index, 1);
      }
    },
    /**
     * Create a temporary URL from the Buffer image given
     * @param {The Buffer image} image
     * @return {The temporary URL used to display the image}
     */
    bufferToImage(image) {
      // Transform the content of the buffer into a Blob
      const blob = new Blob([new Uint8Array(image.data)]);
      // Return an url of the blob to display the image
      return URL.createObjectURL(blob);
    },
    /**
     * Asynchronous function to get all the material categories in the database
     */
    async getCategories() {
      // this.listeAll = [];
      this.listeAllCategories = this.$route.params.statusList !== undefined
        ? this.$route.params.statusList : [];
      if (this.listeAllCategories.length <= 0) {
        const response = await bddMateriaux.findCategorie({ token: this.$session.get('token') });
        if (response.data !== undefined && response.data.length > 0) {
          await response.data.forEach(async (cat) => {
            this.listeAllCategories.push({
              value: cat.nom,
              defaultMateriauStatus: cat.defaultMateriauStatus || false,
              // eslint-disable-next-line
              dbId: cat._id,
              listed: cat.listed !== undefined ? cat.listed : true,
            });
            if (cat.panonceau) {
              this.oldCategoriePanonceau = {
                // eslint-disable-next-line
                dbId: cat._id,
                value: cat.nom,
              };
              this.categoriePanonceau = {
                // eslint-disable-next-line
                dbId: cat._id,
                value: cat.nom,
              };
            }
          });
        }
      }
    },
    /**
     * Asynchronous function to get all the order sentences in the database
     */
    async getPhrasesCommande() {
      this.listePhrasesCommande = [];
      const response = await bddMateriaux.findPhraseCommande({ token: this.$session.get('token') });
      if (response.data !== undefined && response.data.length > 0) {
        response.data.forEach((phrase) => {
          this.listePhrasesCommande.push({
            // eslint-disable-next-line
            id: phrase._id,
            value: phrase.nom,
          });
        });
      }
    },
    /**
     * Asynchronous function to save all the parameters in the database
     */
    saveParameters() {
      this.isSaving = true;
      const sessionToken = this.$session.get('token');
      // Delete order sentences
      this.phrasesCommandeToDelete.forEach(async (phrase) => {
        await bddMateriaux.deletePhraseCommande({
          id: phrase.id,
          token: sessionToken,
        });
      });
      // Add or update order sentences
      this.listePhrasesCommande.forEach(async (phrase) => {
        if (phrase.id.toString().startsWith('new')) {
          await bddMateriaux.addPhraseCommande({
            nom: phrase.value.toString().trim(),
            token: sessionToken,
          });
        } else {
          await bddMateriaux.updatePhraseCommande({
            id: phrase.id,
            nom: phrase.value.toString().trim(),
            token: sessionToken,
          });
        }
      });
      // Update categories' attributes (default materiau and visualization)
      this.listeAllCategories.forEach(async (cat) => {
        const response = await bddMateriaux.getCategorie({
          id: cat.dbId,
          token: this.$session.get('token'),
        });
        await bddMateriaux.updateCategorie({
          id: cat.dbId,
          phraseCommande: response.data.phraseCommande,
          defaultMateriauStatus: cat.defaultMateriauStatus,
          listed: cat.listed,
          token: sessionToken,
        });
      });

      /* Delete comments to unlock update of panonceau's category
       */
      // const responseOld = await bddMateriaux.getCategorie({
      //   id: this.oldCategoriePanonceau.dbId,
      //   token: this.$session.get('token'),
      // });
      // if (this.categoriePanonceau !== undefined && this.categoriePanonceau !== '') {
      //   if (this.oldCategoriePanonceau !== undefined && this.oldCategoriePanonceau !== ''
      //     && this.categoriePanonceau.dbId !== this.oldCategoriePanonceau.dbId) {
      //     await bddMateriaux.updateCategorie({
      //       id: this.oldCategoriePanonceau.dbId,
      //       phraseCommande: responseOld.data.phraseCommande,
      //       panonceau: false,
      //       token: sessionToken,
      //     });
      //   }
      //   const response = await bddMateriaux.getCategorie({
      //     id: this.categoriePanonceau.dbId,
      //     token: this.$session.get('token'),
      //   });
      //   await bddMateriaux.updateCategorie({
      //     id: this.categoriePanonceau.dbId,
      //     phraseCommande: response.data.phraseCommande,
      //     panonceau: true,
      //     token: sessionToken,
      //   });
      // } else if (this.oldCategoriePanonceau !== undefined && this.oldCategoriePanonceau !== '') {
      //   await bddMateriaux.updateCategorie({
      //     id: this.oldCategoriePanonceau.dbId,
      //     phraseCommande: responseOld.data.phraseCommande,
      //     panonceau: false,
      //     token: sessionToken,
      //   });
      // }

      // Display the snackbar
      this.snackbar = true;
    },
    /**
     * Redirect the user to the previous page
     */
    goToMateriaux() {
      if (this.snackbar === false) {
        this.isSaving = false;
        this.$router.push({ name: 'Materiaux' });
      }
    },
  },
};
</script>
