<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to search or add a street's name proposition -->
<template>
    <div class="propostiton">
        <!-- Button to change the page to see -->
        <div v-if="haveRight" align="center">
          <div class="custom-select" align="center">
            <select
              v-model="type" style="min-width: 95px;" @blur="setIconDown"
              @mouseup="mouseup" id="selectButton"
            >
              <option v-for="option in options" v-bind:key="option.id">{{ option.value }}</option>
            </select>
            <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
          </div>
        </div>
        <br/>
        <!-- Search a proposition -->
        <div v-if="this.type === 'Rechercher'" align="center">
          <div class="center">
            <label class="custom-label" for="nom">Nom de la rue : </label>
            <!-- Allow to select the desired element to search for,
              thanks to autocompletion -->
            <div class="custom-form">
              <v-autocomplete
                class="custom-input"
                :items="listeRue"
                hide-details
                :search-input.sync="searchRue"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                dense
              />
              <!-- Search icon -->
              <v-btn icon variant="outline" class="custom-button" @click="recherche">
                <font-awesome-icon :icon="['fas', 'search']"/>
              </v-btn>
            </div>
          </div>
          <!-- Results' block -->
          <div v-if="result" class="resultat" align="center">
            <div v-if="r.length > 0">
              <br/>
              <label>La rue "{{ this.r[0].nom }}" dispose des propositions suivantes :</label>
              <br/>
              <br/>
              <!-- Display a card for each owner with propositions returned
                in the research's result -->
              <v-card
                v-for="post in r" v-bind:key="post._id"
                max-width="600"
                outlined
                id="custom-card"
              >
                <v-row class="pl-4">
                  <v-col cols="auto" align="left" class="mt-4">
                    <v-list-item-title>
                      1 : {{ post.proposition1 }}
                      <br/>
                      <div v-if="post.proposition2 !== ''">
                        2 : {{ post.proposition2 }}
                      </div>
                    </v-list-item-title>
                    <v-list-item-subtitle v-if="post.proprietaire.civilite !== 'Entreprise'"
                      class="card-subtitle">
                      Propriétaire : {{ post.proprietaire.prenom }} {{ post.proprietaire.nom }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle v-else class="card-subtitle">
                      Propriétaire : {{ post.proprietaire.nomEntreprise }}
                    </v-list-item-subtitle>
                  </v-col>
                  <v-col v-if="haveRight">
                    <v-row justify="center" class="align-center fill-height custom-row">
                      <!-- Buttons to choose the first or the second proposition to change
                        the street name concerned -->
                      <v-col class="mr-n7">
                        <v-btn class="primary custom-button3" depressed rounded
                          v-bind:to="{ name: 'ChoixProposition', params:
                            { id: post._id, num: '1' } }" >Choisir le nom 1</v-btn>
                        <div v-if="post.proposition2 !== ''">
                          <v-btn class="primary custom-button2" depressed rounded
                            v-bind:to="{ name: 'ChoixProposition', params:
                            { id: post._id, num: '2' } }" >Choisir le nom 2</v-btn>
                        </div>
                      </v-col>
                      <!-- Buttons to modify or delete the propositions concerned -->
                      <v-col>
                        <v-btn icon class="primary custom-button2" depressed rounded color="#ffffff"
                          v-bind:to="{ name: 'modifierProposition', params: { id: post._id } }">
                          <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                        </v-btn>
                        <v-btn icon class="primary" color="#ffffff" depressed rounded
                          v-bind:to="{ name: 'supprimerProposition', params: { id: post._id } }">
                          <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </div>
            <!-- Display a message if there is no data -->
            <div v-else>
              <br/>
              Il n'y a pas de proposition pour cette rue. <br /><br />
            </div>
          </div>
        </div>
        <!-- Add a proposition -->
        <div v-else-if="this.type === 'Ajouter'" align="center">
          <!-- Form -->
          <v-form ref="formProposition" v-model="validProposition">
            <!-- Street's name -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field"
                label="Nom de la rue (*)"
                :items="listeRue"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="search"
                :rules="requiredRules"
                outlined
                rounded
                dense
                required
              />
            </div>
            <!-- Owner -->
            <div class="custom-bloc">
              <v-autocomplete
                v-model="modelPro"
                class="custom-text-field"
                label="Propriétaire (*)"
                :items="itemsPro"
                item-text="value"
                item-value="id"
                :hide-no-data="awaitingSearchPro"
                :filter="(item) => this.itemsPro.some(res => res.id === item.id)"
                cache-items
                no-data-text="Le propriétaire indiqué n'existe pas, veuillez d'abord le créer."
                return-object
                :search-input.sync="searchPro"
                :rules="requiredRules"
                dense
                rounded
                outlined
                required
              >
                <template v-slot:item="{ parent, item, on, attrs }">
                  <v-list-item v-on="on" v-bind="attrs">
                    <v-list-item-title>
                      {{ item.value }}
                    </v-list-item-title>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </div>
            <!-- First proposition -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field"  type="text" label="Propostiton de nom 1 (*)"
              :value="proposition1 = proposition1.toString().replace(/ +(?= )/g,'')"
              id="proposition1" v-model="proposition1" :rules="nameRequiredRules"
              outlined rounded dense required/>
            </div>
            <!-- Second proposition -->
            <div class="custom-bloc">
              <v-text-field class="custom-text-field"  type="text" label="Propostiton de nom 2"
              :value="proposition2 = proposition2.toString().replace(/ +(?= )/g,'')"
              :rules="notSameNameRules" id="proposition2" v-model="proposition2"
              outlined rounded dense/>
            </div>
            <div style="margin-top: 50px;" align="center">
              <label class="font-lighter">Les champs (*) sont requis.</label>
            </div>
            <br/>
            <div class="center">
              <!-- Button to save the propositions -->
              <div class="custom-button mr-5">
                  <v-btn color="primary" depressed rounded :disabled="!validProposition"
                  @click="ajout">Valider</v-btn>
              </div>
              <!-- Button to exit the form -->
              <div class="custom-button ml-5">
                <v-btn color="primary" rounded outlined to="/">Quitter</v-btn>
              </div>
            </div>
          </v-form>
        </div>
    </div>
</template>

<script>
// Access to functions to use the users related database
import bdd from '@/services/Bdd';
// Access to functions to use the users related database
import bddUser from '@/services/BddUser';

export default {
  name: 'Proposition', // Component's name
  data() {
    return {
      iconSelect: 'angle-down', // String to set the icon's arrow's direction
      focus: false, // Boolean to know if the button is on focus

      // Form rules to force a field to be required
      requiredRules: [
        v => !!v || 'Ce champ est requis',
      ],
      // Form rules to force a field to be required and not to be the same proposition
      // as the first one
      notSameNameRules: [
        // eslint-disable-next-line
        v => (/^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || v === '') || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
        v => (v.toString().trim() !== this.proposition1.toString().trim() || v.toString().trim() === '') || 'Les 2 propositions ne doivent pas être identiques',
      ],
      // Form rules to force a field to have a street name shape and to be required
      nameRequiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
        // eslint-disable-next-line
        v => /^([0-9a-zàâäçéèêëîïôöùûüÿæœA-ZÀÂÄÇÉÈÊËÎÏÔÖÙÛÜŸÆŒ\'\-]+ ?)+$/.test(v.toString().trim()) || 'Seuls les lettres, les chiffres, les espaces et les tirets sont autorisés',
        // eslint-disable-next-line
        v => !(/^.*[\'\-]+$/.test(v.toString().trim())) || 'Le nom ne doit pas se terminer par un tiret ou un apostrophe',
      ],

      // Boolean to know if the form is correctly completed
      validProposition: false,
      // Street's name
      nomRue: '',
      // First proposition
      proposition1: '',
      // Second proposition
      proposition2: '',

      // String of the research's street name
      searchRue: '',
      // String of the street's name search input in the add form
      search: '',
      // String of the owner's name search input in the add form
      searchPro: '',
      awaitingSearchPro: false,
      // Array to store the research's result
      r: [],
      // Array to display the temporary street's name which match with the actual search input
      listeRue: [],
      // Array to display the temporary owner's name which match with the actual search input
      itemsPro: [],
      modelPro: '', // The owner object related to the actual search input
      // Type of the page to display
      type: 'Rechercher',
      // Boolean to know if the research's block has to be displayed
      result: false,
      // List of the possible pages to display
      options: [
        {
          id: 1,
          value: 'Rechercher',
        },
        {
          id: 2,
          value: 'Ajouter',
        },
      ],
      // Boolean to know if the actual user has a high permission level
      haveRight: true,
    };
  },
  async mounted() {
    // Determine the actual user's role
    const roleUtil = await bddUser.findRole({ nomRole: this.$session.get('role'), token: this.$session.get('token') });
    // Get the list of permissions according to the role
    const droits = roleUtil.data[0].listePermission;
    // Determine if the actual user can access to the database management
    const verif = await droits.filter(element => element.nomPermission === 'gestion des rues/par/pro');
    // Set the haveRight boolean to false if the right desired is empty
    if (verif.length === 0) {
      this.haveRight = false;
    }
  },
  watch: {
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    search(val) {
      this.texteRue(val);
    },
    /**
     * Search in real time owner names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPro(val) {
      this.textePro(val);
    },
  },
  methods: {
    /**
     * Set icon up
     */
    setIconUp() {
      this.iconSelect = 'angle-up';
      this.focus = true;
    },
    /**
     * Set icon down
     */
    setIconDown() {
      this.focus = false;
      this.iconSelect = 'angle-down';
    },
    /**
     * Change icon according to user interaction
     */
    mouseup() {
      if (this.focus) {
        document.getElementById('selectButton').blur();
        this.setIconDown();
      } else {
        document.getElementById('selectButton').focus();
        this.setIconUp();
      }
    },
    /**
     * Asynchronous function to search propositions according to a street
     */
    async recherche() {
      // Search propositions
      const response = await bdd.findProposition({ nom: this.searchRue, token: this.$session.get('token') });
      // Get all propositions
      this.r = response.data;
      this.nomRue = response.data.nom;
      this.result = true;
    },
    /**
     * Asynchronous function to add a proposition
     */
    async ajout() {
      // Add a proposition
      await bdd.addProposition({
        nom: this.search.toString().trim(),
        proposition1: this.proposition1.toString().trim(),
        proposition2: this.proposition2.toString().trim(),
        proprietaire: this.modelPro.id,
        token: this.$session.get('token'),
      });
      this.$router.push('/');
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (val === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding streets
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        // Reset the array
        this.listeRue = [];
      }
    },
    /**
     * Search owner names, similar to the one given in parameter
     */
    async textePro(val) {
      let v = val;
      if (val === null || val === undefined) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        this.itemsPro = []; // Reset the array
        // Search in the database the corresponding owners
        const response = await bdd.findPro({ words: val.toString().trim().split(' '), token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding owner name to the array
        res.forEach((element) => {
          if (element.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: `${element.nom} ${element.prenom}` });
          } else {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: element.nomEntreprise });
          }
        });
      } else {
        // Reset the array
        this.itemsPro = [];
      }
    },
  },
};
</script>
