<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!--
  Component used to research :
    - Rue : a street
    - Propriétaire : an owner
    - Lieu-dit : a small geographical area (literally said-location)
    - Parcelle : a land lot
  by entering the desired element in the search bar.

  Elements are displayed through a list and a map.
-->
<template>
    <div app>
        <!-- Search bar -->
        <div class="flex">
            <!-- Rue (street) -->
            <div v-if="this.type === 'Rue'" class="center">
                <label class="custom-label" for="nom">Nom de la rue : </label>
                <div class="custom-form">
                  <!-- Allow to select the desired element to search for,
                    thanks to autocompletion -->
                  <v-combobox
                    class="custom-input"
                    :items="listeRue"
                    :hide-no-data="!searchRue"
                    :search-input.sync="searchRue"
                    dense
                  >
                    <!-- Display a message when the text entered returns no data -->
                    <template v-slot:no-data>
                      <v-list-item>
                        La rue indiquée n'existe pas, veuillez d'abord la créer.
                      </v-list-item>
                    </template>
                  </v-combobox>
                  <!-- Search icon -->
                  <v-btn icon variant="outline" class="custom-button" @click="recherche">
                    <font-awesome-icon :icon="['fas', 'search']"/>
                  </v-btn>
                </div>
                <!-- Button to change the element's category to search for -->
                <div class="custom-select" align="center">
                  <select
                    v-model="type" style="min-width: 95px;" @blur="setIconDown"
                    @mouseup="mouseup" id="selectButton"
                  >
                    <option v-for="option in options" v-bind:key="option.id">
                      {{ option.value }}
                    </option>
                  </select>
                  <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
                </div>
                <br/>
            </div>
            <!-- Propriétaire (owner) -->
            <div v-else-if="this.type === 'Propriétaire'" class="center">
                <label class="custom-label" for="nom">Nom du propriétaire : </label>
                <div class="custom-form">
                  <!-- Allow to select the desired element to search for,
                    thanks to autocompletion -->
                  <v-autocomplete
                    v-model="modelPro"
                    class="custom-input"
                    :items="itemsPro"
                    item-text="value"
                    item-value="id"
                    :hide-no-data="awaitingSearchPro"
                    :filter="(item) => this.itemsPro.some(res => res.id === item.id)"
                    :loading="awaitingSearchPro"
                    cache-items
                    no-data-text="Le propriétaire indiqué n'existe pas, veuillez d'abord le créer."
                    return-object
                    :search-input.sync="searchPro"
                    dense
                  >
                    <template v-slot:item="{ parent, item, on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs">
                        <v-list-item-title>
                          {{ item.value }}
                        </v-list-item-title>
                      </v-list-item>
                    </template>
                  </v-autocomplete>
                  <!-- Search icon -->
                  <v-btn icon variant="outline" class="custom-button" @click="recherche">
                      <font-awesome-icon :icon="['fas', 'search']"/>
                  </v-btn>
                </div>
                <!-- Button to change the element's category to search for -->
                <div class="custom-select" align="center">
                  <select
                    v-model="type" style="min-width: 95px;" @blur="setIconDown"
                    @mouseup="mouseup" id="selectButton"
                  >
                    <option v-for="option in options" v-bind:key="option.id">
                      {{ option.value }}
                    </option>
                  </select>
                  <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
                </div>
                <br/>
            </div>
            <!-- Said location -->
            <div v-else-if="this.type === 'Lieu-dit'" class="center">
                <label class="custom-label" for="nom">Nom du lieu-dit : </label>
                <div class="custom-form">
                  <!-- Allow to select the desired element to search for,
                    thanks to autocompletion -->
                  <v-combobox
                    class="custom-input"
                    :items="listeLieu"
                    :hide-no-data="!searchLieu"
                    :search-input.sync="searchLieu"
                    dense
                  >
                    <!-- Display a message when the text entered returns no data -->
                    <template v-slot:no-data>
                      <v-list-item>
                        Le lieu-dit indiqué n'existe pas.
                      </v-list-item>
                    </template>
                  </v-combobox>
                  <!-- Search icon -->
                  <v-btn icon variant="outline" class="custom-button" @click="recherche">
                    <font-awesome-icon :icon="['fas', 'search']"/>
                  </v-btn>
                </div>
                <!-- Button to change the element's category to search for -->
                <div class="custom-select" align="center">
                  <select
                    v-model="type" style="min-width: 95px;" @blur="setIconDown"
                    @mouseup="mouseup" id="selectButton"
                  >
                    <option v-for="option in options" v-bind:key="option.id">
                      {{ option.value }}
                    </option>
                  </select>
                  <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
                </div>
                <br/>
            </div>
            <!-- Parcelle (land lot) -->
            <div v-else-if="this.type === 'Parcelle'" class="center">
              <label class="custom-label" for="nom">Numéro de la parcelle : </label>
              <div class="custom-form">
                <!-- Allow to select the desired element to search for,
                  thanks to autocompletion -->
                <v-combobox
                  class="custom-input"
                  :hide-no-data="!searchPar"
                  :items="listePar"
                  :search-input.sync="searchPar"
                  dense
                >
                  <!-- Display a message when the text entered returns no data -->
                  <template v-slot:no-data>
                    <v-list-item>
                      La parcelle indiquée n'existe pas, veuillez d'abord la créer.
                    </v-list-item>
                  </template>
                </v-combobox>
                <!-- Search icon -->
                <v-btn icon variant="outline" class="custom-button" @click="recherche">
                  <font-awesome-icon :icon="['fas', 'search']"/>
                </v-btn>
              </div>
              <!-- Button to change the element's category to search for -->
              <div class="custom-select" align="center">
                <select
                    v-model="type" style="min-width: 95px;" @blur="setIconDown"
                    @mouseup="mouseup" id="selectButton"
                  >
                  <option v-for="option in options" v-bind:key="option.id">
                    {{ option.value }}
                  </option>
                </select>
                <font-awesome-icon v-bind:icon="['fas', iconSelect]"/>
              </div>
              <br/>
            </div>
        </div>
        <br/>
        <!-- Results' block -->
        <div class="flex">
          <div class="rechercher-bloc">
            <!-- Rue (street) -->
            <div v-if="resultRue" class="resultat" align="center">
                <div v-if="rues.length > 0">
                  <!-- Display a card for each street returned in the research's result -->
                  <v-card
                    v-for="post in tempRues" v-bind:key="post.rue"
                    max-width="600"
                    outlined
                    id="custom-card"
                  >
                    <v-row style="padding-left: 15px;">
                      <v-col cols="auto" align="left">
                        <v-list-item-title>{{ post.nom }}</v-list-item-title>
                        <v-list-item-subtitle class="card-subtitle"
                         v-if="post.latitudeD !== null && post.longitudeD !== null
                         && post.latitudeD !== undefined && post.longitudeD !== undefined">
                          Coordonnées du point de départ de la rue :
                          <br/>
                          <div class="pl-4">
                            Latitude : {{ post.latitudeD.toFixed(6) }}°
                          </div>
                          <div class="pl-4">
                            Longitude : {{ post.longitudeD.toFixed(6) }}°
                          </div>
                        </v-list-item-subtitle>
                        <v-list-item-subtitle class="card-subtitle"
                         v-if="post.latitudeF !== null && post.longitudeF !== null
                         && post.latitudeF !== undefined && post.longitudeF !== undefined">
                          Coordonnées du point de fin de la rue :
                          <br/>
                          <div class="pl-4">
                            Latitude : {{ post.latitudeF.toFixed(6) }}°
                          </div>
                          <div class="pl-4">
                            Longitude : {{ post.longitudeF.toFixed(6) }}°
                          </div>
                        </v-list-item-subtitle>
                      </v-col>
                      <!-- Display modification and deletion buttons only for users
                        with a high permission level -->
                      <v-col v-if="haveRight">
                        <v-col style="vertical-align: middle;">
                          <v-row justify="center" class="align-center fill-height custom-row">
                            <v-btn icon class="primary custom-button2" depressed rounded
                              color="#ffffff"
                              v-bind:to="{ name: 'Modifier', params: { id: post._id } }">
                              <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                            </v-btn>
                            <v-btn icon class="primary custom-button2" color="#ffffff" depressed
                              rounded v-bind:to="{ name: 'Supprimer', params: { id: post._id } }">
                              <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                            </v-btn>
                          </v-row>
                          <v-row justify="center" class="align-center fill-height custom-row">
                            <div style="marginTop: 25px;">
                              <div class="custom-button2">Propriétaires</div>
                              <v-btn icon class="primary custom-button2" depressed
                                rounded color="#ffffff"
                                @click="downloadList(post.nom)">
                                <font-awesome-icon :icon="['fas', 'print']"/>
                              </v-btn>
                            </div>
                            <div style="marginTop: 25px;">
                              <div class="custom-button2">IGN</div>
                              <v-btn icon class="primary custom-button2" depressed
                                rounded color="#ffffff"
                                @click="downloadIGN(post.nom)">
                                <font-awesome-icon :icon="['fas', 'print']"/>
                              </v-btn>
                            </div>
                          </v-row>
                        </v-col>
                      </v-col>
                    </v-row>
                  </v-card>
                  <br/>
                  <!-- Pagination buttons -->
                  <v-pagination
                    v-model="page"
                    circle
                    :total-visible="totalVisible"
                    :length="visiblePages"/>
                </div>
                <!-- Display a message when the result contains no data and allow users
                  with a high permission level to add a new element -->
                <div v-else-if="this.type === 'Rue'">
                    <br/>Il n'y a pas de rue avec ce nom. <br /><br />
                    <div v-if="haveRight" class="center">
                      <div class="custom-button">
                        <v-btn color="primary" depressed rounded
                          v-bind:to="{ name: 'Ajouter', params:{ type: 'Rue' } }"
                        >
                          Ajouter une nouvelle rue
                        </v-btn>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Propriétaire (owner) -->
            <div v-if="resultPro" class="resultat" align="center">
                <div v-if="!pbPro">
                  <!-- Display a card for the owner returned in the research's result -->
                  <v-card
                    max-width="600"
                    outlined
                    id="custom-card"
                    class="mb-5"
                  >
                    <v-row class="pl-4">
                      <v-col cols="auto" align="left">
                        <v-list-item-title v-if="this.p.civilite !== 'Entreprise'">
                          {{ this.p.prenom }} {{this.p.nom }}
                          <label class="font-lighter">({{ this.p.civilite }})</label>
                        </v-list-item-title>
                        <v-list-item-title v-else>
                          {{ this.p.nomEntreprise }}
                          <label class="font-lighter">({{ this.p.civilite }})</label>
                        </v-list-item-title>
                        <v-list-item-subtitle class="card-subtitle">
                          {{ this.p.rue }} | {{ this.p.codePostal }} {{ this.p.ville }} |
                          {{ this.p.pays }}
                        </v-list-item-subtitle>
                      </v-col>
                      <!-- Display a modification button only for users
                        with a high permission level -->
                      <v-col v-if="haveRight">
                        <v-row justify="center" class="align-center fill-height custom-row">
                            <v-btn icon class="primary custom-button2" depressed rounded
                              color="#ffffff"
                              v-bind:to="{ name: 'ModifierProprietaire', params: { id: p._id } }">
                              <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                            </v-btn>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-card>
                  <div v-if="rues.length > 0">
                    <!-- Display a card for each land lot owned by the owner returned
                      in the research's result -->
                    <v-card
                      v-for="post in tempRues" v-bind:key="post.numero"
                      max-width="600"
                      outlined
                      id="custom-card"
                    >
                      <v-row class="pl-4">
                        <v-col cols="auto" align="left">
                          <v-list-item-title>Parcelle {{ post.numero }}</v-list-item-title>
                          <v-list-item-subtitle class="card-subtitle">
                            <div
                              v-for="(num, i) in post.numAssocies"
                              v-bind:key="i"
                            >
                              {{ num.numeroRue }} {{ num.bisTer }} {{ post.rue.nom }}
                              {{ num.complement }}
                            </div>
                            Latitude : {{ post.latitude }}° Longitude : {{ post.longitude }}°
                          </v-list-item-subtitle>
                        </v-col>
                        <!-- Display modification and deletion buttons only for users
                          with a high permission level -->
                        <v-col v-if="haveRight">
                          <v-row justify="center" class="align-center fill-height custom-row">
                            <v-btn icon class="primary custom-button2" depressed rounded
                              color="#ffffff"
                              v-bind:to="{ name: 'ModifierParcelle', params: { id: post._id } }">
                              <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                            </v-btn>
                            <v-btn icon class="primary" color="#ffffff" depressed rounded
                              v-bind:to="{ name: 'SupprimerParcelle', params: { id: post._id } }">
                              <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                            </v-btn>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-card>
                    <br/>
                    <!-- Pagination buttons -->
                    <v-pagination
                      v-model="page"
                      circle
                      :total-visible="totalVisible"
                      :length="visiblePages"/>
                  </div>
                  <div v-else>
                    <br/>Le propriétaire n'a pas de parcelle.<br /><br />
                    <!-- Display a message when the result contains no data and allow users
                      with a high permission level to add a new element -->
                    <div v-if="haveRight" class="center">
                      <div class="custom-button">
                        <v-btn color="primary" depressed rounded
                          v-bind:to="{ name: 'Ajouter',
                            params:{ type: 'Parcelle', idPro: this.p._id } }"
                        >
                          Ajouter une nouvelle parcelle
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="pbPro || p.length < 1">
                    <br/>Il n'y a pas de propriétaire avec ce nom.<br /><br />
                    <!-- Display a message when the result contains no data and allow users
                      with a high permission level to add a new element -->
                    <div v-if="haveRight" class="center">
                      <div class="custom-button">
                        <v-btn color="primary" depressed rounded
                          v-bind:to="{ name: 'Ajouter', params: { type: 'Propriétaire' } }">
                          Ajouter un nouveau propriétaire
                        </v-btn>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Said location -->
            <div v-if="resultLieu" class="resultat" align="center">
              <div v-if="rues.length > 0" class="table-wrap">
                <label>Le lieu-dit contient les rues suivantes :</label>
                <!-- Display a card for each said location returned in the research's result -->
                <v-card
                  v-for="post in tempRues" v-bind:key="post.nom"
                  max-width="600"
                  outlined
                  id="custom-card"
                >
                  <v-row class="pl-4">
                    <v-col cols="auto" align="left">
                      <v-list-item-title>{{ post.nom }}</v-list-item-title>
                      <v-list-item-subtitle class="card-subtitle">
                        Coordonnées du point de départ de la rue :
                        <br/>
                        <div class="pl-4">
                          Latitude : {{ post.latitudeD }}° Longitude : {{ post.longitudeD }}°
                        </div>
                      </v-list-item-subtitle>
                    </v-col>
                  </v-row>
                </v-card>
                <br/>
                <!-- Pagination buttons -->
                <v-pagination
                  v-model="page"
                  circle
                  :total-visible="totalVisible"
                  :length="visiblePages"/>
              </div>
              <!-- Display a message when the result contains no data -->
              <div v-else>
                <br/>Il n'y a pas de lieu-dit avec ce nom. <br/><br/>
              </div>
            </div>
            <!-- Parcelle (land lot) -->
            <div v-if="resultPar" class="resultat" align="center">
              <div v-if="rues.length > 0" class="table-wrap">
                <!-- Display a card for each land lot returned in the research's result -->
                <v-card
                  v-for="post in tempRues" v-bind:key="post.numero"
                  max-width="600"
                  outlined
                  id="custom-card"
                >
                  <v-row class="pl-4">
                    <v-col cols="auto" align="left">
                      <v-list-item-title>Parcelle {{ post.numero }}</v-list-item-title>
                      <v-list-item-subtitle v-if="post.proprietaire.civilite !== 'Entreprise'"
                        class="card-subtitle">
                        Propriétaire : {{ post.proprietaire.prenom }} {{ post.proprietaire.nom }}
                        <div
                          v-for="(num, i) in post.numAssocies"
                          v-bind:key="i"
                        >
                          {{ num.numeroRue }} {{ num.bisTer }} {{ post.rue.nom }}
                          {{ num.complement }}
                        </div>
                        Latitude : {{ post.latitude }}° Longitude : {{ post.longitude }}°
                      </v-list-item-subtitle>
                      <v-list-item-subtitle v-else class="card-subtitle">
                        Propriétaire : {{ post.proprietaire.nomEntreprise }}
                        <div
                          v-for="(num, i) in post.numAssocies"
                          v-bind:key="i"
                        >
                          {{ num.numeroRue }} {{ num.bisTer }} {{ post.rue.nom }}
                          {{ num.complement }}
                        </div>
                        Latitude : {{ post.latitude }}° Longitude : {{ post.longitude }}°
                      </v-list-item-subtitle>
                    </v-col>
                    <!-- Display modification and deletion buttons only for users
                      with a high permission level -->
                    <v-col v-if="haveRight">
                      <v-row justify="center" class="align-center fill-height custom-row">
                        <v-btn icon class="primary custom-button2" depressed rounded
                          color="#ffffff"
                          v-bind:to="{ name: 'ModifierParcelle', params: { id: post._id } }">
                          <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                        </v-btn>
                        <v-btn icon class="primary" color="#ffffff" depressed rounded
                          v-bind:to="{ name: 'SupprimerParcelle', params: { id: post._id } }">
                          <font-awesome-icon :icon="['fas', 'trash-alt']"/>
                        </v-btn>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
                <br/>
                <!-- Pagination buttons -->
                <v-pagination
                  v-model="page"
                  circle
                  :total-visible="totalVisible"
                  :length="visiblePages"/>
              </div>
              <!-- Display a message when the result contains no data -->
              <div v-else>
                <br/>Il n'y a pas de parcelle avec ce nom. <br/><br/>
                <div v-if="haveRight" class="center">
                  <div class="custom-button">
                    <v-btn color="primary" depressed rounded
                      v-bind:to="{ name: 'Ajouter', params:{ type: 'Parcelle' } }"
                    >
                      Ajouter une nouvelle parcelle
                    </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <v-divider class="custom-divider" inset vertical></v-divider>
          <!-- Map to visually see the researchs' results -->
          <div class="map-bloc" align="center">
            <!-- Map component (see map.vue) -->
            <Map :listeCoord="this.listeCoord" :nbRues="this.nbRues" :typeMap="this.type"
              :nomRue="this.nomRue" @updateMap="updateMap"/>
          </div>
        </div>
        <v-snackbar
          color="primary"
          class="custom-snackbar"
          v-model="snackbar"
          :timeout="timeout"
        >Le listing demandé va être édité...</v-snackbar>
        <v-snackbar
          color="red"
          class="custom-snackbar"
          v-model="snackbarErrorPar"
          :timeout="timeout"
        >Le listing demandé ne contient aucune parcelle</v-snackbar>
      </div>
</template>

<script>
/* eslint no-underscore-dangle: 0 */
// Import the library to download pdf
import pdfMake from 'pdfmake/build/pdfmake';
import pdfFonts from 'pdfmake/build/vfs_fonts';
// Access to functions to find, modify or delete database elements
import bdd from '@/services/Bdd';
// Access to functions to use the users related database
import bddUser from '@/services/BddUser';
// Import the Map component
import Map from '@/components/map.vue';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  data() {
    return {
      // Configuration object
      config: configGlobal,
      iconSelect: 'angle-down', // String to set the icon's arrow's direction

      snackbar: false, // Boolean to know if snackar is displayed or not
      snackbarErrorPar: false, // Boolean to know if error snackar is displayed or not
      timeout: 3000, // Time of displaying snackbar

      r: [], // Array to store research's results
      rues: [], // Array to store research's results
      // Array to store only the research's results
      // visible in the actual page (see pagination)
      tempRues: [],
      nomRue: null, // Street shown
      p: [], // Array to store owner's research's results
      searchRue: null, // String of the street's search input
      searchPro: null, // String of the owner's search input
      awaitingSearchPro: false,
      searchLieu: null, // String of the said location's search input
      searchPar: null, // String of the land lot's search input
      // Boolean to know if the street's research's result
      // block has to be displayed
      resultRue: false,
      // Boolean to know if the owner's research's result
      // block has to be displayed
      resultPro: false,
      // Boolean to know if the said location's research's result
      // block has to be displayed
      resultLieu: false,
      // Boolean to know if the land lot's research's result
      // block has to be displayed
      resultPar: false,
      // Boolean to know if there is a problem in the owner's research's result
      pbPro: false,

      page: 1, // The actual page number (see pagination)
      // The number of elements per page. Depends on the window's height
      perPage: this.perPageOnStart(),
      totalVisible: 7,

      nom: '', // Name of the street or owner
      type: 'Rue', // Research's category
      // Array of the research's categories
      options: [
        {
          id: 1,
          value: 'Rue',
        },
        {
          id: 2,
          value: 'Propriétaire',
        },
        {
          id: 3,
          value: 'Lieu-dit',
        },
        {
          id: 4,
          value: 'Parcelle',
        },
      ],
      nbRues: 0, // Number of street to display on the map and list

      // Array to display the temporary owner's name
      // which match with the actual search input
      itemsPro: [],
      modelPro: '', // The owner's object related to the actual search input
      // Array to display the temporary street's name
      // which match with the actual search input
      listeRue: [],
      // Array to display the temporary said location's name
      // which match with the actual search input
      listeLieu: [],
      listeCoord: [], // Array to store coordinates
      // Array to display the temporary land lot's name
      // which match with the actual search input
      listePar: [],

      // Boolean to know if the actual user has a high permission level
      haveRight: true,
    };
  },
  components: {
    Map, // The Map component
  },
  /**
   * Asynchronous code executed during the component's rendering
   */
  async mounted() {
    // Determine the actual user's role
    const roleUtil = await bddUser.findRole({ nomRole: this.$session.get('role'), token: this.$session.get('token') });
    // Get the list of permissions according to the role
    const droits = roleUtil.data[0].listePermission;
    // Determine if the actual user can access to the database management
    const verif = await droits.filter(element => element.nomPermission === 'gestion des rues/par/pro');
    // Set the haveRight boolean to false if the right desired is empty
    if (verif.length === 0) {
      this.haveRight = false;
    }
  },
  computed: {
    /**
     * Modify the content of the actual pages visible by the user and return
     * the length of the pagination.
     * @returns {The length of the pagination}
     */
    visiblePages() {
      // Put into tempRues array only the pages visible by the user, according to
      // the actual page and the number of elements per page.
      // eslint-disable-next-line
      this.tempRues = this.rues.slice((this.page - 1) * this.perPage, this.page * this.perPage);
      return Math.ceil(this.rues.length / this.perPage);
    },
  },
  watch: {
    /**
     * Search in real time owner names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPro(val) {
      this.textePro(val);
    },
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
    /**
     * Search in real time said location names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchLieu(val) {
      this.texteLieu(val);
    },
    /**
     * Search in real time land lot numbers, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPar(val) {
      this.textePar(val);
    },
  },
  methods: {
    /**
     * Determine the number of elements per page to display,
     * depending on the window's height.
     * @returns {The number of elements per page to display}
     */
    perPageOnStart() {
      if (window.innerHeight >= 850) {
        return 4;
      }
      return 3;
    },
    /**
     * Set icon up
     */
    setIconUp() {
      this.iconSelect = 'angle-up';
      this.focus = true;
    },
    /**
     * Set icon down
     */
    setIconDown() {
      this.focus = false;
      this.iconSelect = 'angle-down';
    },
    /**
     * Change icon according to user interaction
     */
    mouseup() {
      if (this.focus) {
        document.getElementById('selectButton').blur();
        this.setIconDown();
      } else {
        document.getElementById('selectButton').focus();
        this.setIconUp();
      }
    },
    /**
     * Asynchronous function to research the desired elements
     * ("Rue", "Propriétaire", "Lieu-dit" and "Parcelle")
     */
    async recherche() {
      // Reset to empty the arrays needed
      this.r = [];
      this.rues = [];
      this.p = [];
      this.listeCoord = [];
      this.tempRues = [];
      if (this.type === 'Rue') { // Rue (street) block
        // Search in the database the corresponding roads
        const response = await bdd.findRue({ nom: this.searchRue, token: this.$session.get('token') });
        this.nbRues = response.data.length; // Count the number of results
        this.r = response.data;
        this.rues = this.r;
        // For each street, add its coordinates to the coordinates array to display them on the map
        this.r.forEach((element) => {
          const tab = [element.latitudeD, element.longitudeD, element.nom,
            element.latitudeF, element.longitudeF, element.coordInt];
          this.listeCoord.push(tab);
          if (this.r.length === 1) {
            this.nomRue = element.nom;
          } else {
            this.nomRue = null;
          }
        });
        // Set the actual result state
        this.resultRue = true;
        this.resultPro = false;
        this.resultLieu = false;
        this.resultPar = false;
      } else if (this.type === 'Propriétaire') { // Propriétaire (owner) block
        if (this.modelPro !== '') {
          // Search in the database the corresponding owner
          const pro = await bdd.findPro({ id: this.modelPro.id, token: this.$session.get('token') });
          const tmp = pro.data[0];
          this.p = tmp;
          // Search in the database the land lots corresponding to the owner
          const response = await bdd.findPar({ proprietaire: this.modelPro.id, token: this.$session.get('token') });
          this.r = response.data;
          // Sort the results by land lot's number
          await this.r.sort(this.sortByString('numero'));
          this.rues = this.r;
          // For each land lot, if its coordinates are correct,
          // add them to the coordinates array to display them on the map
          this.r.forEach((element) => {
            if (element.longitude !== null && element.latitude !== null
              && element.longitude !== 0 && element.latitude !== 0) {
              const tab = [element.latitude, element.longitude, element.numero];
              this.listeCoord.push(tab);
            }
          });
          // Set the actual result state
          this.resultRue = false;
          this.resultPro = true;
          this.resultLieu = false;
          this.resultPar = false;
          this.pbPro = false;
        }
      } else if (this.type === 'Lieu-dit') {
        // Said location block
        // Search in the database the corresponding said location
        const response = await bdd.findLieu({ lieuDit: this.searchLieu, token: this.$session.get('token') });
        this.r = response.data;
        this.rues = this.r;
        // For each result, if its coordinates are correct,
        // add them to the coordinates array to display them on the map
        this.r.forEach((element) => {
          if (element.longitude !== null && element.latitude !== null) {
            const tab = [element.latitudeD, element.longitudeD, element.nom];
            this.listeCoord.push(tab);
          }
        });
        // Set the actual result state
        this.resultRue = false;
        this.resultPro = false;
        this.resultLieu = true;
        this.resultPar = false;
      } else if (this.type === 'Parcelle') {
        // Parcelle (land lot) block
        // Search in the database the corresponding land lots
        const par = await bdd.findParNumero({ numero: this.searchPar, token: this.$session.get('token') });
        this.r = par.data;
        // Sort the results by land lot's number
        await this.r.sort(this.sortByString('numero'));
        this.rues = this.r;
        // For each land lot,
        // add its coordinates to the coordinates array to display them on the map
        this.r.forEach((element) => {
          const tab = [element.latitude, element.longitude, element.numero];
          this.listeCoord.push(tab);
        });
        // Set the actual result state
        this.resultRue = false;
        this.resultPro = false;
        this.resultLieu = false;
        this.resultPar = true;
      }
    },
    /**
     * Search owner names, similar to the one given in parameter
     */
    async textePro(val) {
      let v = val;
      if (val === null || val === undefined) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        this.itemsPro = []; // Reset the array
        // Search in the database the corresponding owners
        const response = await bdd.findPro({ words: val.toString().trim().split(' '), token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding owner name to the array
        res.forEach((element) => {
          if (element.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: `${element.nom} ${element.prenom}` });
          } else {
            // eslint-disable-next-line
            this.itemsPro.push({ id: element._id, value: element.nomEntreprise });
          }
        });
      } else {
        this.itemsPro = [];
      }
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (val === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding roads
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding street name to the array
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        this.listeRue = [];
      }
    },
    /**
     * Search said location names, similar to the one given in parameter
     */
    async texteLieu(val) {
      let v = val;
      if (val === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding said location
        const response = await bdd.findLieuDit({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding said location name to the array
        res.forEach((element) => {
          this.listeLieu.push(element.nom);
        });
      } else {
        this.listeLieu = [];
      }
    },
    /**
     * Update map elements with the Map's updateMap property.
     * @param {The roads' array returned in mapOn (see map.vue)} val
     */
    updateMap(val) {
      const liste = [];
      // If the element is in a street visible on the map, add it to the list
      this.r.forEach((element) => {
        val.forEach((v) => {
          // If the type of element is owner or land load
          if (this.type === 'Propriétaire' || this.type === 'Parcelle') {
            if (element.numero === v) {
              liste.push(element);
            }
          } else if (this.type === 'Rue' || this.type === 'Lieu-dit') {
            // If the type of element is street or said-location
            if (element.nom === v) {
              liste.push(element);
            }
          }
        });
      });
    },
    /**
     * Search land lot numbers, similar to the one given in parameter
     */
    async textePar(val) {
      let v = val;
      if (val === null) {
        v = '';
      }
      // Search only if the value's length is more than 1
      if (v.length >= 1) {
        // Search in the database the corresponding land lots
        const response = await bdd.findParcellesNumero({ numero: v, token: this.$session.get('token') });
        const res = response.data;
        await res.sort(this.sortByString('numero')); // Sort results by land lot's number
        // For each result, add the corresponding land lot number to the array
        res.forEach((element) => {
          this.listePar.push(element.numero);
        });
      } else {
        this.listePar = [];
      }
    },
    /**
     * Compare two strings of a JSON property according to the parameter given
     * @param {The property to check} str
     * @returns {An integer to know where are situated the strings}
     */
    sortByString(str) {
      return (a, b) => a[str].localeCompare(b[str]);
    },
    /**
     * Function that allows the user to download and print the list of owner in a street
     */
    async downloadList(nom) {
      // Initialize the pdf with header, footer and configuration
      pdfMake.vfs = pdfFonts.pdfMake.vfs;
      const date = new Date();
      const docDefinition = {
        pageOrientation: 'landscape',
        header: {
          text: `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`, margin: [30, 20], bold: true, fontSize: 14,
        },
        footer(currentPage, pageCount) {
          return [
            { text: `Page ${currentPage.toString()} sur ${pageCount}`, alignment: 'center' },
          ];
        },
        content: [],
        styles: {
          header: {
            fontSize: 11,
            bold: true,
            margin: [0, 0, 0, 5],
          },
          body: {
            fontSize: 11,
          },
        },
      };
      // Search city and postal code of the street
      // Search land loads of the street
      // eslint-disable-next-line
      const response = await bdd.findParcellesRue({ nom: nom, token: this.$session.get('token') });
      const pars = response.data;
      if (pars.length !== 0) {
        this.snackbar = true;
        // Create and sort an array of house's number
        const sortNumHouse = [];
        pars.forEach((element) => {
          sortNumHouse.push(parseInt(element.numAssocies[0].numeroRue, 10));
        });
        await sortNumHouse.sort((a, b) => a - b);
        // Create an array to put element added
        const added = [];
        // Set the style content of the pdf
        docDefinition.content.push(
          {
            text: nom, alignment: 'center', margin: [0, 20], bold: true, fontSize: 17,
          },
          {
            layout: {
              hLineWidth(j, node) {
                let ret;
                if (j === 0) {
                  ret = 0;
                } else if (j === 1 || j === node.table.body.length) {
                  ret = 2;
                } else {
                  ret = 1;
                }
                return ret;
              },
              vLineWidth() {
                return 0;
              },
            },
            table: {
              widths: ['*', '*', '*', '*', '*'],
              headerRows: 1,
              body: [
                [{ text: 'NOM PROPRIÉTAIRE', style: 'header' }, { text: 'ADRESSE PROPRIÉTAIRE', style: 'header' }, { text: 'REF CADASTRALE', style: 'header' }, { text: 'GÉOLOCALISATION', style: 'header' }, { text: 'NOUVELLE ADRESSE CADASTRALE', style: 'header' }],
              ],
            },
          },
        );
        // Find the land load according to the house number
        sortNumHouse.forEach((element) => {
          let find = false;
          let n = 0;
          let par = null;
          while (n < pars.length && !find) {
            if (parseInt(pars[n].numAssocies[0].numeroRue, 10) === parseInt(element, 10)) {
              // Verify that the element is not already added
              if (added.includes(element)) {
                // If the element is already added, verify if there is bis, ter, ...
                if (pars[n].numAssocies[0].bisTer !== '') {
                  // Save land load
                  par = pars[n];
                  find = true;
                }
              } else {
                // Save land load
                par = pars[n];
                // Add the element to added array
                added.push(element);
                find = true;
              }
            }
            n += 1;
          }
          if (par !== null) {
            // Save owners
            const prop = par.proprietaire;
            const textValue = [];
            // Owner name
            if (prop.civilite !== 'Entreprise') {
              textValue.push({ text: `${prop.nom.toString().toUpperCase()} ${prop.prenom}`, style: 'body' });
            } else {
              textValue.push({ text: `${prop.nomEntreprise.toString().toUpperCase()}`, style: 'body' });
            }
            // Owner address
            textValue.push({
              text: `${prop.numero} ${prop.bisTer} ${prop.rue} ${prop.complement} ${prop.lieuDit}
                ${prop.codePostal} ${prop.ville}`,
              style: 'body',
            });
            // Cadastral reference
            textValue.push({ text: `${par.numero}`, style: 'body' });
            // Geolocalisation
            textValue.push({ text: `Lat ${par.latitude.toFixed(6)}° \n Long ${par.longitude.toFixed(6)}°`, style: 'body' });
            // New cadastral address
            textValue.push({
              text: `${par.numAssocies[0].numeroRue} ${par.numAssocies[0].bisTer} ${nom} ${par.numAssocies[0].complement}
                ${this.config.postalCode} ${this.config.name.toString().toUpperCase()}`,
              style: 'body',
            });
            docDefinition.content[1].table.body.push(textValue);
          }
        });
        pdfMake.createPdf(docDefinition).download(`ListePropriétaires-${nom}.pdf`);
      } else {
        this.snackbarErrorPar = true;
      }
    },
    /**
     * Function that allows the user to download and print the list of land load for IGN
     */
    async downloadIGN(nom) {
      const obj = [];
      // Search all land lot of a street
      // eslint-disable-next-line
      const response = await bdd.findParcellesRue({ nom: nom, token: this.$session.get('token') });
      const pars = response.data;
      if (pars.length !== 0) {
        this.snackbar = true;
        // Create and sort an array of house's number
        const sortNumHouse = [];
        pars.forEach((element) => {
          sortNumHouse.push(parseInt(element.numAssocies[0].numeroRue, 10));
        });
        await sortNumHouse.sort((a, b) => a - b);
        // Create an array to put element added in the document
        const added = [];
        const parcelles = [];
        sortNumHouse.forEach((element) => {
          let find = false;
          let n = 0;
          let par = null;
          while (n < pars.length && !find) {
            if (parseInt(pars[n].numAssocies[0].numeroRue, 10) === parseInt(element, 10)) {
              // Verify that the element is not already added
              if (added.includes(element)) {
                // If the element is already added, verify if there is bis, ter, ...
                if (pars[n].numAssocies[0].bisTer !== '') {
                  // Save land load
                  par = pars[n];
                  parcelles.push(par);
                  find = true;
                }
              } else {
                // Save land load
                par = pars[n];
                // Add the element to added array
                added.push(element);
                parcelles.push(par);
                find = true;
              }
            }
            n += 1;
          }
        });
        // Land lot to show on the document
        parcelles.forEach((element) => {
          const ign = [];
          ign.refCadastrale = element.numero;
          ign.latitude = element.latitude.toFixed(6).toString().concat('°');
          ign.longitude = element.longitude.toFixed(6).toString().concat('°');
          ign.nouvelleAdresse1 = '';
          ign.nouvelleAdresse2 = '';
          element.numAssocies.forEach((numAsso, index) => {
          // eslint-disable-next-line
            eval('ign.nouvelleAdresse' + (index + 1) + ' = ' + '`${numAsso.numeroRue} ${numAsso.bisTer} ${element.rue.nom} ${numAsso.complement}`' + ';');
          });
          obj.push(ign);
        });
        const header = Object.keys(obj[0]);
        let csv = obj.map(row => header.map(fieldName => JSON.stringify(row[fieldName])).join(';'));
        csv.unshift(header.join(';'));
        csv = csv.join('\r\n');
        const data = encodeURIComponent(csv);
        // Download of the document
        const link = document.createElement('a');
        link.setAttribute('href', `data:text/csv;charset=utf-8,%EF%BB%BF${data}`);
        link.setAttribute('download', `listingParcellesIGN-${nom}.csv`);
        link.click();
      } else {
        this.snackbarErrorPar = true;
      }
    },
  },
};
</script>
