<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to delete an article -->
<template>
    <div align="center">
    <br/>
    <h1>Suppression : {{ this.$route.params.nom }} ({{ this.$route.params.categorie }})</h1>
    <br/>
    <!-- Display the image of the article to delete -->
    <div v-if="showImage" class="custom-bloc">
      <v-img
        :src="imageSrc"
        contain
        alt="Image du panneau"
        max-width="180"
        aspect-ratio="1"
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular width="3" indeterminate color="primary"/>
          </v-row>
        </template>
      </v-img>
    </div>
    <h3>Souhaitez-vous supprimer cet article ?</h3>
    <br/>
    <div class="center">
      <!-- Button to delete -->
      <div class="custom-button mr-5">
        <v-btn color="primary" depressed rounded @click="deleteArticle">Supprimer</v-btn>
      </div>
      <!-- Button to exit -->
      <div class="custom-button ml-5">
        <v-btn color="primary" rounded outlined
          v-bind:to="{ name:'Materiaux', params:{ type: 'Commande' } }"
          >Annuler</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
// Access to functions to find, modify or delete articles elements in the database
import bddCommande from '@/services/BddCommande';

export default {
  data() {
    return {
      // Boolean to know if the image has to be displayed
      showImage: false,
      // Store the temporary url used to display the image
      imageSrc: '',
      // Id of the article's small sign
      idPanonceau: '',
    };
  },
  created() {
    // Redirect the user to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      // Return to the previous page
      this.$router.push({
        name: 'Materiaux',
        params: { type: 'Commande' },
      });
    }
  },
  async mounted() {
    // Get the article to delete
    await this.getArticle();
  },
  methods: {
    /**
     * Asynchronous function to delete the article
     */
    async deleteArticle() {
      // Delete the article's small sign
      if (this.idPanonceau !== '') {
        await bddCommande.deleteArticle({
          id: this.idPanonceau,
          token: this.$session.get('token'),
        });
      }
      // Delete the article
      await bddCommande.deleteArticle({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Return to the previous page
      this.$router.push({
        name: 'Materiaux',
        params: { type: 'Commande' },
      });
    },
    /**
     * Create a temporary URL from the Buffer image given
     * @param {The Buffer image} image
     * @return {The temporary URL used to display the image}
     */
    bufferToImage(image) {
      // Transform the content of the buffer into a Blob
      const blob = new Blob([new Uint8Array(image.data)]);
      // Return an url of the blob to display the image
      return URL.createObjectURL(blob);
    },
    /**
     * Asynchronous function to get the article to delete
     */
    async getArticle() {
      // Get the article to delete
      const response = await bddCommande.getArticle({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      // Set the variables according to the result
      const article = response.data;
      if (article !== null && article !== undefined) {
        let img = article.wholeImage;
        if (img !== undefined && img.data.length > 0) {
          this.showImage = true;
          this.imageSrc = this.bufferToImage(img);
        } else {
          img = article.image;
          if (img !== undefined && img.data.length > 0) {
            this.showImage = true;
            this.imageSrc = this.bufferToImage(img);
          }
        }
        if (article.panonceauRef !== undefined) {
          this.idPanonceau = article.panonceauRef;
        }
      }
    },
  },
};
</script>
