<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to download a letter with a listing in a .zip file.
  These letters can then sent to the owners.
  The letters (.docx) can be created automatically with the data (.csv)
-->
<template>
    <div app>
      <h1 align="center">
        Courrier : Téléchargement des données ({{ courrier.nom }})
      </h1>
      <br/>
      <br/>
      <div class="flex">
        <!-- Form -->
        <v-form class="ajouter-bloc" ref="formTelechargementListingRue"
          v-model="validTelechargementListing">
          <!-- Select the streets concerned -->
          <div class="custom-bloc mb-2">
            <v-autocomplete
              class="custom-text-field custom-autocomplete"
              label="Rue(s) (*)"
              cache-items
              multiple
              v-model="rue"
              :items="listeRue"
              no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
              :search-input.sync="searchRue"
              outlined
              rounded
              dense
            >
              <template v-slot:selection="data">
                <v-chip
                  v-bind="data.attrs"
                  :input-value="data.selected"
                  color="primary"
                  close
                  @click:close="remove(data.item, rue)"
                >
                  {{ data.item }}
                </v-chip>
              </template>
            </v-autocomplete>
          </div>
          <!-- Select the owners concerned -->
          <div class="custom-bloc mb-2">
            <!-- Allow to select the desired element to search for, thanks to autocompletion -->
            <v-autocomplete
              v-model="pro"
              class="custom-text-field custom-autocomplete"
              :items="listePro"
              label="Propriétaire(s) (*)"
              cache-items
              multiple
              return-object
              :filter="(item) => this.listePro.some(res => res.id === item.id)"
              no-data-text="Le propriétaire indiqué n'existe pas, veuillez d'abord le créer."
              :search-input.sync="searchPro"
              item-text="value"
              item-value="id"
              outlined
              rounded
              dense
            >
              <template v-slot:selection="data">
                <v-chip
                  v-bind="data.attrs"
                  :input-value="data.selected"
                  color="primary"
                  close
                  @click:close="remove(data.item, pro)"
                >
                  {{ data.item.value }}
                </v-chip>
              </template>
              <template v-slot:item="{ parent, item, on, attrs }">
                <v-list-item v-on="on" v-bind="attrs">
                  <v-list-item-title>
                    {{ item.value }}
                  </v-list-item-title>
                </v-list-item>
              </template>
            </v-autocomplete>
          </div>
          <!-- Type of the listing to download -->
          <div class="custom-bloc">
            <v-select
              class="custom-text-field custom-autocomplete"
              label="Type de listing (*)"
              v-model="type"
              :rules="requiredRules"
              :items="listeDocuments"
              item-text="value"
              item-value="id"
              outlined
              rounded
              dense
            />
          </div>
        </v-form>
      </div>
      <div class="mt-4" align="center">
        <label class="font-lighter">Les champs (*) sont requis.</label>
      </div>
      <br/>
      <div class="center">
        <!-- Button to download the .zip -->
        <div class="custom-button mr-5">
          <v-btn color="primary" depressed rounded
            :disabled="(pro.length <= 0 && rue.length <= 0) || !validTelechargementListing"
            @click="downloadCourrier">Télécharger</v-btn>
        </div>
        <!-- Button to exit the form -->
        <div class="custom-button ml-5">
          <v-btn color="primary" rounded outlined
          v-bind:to="{ name: 'EditionCourrier',
            params: { id: this.$route.params.id }}">Retour</v-btn>
        </div>
      </div>
      <!-- Display a snackbar to inform the user that the listing will be printed -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        v-model="snackbar"
        :timeout="timeout"
      >Le listing demandé va être édité...</v-snackbar>
      <!-- Display an error snackbar to inform the user that the owners or streets selected contain
        no data -->
      <v-snackbar
        color="red"
        class="custom-snackbar"
        v-model="snackbarError"
        :timeout="timeout"
      >Le listing demandé ne contient aucune donnée</v-snackbar>
    </div>
</template>

<script>
// Import 'jszip' module to generate .zip files
import JSZip from 'jszip';
// Import 'html-docx-js' module to transform HTML into .docx
import htmlDocx from 'html-docx-js/dist/html-docx';
// Import 'file-saver' module to let the user download files
import saveAs from 'file-saver';
// Access to functions to use the users related database
import bdd from '@/services/Bdd';
// Access to functions to find, modify or delete documents (letters) elements in the database
import bddCourrier from '@/services/BddCourrier';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  data() {
    return {
      // Configuration object
      config: configGlobal,
      // Form rules to force a field to be required
      requiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
      ],

      snackbar: false, // Boolean to display the snackbar if it is set to true
      snackbarError: false, // Boolean to display the snackbar if it is set to true
      timeout: 3000, // Time of the snackbar's duration

      // Letter's content
      courrier: '',

      // Boolean to know if the listing's form is correctly completed
      validTelechargementListing: false,
      // Index to know which listing has to be downloaded
      type: '',
      // Streets selected to download the listing
      rue: [],
      // String of the input's street name
      searchRue: '',
      // Array to display the temporary street's name which match with the actual search input
      listeRue: [],
      // Owners selected to download the listing
      pro: [],
      // String of the input's owner name
      searchPro: '',
      // Array to display the temporary owner's name which match with the actual search input
      listePro: [],

      // Type of documents which could be downloaded
      listeDocuments: [
        {
          id: 1,
          value: 'Listing des propriétaires d\'une rue',
        },
        {
          id: 2,
          value: 'Listing des parcelles d\'une rue (IGN)',
        },
        {
          id: 3,
          value: 'Listing de confirmation de nouvelle adresse',
        },
        {
          id: 4,
          value: 'Listing de demande de propositions de nom de rue par les propriétaires',
        },
      ],
    };
  },
  created() {
    // Redirect to the previous page if no data is provided
    if (this.$route.params.id === undefined || this.$route.params.id === '') {
      this.$router.push({
        name: 'Documents',
        params: { showListe: true },
      });
    }
  },
  async mounted() {
    // Get the letter to download from the database
    this.courrier = await this.getCourrier();
  },
  watch: {
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
    /**
     * Search in real time owner names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchPro(val) {
      this.textePro(val);
    },
  },
  methods: {
    /**
     * Function to remove an item in an array
     * @param {The item to remove} item
     * @param {The array in which the item has to be removed} array
     */
    remove(item, array) {
      const index = array.indexOf(item);
      if (index >= 0) {
        array.splice(index, 1);
      }
    },
    /**
     * Asynchronous function to get the letter from the database
     * @return {The research's result}
     */
    async getCourrier() {
      const response = await bddCourrier.getCourrier({
        id: this.$route.params.id,
        token: this.$session.get('token'),
      });
      return response.data;
    },
    /**
     * Download the letter and its data and put it in a .zip file
     */
    downloadCourrier() {
      if (this.courrier !== undefined && this.courrier.contenu !== undefined) {
        // this.snackbar1 = true;
        const zip = new JSZip();
        // Add the .docx file (letter) in the zip instance
        this.downloadDocumentWord(zip);
        // Add the .csv file (data) in the zip instance
        this.downloadListing(zip)
          .then(() => {
            // Generate the .zip file
            zip.generateAsync({ type: 'blob' })
              .then((blob) => {
                const date = new Date();
                // Let the user download the .zip file
                saveAs(blob, `Publipostage_${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}.zip`);
                // Return to the documents' page
                this.$router.push({ name: 'Documents', params: { showListe: true } });
              });
          });
      }
    },
    /**
     * Add in the .zip the letter in .docx
     * @param {The zip instance in which the file has to be added} zip
     */
    downloadDocumentWord(zip) {
      // Get the document's content
      const content = this.courrier.contenu;
      // Transform the HTML in a .docx Blob
      const converted = htmlDocx.asBlob(content);
      // Let the user download the file
      zip.file(`${this.courrier.nom}.docx`, converted);
    },
    /**
     * Search the street given's land lots in the database and set the data returned
     * @param {The street's name to search} rue
     * @param {The object in which the land lots has to be added} obj
     * @return {Promise}
     */
    getDataRue(rue, obj) {
      return new Promise((resolve) => {
        // Search the street's land lots in the database
        bdd.findParcellesRue({ nom: rue, token: this.$session.get('token') }).then((response) => {
          // Set the land lots
          this.setData(obj, response.data, true, rue);
          resolve();
        });
      });
    },
    /**
     * Search the owner given's land lots in the database and set the data returned
     * @param {The owner's name to search} pro
     * @param {The object in which the land lots has to be added} obj
     * @return {Promise}
     */
    getDataPro(pro, obj) {
      return new Promise((resolve) => {
        // Search the owner's land lots in the database
        bdd.findPar({ proprietaire: pro.id, token: this.$session.get('token') }).then((response) => {
          // Set the land lots
          this.setData(obj, response.data, false);
          resolve();
        });
      });
    },
    /**
     * Set the data given in the object given
     * @param {The object in which the data has to be added} obj
     * @param {The data (land lots) to add} parcellesData
     * @param {Boolean to know if the street name is provided} isRueSet
     * @param {The street's name if it is provided} rue
     */
    setData(obj, parcellesData, isRueSet, rue) {
      // Get the land lots
      const parcelles = Array.from(parcellesData);
      parcelles.sort(this.sortByString('numero'));
      // Set the data in a different way according to the type of listing chosen
      switch (this.type) {
        // Street's owners
        case 1:
          // For each land lot
          parcelles.forEach((element) => {
            // Set the street name
            let rueName = '';
            if (!isRueSet) {
              rueName = element.rue.nom.toString();
            } else {
              rueName = rue;
            }
            // Create a line of the object for each number associated to the land lot
            if (element.numAssocies.length > 0) {
              element.numAssocies.forEach((numAsso) => {
                // Set the line data
                const par = [];
                if (element.proprietaire.civilite !== 'Entreprise') {
                  par.civilite = element.proprietaire.civilite;
                  par.nomProprietaire = `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`;
                } else {
                  par.civilite = 'Monsieur ou Madame';
                  par.nomProprietaire = element.proprietaire.nomEntreprise.toUpperCase();
                }
                par.numeroPro = element.proprietaire.numero;
                par.bisTerPro = element.proprietaire.bisTer;
                par.ruePro = element.proprietaire.rue;
                par.complementPro = element.proprietaire.complement;
                par.lieuDitPro = element.proprietaire.lieuDit;
                par.codePostalPro = element.proprietaire.codePostal;
                par.villePro = element.proprietaire.ville;
                par.numParcelle = element.numero;
                par.latitude = element.latitude.toFixed(6);
                par.longitude = element.longitude.toFixed(6);
                par.nouvelleAdresse = `${numAsso.numeroRue} ${numAsso.bisTer} ${rueName} ${numAsso.complement} ${this.config.postalCode} ${this.config.name.toString().toUpperCase()}`;
                // Add the line
                obj.push(par);
              });
            } else {
              // Set the line data
              const par = [];
              if (element.proprietaire.civilite !== 'Entreprise') {
                par.civilite = element.proprietaire.civilite;
                par.nomProprietaire = `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`;
              } else {
                par.civilite = 'Monsieur ou Madame';
                par.nomProprietaire = element.proprietaire.nomEntreprise.toUpperCase();
              }
              par.numeroPro = element.proprietaire.numero;
              par.bisTerPro = element.proprietaire.bisTer;
              par.ruePro = element.proprietaire.rue;
              par.complementPro = element.proprietaire.complement;
              par.lieuDitPro = element.proprietaire.lieuDit;
              par.codePostalPro = element.proprietaire.codePostal;
              par.villePro = element.proprietaire.ville;
              par.numParcelle = element.numero;
              par.latitude = element.latitude.toFixed(6);
              par.longitude = element.longitude.toFixed(6);
              // Add the line
              obj.push(par);
            }
          });
          break;
        // Street's land lots for the IGN
        case 2:
          // For each land lot
          parcelles.forEach((element) => {
            // Set the street name
            let rueName = '';
            if (!isRueSet) {
              rueName = element.rue.nom.toString();
            } else {
              rueName = rue;
            }
            // Create a line of the object for each number associated to the land lot
            if (element.numAssocies.length > 0) {
              element.numAssocies.forEach((numAsso) => {
                // Set the line data
                const par = [];
                par.numParcelle = element.numero;
                par.latitude = element.latitude.toFixed(6);
                par.longitude = element.longitude.toFixed(6);
                par.nouvelleAdresse = `${numAsso.numeroRue} ${numAsso.bisTer} ${rueName} ${numAsso.complement} ${this.config.postalCode} ${this.config.name.toString().toUpperCase()}`;
                // Add the line
                obj.push(par);
              });
            } else {
              // Set the line data
              const par = [];
              par.numParcelle = element.numero;
              par.latitude = element.latitude.toFixed(6);
              par.longitude = element.longitude.toFixed(6);
              // Add the line
              obj.push(par);
            }
          });
          break;
        // Owner's data to confirm a new address
        case 3:
          // For each land lot
          parcelles.forEach((element) => {
            // Set the street name
            let rueName = '';
            if (!isRueSet) {
              rueName = element.rue.nom.toString();
            } else {
              rueName = rue;
            }
            // Create a line of the object for each number associated to the land lot
            if (element.numAssocies.length > 0) {
              element.numAssocies.forEach((numAsso) => {
                // Set the line data
                const par = [];
                par.numParcelle = element.numero;
                if (element.proprietaire.civilite !== 'Entreprise') {
                  par.civilite = element.proprietaire.civilite;
                  par.nomProprietaire = `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`;
                } else {
                  par.civilite = 'Monsieur ou Madame';
                  par.nomProprietaire = element.proprietaire.nomEntreprise.toUpperCase();
                }
                par.numeroPro = element.proprietaire.numero;
                par.bisTerPro = element.proprietaire.bisTer;
                par.ruePro = element.proprietaire.rue;
                par.complementPro = element.proprietaire.complement;
                par.lieuDitPro = element.proprietaire.lieuDit;
                par.codePostalPro = element.proprietaire.codePostal;
                par.villePro = element.proprietaire.ville;
                par.nouvelleAdresse = `${numAsso.numeroRue} ${numAsso.bisTer} ${rueName} ${numAsso.complement} ${this.config.postalCode} ${this.config.name.toString().toUpperCase()}`;
                // Add the line
                obj.push(par);
              });
            } else {
              // Set the line data
              const par = [];
              par.numParcelle = element.numero;
              if (element.proprietaire.civilite !== 'Entreprise') {
                par.civilite = element.proprietaire.civilite;
                par.nomProprietaire = `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`;
              } else {
                par.civilite = 'Monsieur ou Madame';
                par.nomProprietaire = element.proprietaire.nomEntreprise.toUpperCase();
              }
              par.numeroPro = element.proprietaire.numero;
              par.bisTerPro = element.proprietaire.bisTer;
              par.ruePro = element.proprietaire.rue;
              par.complementPro = element.proprietaire.complement;
              par.lieuDitPro = element.proprietaire.lieuDit;
              par.codePostalPro = element.proprietaire.codePostal;
              par.villePro = element.proprietaire.ville;
              // Add the line
              obj.push(par);
            }
          });
          break;
        // Street's owners to ask street's name propositions
        case 4:
          // For each land lot
          parcelles.forEach((element) => {
            // Set the line data
            const par = [];
            par.numParcelle = element.numero;
            if (element.proprietaire.civilite !== 'Entreprise') {
              par.civilite = element.proprietaire.civilite;
              par.nomProprietaire = `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`;
            } else {
              par.civilite = 'Monsieur ou Madame';
              par.nomProprietaire = element.proprietaire.nomEntreprise.toUpperCase();
            }
            par.numeroPro = element.proprietaire.numero;
            par.bisTerPro = element.proprietaire.bisTer;
            par.ruePro = element.proprietaire.rue;
            par.complementPro = element.proprietaire.complement;
            par.lieuDitPro = element.proprietaire.lieuDit;
            par.codePostalPro = element.proprietaire.codePostal;
            par.villePro = element.proprietaire.ville;
            // Add the line
            obj.push(par);
          });
          break;
        default:
          break;
      }
    },
    /**
     * Function to download a listing from data in the database
     * @param {The JSZIP instance in which the file has to added} zip
     * @return {Promise}
     */
    downloadListing(zip) {
      return new Promise((resolve) => {
        this.snackbar = true;
        let ifVide = false;
        const promise = new Promise((resolver) => {
          this.rue.forEach(async (element, i) => {
            // Search all the land lots of each street
            const response = await bdd.findParcellesRue({ nom: element, token: this.$session.get('token') });
            const parcelles = response.data;
            if (parcelles.length === 0) {
              ifVide = true;
            }
            if (this.rue.length === i + 1) {
              resolver();
            }
          });
          if (this.pro.length > 0) {
            resolver();
          }
        });
        promise.then(() => {
          if (!ifVide || this.pro.length > 0) {
            const results = [];
            const obj = [];
            // eslint-disable-next-line
            for (const rue of this.rue) {
              // Get the data from the street and add it to the file
              results.push(this.getDataRue(rue, obj));
            }
            // eslint-disable-next-line
            for (const pro of this.pro) {
              // Get the data from the owner and add it to the file
              results.push(this.getDataPro(pro, obj));
            }
            Promise.all(results).then(() => {
              // Create the .csv file
              const header = Object.keys(obj[0]);
              let csv = obj.map(row => header.map(fieldName => JSON.stringify(row[fieldName])).join(';'));
              csv.unshift(header.join(';'));
              csv = csv.join('\r\n');
              // Force the encoding when opened in Excel
              const universalBOM = '\uFEFF';
              csv = universalBOM.concat(csv);
              // Add the .csv file in the .zip
              zip.file('Données.csv', csv);
              resolve();
            });
          } else {
            this.snackbarError = true;
          }
        });
      });
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (v === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding roads
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding street name to the array
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        this.listeRue = [];
      }
    },
    /**
     * Search owner names, similar to the one given in parameter
     */
    async textePro(val) {
      let v = val;
      if (val === null || val === undefined) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        this.listePro = []; // Reset the array
        // Search in the database the corresponding owners
        const response = await bdd.findPro({ words: val.toString().trim().split(' '), token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding owner name to the array
        res.forEach((element) => {
          if (element.civilite !== 'Entreprise') {
            // eslint-disable-next-line
            this.listePro.push({ id: element._id, value: `${element.nom} ${element.prenom}` });
          } else {
            // eslint-disable-next-line
            this.listePro.push({ id: element._id, value: element.nomEntreprise });
          }
        });
      } else {
        this.itemsPro = [];
      }
    },
    /**
     * Sort string values
     */
    sortByString(str) {
      return (a, b) => a[str].localeCompare(b[str]);
    },
  },
};
</script>
