<!--
Copyright ou © ou Copr. Sébastien GAVIGNET et Alizée HAMON, (07/07/2020)

Contributeurs :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

Ce logiciel est un programme informatique servant à gérer l'urbanisme et la voirie
d'une collectivité à travers plusieurs outils :
   - Gestion des rues
   - Gestion des propriétaires
   - Gestion des parcelles
   - Gestion des lieux-dits
   - Commande de panneaux ou autres pour la signalisation
   - Gestion des propositions de noms de rues
   - Gestion de courriers pour du publipostage à destination des propriétaires. 

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme, le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard l'attention de l'utilisateur est attirée sur les risques
associés au chargement, à l'utilisation, à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant des connaissances informatiques approfondies. Les
utilisateurs sont donc invités à charger et tester l'adéquation du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes.

-------------------------------------------------------------------------

Copyright or © or Copr. Sébastien GAVIGNET and Alizée HAMON (07/07/2020)

Contributors :
- Sébastien GAVIGNET (sebastien.gavignet22@orange.fr)
- Alizée HAMON (alize2301@gmail.com)
- Alex MAINGUY
- Aurélien MARCHAND
- Alan VADELEAU

This software is a computer program whose purpose is to manage the urban
planning and the roads of a community through several tools :
   - Street management
   - Owner management
   - Land lot management
   - Said location management
   - Orders of road signs and others
   - Management of street name suggestions
   - Mail management for direct mail to owners.

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability. 

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and, more generally, to use and operate it in the 
same conditions as regards security. 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->
<!-- Component used to download listings containing owner's and land lot's data.
  These listings can for example be sent to the IGN (Institut Géographique National.
  Their formats are .pdf or .csv
-->
<template>
    <div app>
      <h1 align="center">
        Document : {{ this.listeDocuments.find(doc => doc.id === this.docIndex).value }}
      </h1>
      <br/>
      <!-- Download listing of street's owners -->
      <div v-if="this.docIndex === 1">
        <div class="flex">
          <!-- Form -->
          <v-form class="ajouter-bloc" ref="formTelechargementListingRue"
            v-model="validTelechargementListingRue">
            <!-- Select streets concerned -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field custom-autocomplete"
                label="Rue(s) (*)"
                cache-items
                multiple
                v-model="rue"
                :items="listeRue"
                :rules="requiredRules"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="searchRue"
                outlined
                rounded
                dense
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    color="primary"
                    close
                    @click:close="remove(data.item, rue)"
                  >
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </div>
          </v-form>
        </div>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
        <br/>
        <div class="center">
          <!-- Button to download the listing -->
          <div class="custom-button mr-5">
              <v-btn color="primary" depressed rounded :disabled="!validTelechargementListingRue"
              @click="downloadListingRue(false)">Télécharger</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined
            v-bind:to="{ name: 'Documents' }">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Download listing of street's land lot for IGN -->
      <div v-else-if="this.docIndex === 2">
        <div class="flex">
          <!-- Form -->
          <v-form class="ajouter-bloc" ref="formTelechargementListingRueIGN"
            v-model="validTelechargementListingRueIGN">
            <!-- Select the streets concerned -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field custom-autocomplete"
                label="Rue(s) (*)"
                cache-items
                multiple
                v-model="rue"
                :items="listeRue"
                :rules="requiredRules"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="searchRue"
                outlined
                rounded
                dense
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    color="primary"
                    close
                    @click:close="remove(data.item, rue)"
                  >
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </div>
          </v-form>
        </div>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
        <br/>
        <div class="center">
          <!-- Button to download the listing -->
          <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded :disabled="!validTelechargementListingRueIGN"
            @click="downloadListingRue(true)">Télécharger</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined
            v-bind:to="{ name: 'Documents' }">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Download listing to confirm a new address -->
      <div v-else-if="this.docIndex === 3">
        <div class="flex">
          <!-- Form -->
          <v-form class="ajouter-bloc" ref="formTelechargementListingConfirmations"
            v-model="validTelechargementListingConfirmations">
            <!-- Select the streets concerned -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field custom-autocomplete"
                label="Rue(s) (*)"
                cache-items
                multiple
                v-model="rue"
                :items="listeRue"
                :rules="requiredRules"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="searchRue"
                outlined
                rounded
                dense
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    color="primary"
                    close
                    @click:close="remove(data.item, rue)"
                  >
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </div>
          </v-form>
        </div>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
        <br/>
        <div class="center">
          <!-- Button to download -->
          <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded
            :disabled="!validTelechargementListingConfirmations"
            @click="downloadListingConfirmations">Télécharger</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined
            v-bind:to="{ name: 'Documents' }">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Download listing to ask street's name propositions -->
      <div v-else-if="this.docIndex === 4">
        <div class="flex">
          <!-- Form -->
          <v-form class="ajouter-bloc" ref="formTelechargementListingPropositionsPro"
            v-model="validTelechargementListingPropositionsPro">
            <!-- Select the streets concerned -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field custom-autocomplete"
                label="Rue(s) (*)"
                cache-items
                multiple
                v-model="rue"
                :items="listeRue"
                :rules="requiredRules"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="searchRue"
                outlined
                rounded
                dense
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    color="primary"
                    close
                    @click:close="remove(data.item, rue)"
                  >
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </div>
          </v-form>
        </div>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
        <br/>
        <div class="center">
          <!-- Button to download the listing -->
          <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded
            :disabled="!validTelechargementListingPropositionsPro"
            @click="downloadListingPropositionsPro">Télécharger</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined
            v-bind:to="{ name: 'Documents' }">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Download listing of street's name proposition -->
      <div v-else-if="this.docIndex === 5">
        <div class="flex">
          <!-- Form -->
          <v-form class="ajouter-bloc" ref="formTelechargementListingPropositions"
            v-model="validTelechargementListingPropositions">
            <!-- Select the streets concerned -->
            <div class="custom-bloc">
              <v-autocomplete
                class="custom-text-field custom-autocomplete"
                label="Rue(s) (*)"
                cache-items
                multiple
                v-model="rue"
                :items="listeRue"
                :rules="requiredRules"
                no-data-text="La rue indiquée n'existe pas, veuillez d'abord la créer."
                :search-input.sync="searchRue"
                outlined
                rounded
                dense
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    color="primary"
                    close
                    @click:close="remove(data.item, rue)"
                  >
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </div>
          </v-form>
        </div>
        <div class="mt-4" align="center">
          <label class="font-lighter">Les champs (*) sont requis.</label>
        </div>
        <br/>
        <div class="center">
          <!-- Button to download the listing -->
          <div class="custom-button mr-5">
            <v-btn color="primary" depressed rounded
            :disabled="!validTelechargementListingPropositions"
            @click="downloadListingPropositions">Télécharger</v-btn>
          </div>
          <!-- Button to exit the form -->
          <div class="custom-button ml-5">
            <v-btn color="primary" rounded outlined
            v-bind:to="{ name: 'Documents' }">Quitter</v-btn>
          </div>
        </div>
      </div>
      <!-- Display a snackbar to inform the user that the listing will be printed -->
      <v-snackbar
        color="primary"
        class="custom-snackbar"
        v-model="snackbar"
        :timeout="timeout"
      >Le listing demandé va être édité...</v-snackbar>
      <!-- Display an error snackbar to inform the user that the street(s) selected contain
        no land lot -->
      <v-snackbar
        color="red"
        class="custom-snackbar"
        v-model="snackbarErrorPar"
        :timeout="timeout"
      >Le listing demandé ne contient aucune parcelle</v-snackbar>
      <!-- Display an error snackbar to inform the user that the street(s) selected contain
        no proposition -->
      <v-snackbar
        color="red"
        class="custom-snackbar"
        v-model="snackbarErrorProp"
        :timeout="timeout"
      >Le listing demandé ne contient aucune proposition</v-snackbar>
    </div>
</template>

<script>
// Import 'pdfmake' module to download the document in PDF
/* eslint no-underscore-dangle: 0 */
import pdfMake from 'pdfmake/build/pdfmake';
// Import pdfmake's fonts
import pdfFonts from 'pdfmake/build/vfs_fonts';
// Access to functions to use the users related database
import bdd from '@/services/Bdd';
// Import the global data from the configuration file
import configGlobal from '../../config.global';

export default {
  name: 'telechargementDocument', // Component's name
  data() {
    return {
      // Configuration object
      config: configGlobal,
      // Form rules to force a field to be required
      requiredRules: [
        v => (!!v && v.toString().trim() !== '') || 'Ce champ est requis',
      ],

      snackbar: false, // Boolean to display the snackbar if it is set to true
      snackbarErrorPar: false, // Boolean to display the snackbar if it is set to true
      snackbarErrorProp: false, // Boolean to display the snackbar if it is set to true
      timeout: 3000, // Time of the snackbar's duration

      // Index to know which listing has to be downloaded
      docIndex: this.$route.params.docIndex || 1,

      // Boolean to know if the listing's form is correctly completed
      validTelechargementListingRue: false,
      // Boolean to know if the listing's form is correctly completed
      validTelechargementListingRueIGN: false,
      // Boolean to know if the listing's form is correctly completed
      validTelechargementListingPropositions: false,
      // Boolean to know if the listing's form is correctly completed
      validTelechargementListingPropositionsPro: false,
      // Boolean to know if the listing's form is correctly completed
      validTelechargementListingConfirmations: false,

      // Streets selected to download the listing
      rue: [],
      // String of the input's street name
      searchRue: '',
      // Array to display the temporary street's name which match with the actual search input
      listeRue: [],

      // Type of documents which could be downloaded
      listeDocuments: [
        {
          id: 1,
          value: 'Listing des propriétaires d\'une rue',
        },
        {
          id: 2,
          value: 'Listing des parcelles d\'une rue (IGN)',
        },
        {
          id: 3,
          value: 'Listing de confirmation de nouvelle adresse',
        },
        {
          id: 4,
          value: 'Listing de demande de propositions de nom de rue par les propriétaires',
        },
        {
          id: 5,
          value: 'Listing des propositions de nom d\'une rue',
        },
      ],
    };
  },
  mounted() {
    // Configure pdfMake
    pdfMake.vfs = pdfFonts.pdfMake.vfs;
  },
  watch: {
    /**
     * Search in real time street names, similar to the one given in parameter.
     * It allows to help the user thanks to autocompletion.
     */
    searchRue(val) {
      this.texteRue(val);
    },
  },
  methods: {
    /**
     * Function to remove an item in an array
     * @param {The item to remove} item
     * @param {The array in which the item has to be removed} array
     */
    remove(item, array) {
      const index = array.indexOf(item);
      if (index >= 0) {
        array.splice(index, 1);
      }
    },
    /**
     * Function to download a listing of street's owners
     * or of street's land lot for IGN
     */
    downloadListingRue(IGN) {
      let ifVide = false;
      const promise = new Promise((resolve) => {
        // Search all land lot of each streets
        this.rue.forEach(async (element, i) => {
          const response = await bdd.findParcellesRue({ nom: element, token: this.$session.get('token') });
          const parcelles = response.data;
          if (parcelles.length === 0) {
            ifVide = true;
          }
          if (this.rue.length === i + 1) {
            resolve();
          }
        });
      });
      promise.then(() => {
        // Configure the date
        const date = new Date();
        if (!ifVide) {
          // Create a listing of street's owners
          if (!IGN) {
            // Display the snackbar
            this.snackbar = true;
            // Configure the PDF
            const docDefinition = {
              pageOrientation: 'landscape',
              header: {
                text: `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`, margin: [30, 20], bold: true, fontSize: 14,
              },
              footer(currentPage, pageCount) {
                return [
                  { text: `Page ${currentPage.toString()} sur ${pageCount}`, alignment: 'center' }];
              },
              content: [],
              styles: {
                header: {
                  fontSize: 11,
                  bold: true,
                  margin: [0, 0, 0, 5],
                },
                body: {
                  fontSize: 11,
                },
              },
            };
            let d = 1;
            const promise2 = new Promise((resolve) => {
              // Set text into the body of the document
              this.rue.forEach(async (rue, i) => {
                docDefinition.content.push(
                  {
                    text: rue, alignment: 'center', margin: [0, 20], bold: true, fontSize: 17,
                  },
                  {
                    layout: {
                      hLineWidth(j, node) {
                        let ret;
                        if (j === 0) {
                          ret = 0;
                        } else if (j === 1 || j === node.table.body.length) {
                          ret = 2;
                        } else {
                          ret = 1;
                        }
                        return ret;
                      },
                      vLineWidth() {
                        return 0;
                      },
                    },
                    table: {
                      widths: ['*', '*', '*', '*', '*'],
                      headerRows: 1,
                      body: [
                        [{ text: 'Nom propriétaire', style: 'header' }, { text: 'Adresse propriétaire', style: 'header' }, { text: 'Ref cadastrale', style: 'header' }, { text: 'Géolocalisation', style: 'header' }, { text: 'Nouvelle adresse', style: 'header' }],
                      ],
                    },
                  },
                );
                if (i !== 0) {
                  docDefinition.content[docDefinition.content.length - 2].pageBreak = 'before';
                }
                // Search all land lot of each street
                const response = await bdd.findParcellesRue({ nom: rue, token: this.$session.get('token') });
                const parcelles = response.data;
                // Create and sort an array of house's number
                const sortNumHouse = [];
                parcelles.forEach((element) => {
                  sortNumHouse.push(parseInt(element.numAssocies[0].numeroRue, 10));
                });
                await sortNumHouse.sort((a, b) => a - b);
                // Create an array to put element added
                const added = [];
                const pars = [];
                sortNumHouse.forEach((element) => {
                  let find = false;
                  let n = 0;
                  let par = null;
                  while (n < parcelles.length && !find) {
                    // eslint-disable-next-line
                    if (parseInt(parcelles[n].numAssocies[0].numeroRue, 10) === parseInt(element, 10)) {
                      // Verify that the element is not already added
                      if (added.includes(element)) {
                        // If the element is already added, verify if there is bis, ter, ...
                        if (parcelles[n].numAssocies[0].bisTer !== '') {
                          // Save land load
                          par = parcelles[n];
                          pars.push(par);
                          find = true;
                        }
                      } else {
                        // Save land load
                        par = parcelles[n];
                        // Add the element to added array
                        added.push(element);
                        pars.push(par);
                        find = true;
                      }
                    }
                    n += 1;
                  }
                });
                pars.forEach((element) => {
                  if (element.numAssocies.length > 0) {
                    element.numAssocies.forEach((numAsso) => {
                      const tab = [];
                      if (element.proprietaire.civilite !== 'Entreprise') {
                        tab.push({ text: `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`, style: 'body' });
                      } else {
                        tab.push({ text: `${element.proprietaire.nomEntreprise.toString().toUpperCase()}`, style: 'body' });
                      }
                      tab.push({
                        text: `${element.proprietaire.numero} ${element.proprietaire.bisTer} ${element.proprietaire.rue}
                      ${element.proprietaire.complement} ${element.proprietaire.lieuDit} ${element.proprietaire.codePostal}
                      ${element.proprietaire.ville}`,
                        style: 'body',
                      });
                      tab.push({ text: `${element.numero}`, style: 'body' });
                      tab.push({ text: `Lat ${element.latitude.toFixed(6)}° \n Long ${element.longitude.toFixed(6)}°`, style: 'body' });
                      tab.push({
                        text: `${numAsso.numeroRue} ${numAsso.bisTer} ${rue} ${numAsso.complement}
                          ${this.config.postalCode} ${this.config.name.toString().toUpperCase()}`,
                        style: 'body',
                      });
                      docDefinition.content[d].table.body.push(tab);
                    });
                  } else {
                    const tab = [];
                    if (element.proprietaire.civilite !== 'Entreprise') {
                      tab.push({ text: `${element.proprietaire.nom.toString().toUpperCase()} ${element.proprietaire.prenom}`, style: 'body' });
                    } else {
                      tab.push({ text: `${element.proprietaire.nomEntreprise.toString().toUpperCase()}`, style: 'body' });
                    }
                    tab.push({
                      text: `${element.proprietaire.numero} ${element.proprietaire.bisTer} ${element.proprietaire.rue}
                    ${element.proprietaire.complement} ${element.proprietaire.lieuDit} ${element.proprietaire.codePostal}
                    ${element.proprietaire.ville}`,
                      style: 'body',
                    });
                    tab.push({ text: `${element.numero}`, style: 'body' });
                    tab.push({ text: `Lat ${element.latitude.toFixed(6)}° \n Long ${element.longitude.toFixed(6)}°`, style: 'body' });
                    tab.push({
                      text: `${rue} ${this.config.postalCode} ${this.config.name.toString().toUpperCase()}`,
                      style: 'body',
                    });
                    docDefinition.content[d].table.body.push(tab);
                  }
                });
                d += 2;
                if (this.rue.length === i + 1) {
                  resolve();
                }
              });
            });
            promise2.then(() => {
              // Display a window to download the PDF
              pdfMake.createPdf(docDefinition).download(`ListePropriétaires-${this.rue}.pdf`);
            });
          } else {
            // Create a listing of street's land lot for IGN
            this.snackbar = true;
            const obj = [];

            const promise2 = new Promise((resolve) => {
              this.rue.forEach(async (rue, i) => {
                // Search all land lot of each street
                const response = await bdd.findParcellesRue({ nom: rue, token: this.$session.get('token') });
                const parcelles = response.data;
                // Create and sort an array of house's number
                const sortNumHouse = [];
                parcelles.forEach((element) => {
                  sortNumHouse.push(parseInt(element.numAssocies[0].numeroRue, 10));
                });
                await sortNumHouse.sort((a, b) => a - b);
                // Create an array to put element added
                const added = [];
                const pars = [];
                sortNumHouse.forEach((element) => {
                  let find = false;
                  let n = 0;
                  let par = null;
                  while (n < parcelles.length && !find) {
                    // eslint-disable-next-line
                    if (parseInt(parcelles[n].numAssocies[0].numeroRue, 10) === parseInt(element, 10)) {
                      // Verify that the element is not already added
                      if (added.includes(element)) {
                        // If the element is already added, verify if there is bis, ter, ...
                        if (parcelles[n].numAssocies[0].bisTer !== '') {
                          // Save land load
                          par = parcelles[n];
                          pars.push(par);
                          find = true;
                        }
                      } else {
                        // Save land load
                        par = parcelles[n];
                        // Add the element to added array
                        added.push(element);
                        pars.push(par);
                        find = true;
                      }
                    }
                    n += 1;
                  }
                });
                pars.forEach((element) => {
                  if (element.numAssocies.length > 0) {
                    element.numAssocies.forEach((numAsso) => {
                      const par = [];
                      par.refCadastrale = element.numero;
                      par.latitude = element.latitude.toFixed(6).toString().concat('°');
                      par.longitude = element.longitude.toFixed(6).toString().concat('°');
                      par.nouvelleAdresse = `${numAsso.numeroRue} ${numAsso.bisTer} ${element.rue.nom} ${numAsso.complement}`;
                      obj.push(par);
                    });
                  } else {
                    const par = [];
                    par.refCadastrale = element.numero;
                    par.latitude = element.latitude.toFixed(6).toString().concat('°');
                    par.longitude = element.longitude.toFixed(6).toString().concat('°');
                    par.nouvelleAdresse = '';
                  }
                });
                if (this.rue.length === i + 1) {
                  resolve();
                }
              });
            });
            promise2.then(() => {
              // Prepare the CSV document and allows to download it
              const header = Object.keys(obj[0]);
              let csv = obj.map(row => header.map(fieldName => JSON.stringify(row[fieldName])).join(';'));
              csv.unshift(header.join(';'));
              csv = csv.join('\r\n');

              const data = encodeURIComponent(csv);
              const link = document.createElement('a');
              link.setAttribute('href', `data:text/csv;charset=utf-8,%EF%BB%BF${data}`);
              link.setAttribute('download', `listingParcellesIGN-${this.rue}.csv`);
              link.click();
            });
          }
        } else {
          // Display the error snackbar for land lot
          this.snackbarErrorPar = true;
        }
      });
    },
    /**
     * Function to download a listing to ask
     * street's name propososition
     */
    downloadListingPropositionsPro() {
      // Display the snackbar
      this.snackbar = true;
      let ifVide = false;
      const promise = new Promise((resolve) => {
        // Search land lot for each street
        this.rue.forEach(async (element, i) => {
          const response = await bdd.findParcellesRue({ nom: element, token: this.$session.get('token') });
          const parcelles = response.data;
          if (parcelles.length === 0) {
            ifVide = true;
          }
          if (this.rue.length === i + 1) {
            resolve();
          }
        });
      });
      promise.then(() => {
        if (!ifVide) {
          const obj = [];
          const promise2 = new Promise((resolve) => {
            this.rue.forEach(async (rue, i) => {
              // Search and sort all land lots of each streets
              const response = await bdd.findParcellesRue({ nom: rue, token: this.$session.get('token') });
              const parcelles = response.data;
              await parcelles.sort(this.sortByString('numero'));
              // Get all informations about each land lot
              parcelles.forEach((element) => {
                const par = [];
                par.numParcelle = element.numero;
                par.civilite = element.proprietaire.civilite;
                if (par.civilite !== 'Entreprise') {
                  par.nomProprietaire = `${element.proprietaire.nom} ${element.proprietaire.prenom}`;
                } else {
                  par.nomProprietaire = element.proprietaire.nomEntreprise;
                }
                par.numeroPro = element.proprietaire.numero;
                par.bisTerPro = element.proprietaire.bisTer;
                par.ruePro = element.proprietaire.rue;
                par.complementPro = element.proprietaire.complement;
                par.lieuDitPro = element.proprietaire.lieuDit;
                par.codePostalPro = element.proprietaire.codePostal;
                par.villePro = element.proprietaire.ville;
                obj.push(par);
              });
              if (this.rue.length === i + 1) {
                resolve();
              }
            });
          });
          promise2.then(() => {
            // Prepare the CSV document and allows to download it
            const header = Object.keys(obj[0]);
            let csv = obj.map(row => header.map(fieldName => JSON.stringify(row[fieldName])).join(';'));
            csv.unshift(header.join(';'));
            csv = csv.join('\r\n');

            const data = encodeURIComponent(csv);
            const link = document.createElement('a');
            link.setAttribute('href', `data:text/csv;charset=utf-8,%EF%BB%BF${data}`);
            link.setAttribute('download', `listingPropositionPro-${this.rue}.csv`);
            link.click();
          });
        } else {
          this.snackbarErrorPar = true;
        }
      });
    },
    /**
     * Function to download a listing of confirmation new address
     */
    downloadListingConfirmations() {
      // Display the snackbar
      this.snackbar = true;
      let ifVide = false;
      const promise = new Promise((resolve) => {
        // Search all land lots of each street
        this.rue.forEach(async (element, i) => {
          const response = await bdd.findParcellesRue({ nom: element, token: this.$session.get('token') });
          const parcelles = response.data;
          if (parcelles.length === 0) {
            ifVide = true;
          }
          if (this.rue.length === i + 1) {
            resolve();
          }
        });
      });
      promise.then(() => {
        if (!ifVide) {
          const obj = [];
          const promise2 = new Promise((resolve) => {
            // Search and sort all land lots of each streets
            this.rue.forEach(async (rue, i) => {
              const response = await bdd.findParcellesRue({ nom: rue, token: this.$session.get('token') });
              const parcelles = response.data;
              await parcelles.sort(this.sortByString('numero'));
              // Gets informations about each land lot
              parcelles.forEach((element) => {
                if (element.numAssocies.length > 0) {
                  // Create a line for each number attached to the land lot
                  element.numAssocies.forEach((numAsso) => {
                    const par = [];
                    par.numParcelle = element.numero;
                    par.civilite = element.proprietaire.civilite;
                    if (par.civilite !== 'Entreprise') {
                      par.nomProprietaire = `${element.proprietaire.nom} ${element.proprietaire.prenom}`;
                    } else {
                      par.nomProprietaire = element.proprietaire.nomEntreprise;
                    }
                    par.numeroPro = element.proprietaire.numero;
                    par.bisTerPro = element.proprietaire.bisTer;
                    par.ruePro = element.proprietaire.rue;
                    par.complementPro = element.proprietaire.complement;
                    par.lieuDitPro = element.proprietaire.lieuDit;
                    par.codePostalPro = element.proprietaire.codePostal;
                    par.villePro = element.proprietaire.ville;
                    par.nouvelleAdresse = `${numAsso.numeroRue} ${numAsso.bisTer} ${element.rue.nom} ${numAsso.complement}`;
                    obj.push(par);
                  });
                } else {
                  const par = [];
                  par.numParcelle = element.numero;
                  par.civilite = element.proprietaire.civilite;
                  if (par.civilite !== 'Entreprise') {
                    par.nomProprietaire = `${element.proprietaire.nom} ${element.proprietaire.prenom}`;
                  } else {
                    par.nomProprietaire = element.proprietaire.nomEntreprise;
                  }
                  par.numeroPro = element.proprietaire.numero;
                  par.bisTerPro = element.proprietaire.bisTer;
                  par.ruePro = element.proprietaire.rue;
                  par.complementPro = element.proprietaire.complement;
                  par.lieuDitPro = element.proprietaire.lieuDit;
                  par.codePostalPro = element.proprietaire.codePostal;
                  par.villePro = element.proprietaire.ville;
                  par.nouvelleAdresse = '';
                }
              });
              if (this.rue.length === i + 1) {
                resolve();
              }
            });
          });
          promise2.then(() => {
            // Prepare CSV document and allows to download it
            const header = Object.keys(obj[0]);
            let csv = obj.map(row => header.map(fieldName => JSON.stringify(row[fieldName])).join(';'));
            csv.unshift(header.join(';'));
            csv = csv.join('\r\n');

            const data = encodeURIComponent(csv);
            const link = document.createElement('a');
            link.setAttribute('href', `data:text/csv;charset=utf-8,%EF%BB%BF${data}`);
            link.setAttribute('download', `listingConfirmationNouvelleAdresse-${this.rue}.csv`);
            link.click();
          });
        } else {
          // Display error snackbar for land lot
          this.snackbarErrorPar = true;
        }
      });
    },
    /**
     * Function to download a listing of proposition
     */
    downloadListingPropositions() {
      let ifVide = false;
      const promise = new Promise((resolve) => {
        this.rue.forEach(async (element, i) => {
          // Search all propositions of each street
          const response = await bdd.findProposition({ nom: element, token: this.$session.get('token') });
          const propositions = response.data;
          if (propositions.length === 0) {
            ifVide = true;
          }
          if (this.rue.length === i + 1) {
            resolve();
          }
        });
      });
      promise.then(() => {
        // Configure the date
        const date = new Date();
        if (!ifVide) {
          // Display the snackbar
          this.snackbar = true;
          // Configure the PDF
          const docDefinition = {
            pageOrientation: 'landscape',
            header: {
              text: `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`, margin: [30, 20], bold: true, fontSize: 14,
            },
            footer(currentPage, pageCount) {
              return [
                { text: `Page ${currentPage.toString()} sur ${pageCount}`, alignment: 'center' }];
            },
            content: [],
            styles: {
              header: {
                fontSize: 11,
                bold: true,
                margin: [0, 0, 0, 5],
              },
              body: {
                fontSize: 11,
              },
            },
          };
          let a = 1;
          const promise2 = new Promise((resolve) => {
            // Put the content of the body
            this.rue.forEach(async (rue, i) => {
              docDefinition.content.push(
                {
                  text: rue, alignment: 'center', margin: [0, 20], bold: true, fontSize: 17,
                },
                {
                  layout: {
                    hLineWidth(j, node) {
                      let ret;
                      if (j === 0) {
                        ret = 0;
                      } else if (j === 1 || j === node.table.body.length) {
                        ret = 2;
                      } else {
                        ret = 1;
                      }
                      return ret;
                    },
                    vLineWidth() {
                      return 0;
                    },
                  },
                  table: {
                    widths: ['*', '*', '*', '*', '*'],
                    headerRows: 1,
                    body: [
                      [{ text: 'Nom propriétaire', style: 'header' }, { text: 'Proposition 1', style: 'header' }, { text: 'Proposition 2', style: 'header' }],
                    ],
                  },
                },
              );
              if (i !== 0) {
                docDefinition.content[docDefinition.content.length - 2].pageBreak = 'before';
              }
              // Search all propositions according to the street
              const response = await bdd.findProposition({ nom: rue, token: this.$session.get('token') });
              // Set informations into the PDF
              const propositions = response.data;
              propositions.forEach((element) => {
                const tab = [];
                if (element.proprietaire.civilite !== 'Entreprise') {
                  tab.push({ text: `${element.proprietaire.nom} ${element.proprietaire.prenom}`, style: 'body' });
                } else {
                  tab.push({ text: `${element.proprietaire.nomEntreprise}`, style: 'body' });
                }
                tab.push({ text: element.proposition1, style: 'body' });
                tab.push({ text: element.proposition2, style: 'body' });
                docDefinition.content[a].table.body.push(tab);
              });
              a += 2;
              if (this.rue.length === i + 1) {
                resolve();
              }
            });
          });
          promise2.then(() => {
            // Display a window to download the PDF
            pdfMake.createPdf(docDefinition).download(`ListingProposition-${this.rue}.pdf`);
          });
        } else {
          // Display the error snackbar for proposition
          this.snackbarErrorProp = true;
        }
      });
    },
    /**
     * Search street names, similar to the one given in parameter
     */
    async texteRue(val) {
      let v = val;
      if (v === null) {
        v = '';
      }
      // Search only if the value's length is more than 3
      if (v.length >= 3) {
        // Search in the database the corresponding roads
        const response = await bdd.findRue({ nom: v, token: this.$session.get('token') });
        const res = response.data;
        // For each result, add the corresponding street name to the array
        res.forEach((element) => {
          this.listeRue.push(element.nom);
        });
      } else {
        // Rest the array
        this.listeRue = [];
      }
    },
    /**
     * Sort string values
     */
    sortByString(str) {
      return (a, b) => a[str].localeCompare(b[str]);
    },
  },
};
</script>
